<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 全局参数 -->
    <settings>
        <!-- 使全局的映射器启用或禁用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 允许JDBC 支持自动生成主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 配置默认的执行器.SIMPLE就是普通执行器;REUSE执行器会重用预处理语句(prepared statements);BATCH执行器将重用语句并执行批量更新 -->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <!-- 指定 MyBatis 所用日志的具体实现 -->
        <setting name="logImpl" value="SLF4J"/>
        <!-- 使用驼峰命名法转换字段 -->
        <!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <package name="com.huabo.fxgl.entity"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/huabo/fxgl/mapper/xml/YyCompanyMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/RiskAssplanRiskMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/RiskAssessmentstdMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/RiskMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/RiskAssplanMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/RiskAssplanRiskMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/RiskAssessmentstdMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/OrganizationMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/OuterruleMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/InnerruleMapper.xml"></mapper>
        <mapper resource="com/huabo/fxgl/mapper/xml/ControlmatrixMapper.xml"></mapper>

	<mapper resource="com/huabo/fxgl/mapper/xml/RiskRiskmarkingMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/RiskAttWordMapper.xml" />
	<mapper resource="com/huabo/fxgl/mapper/xml/BugMapper.xml" />
	<mapper resource="com/huabo/fxgl/mapper/xml/AutonoInfoMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/WorksheetMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/RiskeventMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskReportingMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskImplementMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskImprovementMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskMonthlyEvaluationMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskImprovementDetailsMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/ReportMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskReviewOracleMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/RiskcategoryMapper.xml"></mapper>
    <mapper resource="com/huabo/fxgl/mapper/xml/TblMajorRiskCreationMapper.xml"></mapper>
    <mapper resource="com/huabo/fxgl/mapper/xml/TblRiskImplementGroupMapper.xml"></mapper>
    <mapper resource="com/huabo/fxgl/mapper/xml/TblMajorRiskbranchCreateMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskGroupPlanMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/AttachmentMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/StaffMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskMonitoringCreationMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskMonitoringFillMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/RiskLevelmappingMapper.xml"></mapper>
	<mapper resource="com/huabo/fxgl/mapper/xml/TblRiskMonDictonaryMapper.xml"></mapper>
    <mapper resource="com/huabo/fxgl/mapper/xml/TblRiskMonModelMapper.xml"></mapper>
    <mapper resource="com/huabo/fxgl/mapper/xml/TblControlEntriesMapper.xml"></mapper>
    <mapper resource="com/huabo/fxgl/mapper/xml/TblDataSourceMapper.xml"></mapper>
    <mapper resource="com/huabo/fxgl/mapper/xml/TblDataModelMapper.xml"></mapper>
    <mapper resource="com/huabo/fxgl/mapper/xml/TblSqlTemplateMapper.xml"></mapper>
    <mapper resource="com/huabo/fxgl/mapper/xml/ExpressionManagementMapper.xml"></mapper>

    </mappers>

</configuration>