<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblOtherarticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.audit.oracle.entity.TblOtherarticle">
        <id column="OTHARTID" property="othartid" />
        <result column="ARTICLETITLE" property="articletitle" />
        <result column="ARTICLESTATUS" property="articlestatus" />
        <result column="ARUTICLEAUTHER" property="aruticleauther" />
        <result column="PUBLISHTIME" property="publishtime" />
        <result column="MEMO" property="memo" />
        <result column="ORGID" property="orgid" />
        <result column="ARTICLEBODY" property="articlebody" />
        <result column="MODELTYPE" property="modeltype" />
    </resultMap>

</mapper>
