<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.accountant.oracle.mapper.budget.BudgetReportShareMapper">
    <resultMap id="BaseResultMap" type="com.management.accountant.oracle.entity.budget.BudgetReportShare">
        <id     column="ID"               property="id"/>
        <result column="REPORT_ID"        property="reportId"/>
        <result column="REPORT_NAME"      property="reportName"/>
        <result column="SHARE_TYPE"       property="shareType"/>
        <result column="SHARE_TARGET"     property="shareTarget"/>
        <result column="SHARE_URL"        property="shareUrl"/>
        <result column="SHARE_PERMISSION" property="sharePermission"/>
        <result column="EXPIRE_TIME"      property="expireTime"/>
        <result column="REMARK"           property="remark"/>
        <result column="STATUS"           property="status"/>
        <result column="CREATE_BY"        property="createBy"/>
        <result column="CREATE_TIME"      property="createTime"/>
        <result column="DEL_FLAG"         property="delFlag"/>
    </resultMap>
</mapper>
