<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.accountant.oracle.mapper.budget.BudgetConsolidationMapper">

    <select id="selectByConsolidationCode" resultType="com.management.accountant.oracle.entity.budget.BudgetConsolidation">
        SELECT * FROM TBL_BUDGET_CONSOLIDATION WHERE CONSOLIDATION_CODE = #{consolidationCode} AND DEL_FLAG = 0
    </select>

    <select id="selectByConsolidationType" resultType="com.management.accountant.oracle.entity.budget.BudgetConsolidation">
        SELECT * FROM TBL_BUDGET_CONSOLIDATION WHERE CONSOLIDATION_TYPE = #{consolidationType} AND DEL_FLAG = 0 ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByBudgetYear" resultType="com.management.accountant.oracle.entity.budget.BudgetConsolidation">
        SELECT * FROM TBL_BUDGET_CONSOLIDATION WHERE BUDGET_YEAR = #{budgetYear} AND DEL_FLAG = 0 ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByConsolidationStatus" resultType="com.management.accountant.oracle.entity.budget.BudgetConsolidation">
        SELECT * FROM TBL_BUDGET_CONSOLIDATION WHERE CONSOLIDATION_STATUS = #{consolidationStatus} AND DEL_FLAG = 0 ORDER BY CREATE_TIME DESC
    </select>

    <update id="batchDeleteConsolidations">
        UPDATE TBL_BUDGET_CONSOLIDATION SET DEL_FLAG = 1 WHERE CONSOLIDATION_ID IN
        <foreach collection="consolidationIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>

