<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.fxgl.mapper.RiskAttWordMapper">

    <select id="getFile" resultType="RiskAttWord">
        select * from tbl_risk_att_word where orgid= #{orgid}
        <if test="type == 'fygk'">
            and ASSID ='-1' ORDER BY ATTID DESC
        </if>
        <if test="type == 'nkhg'">
            and ASSID= #{id}
        </if>
    </select>
</mapper>
