<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.fxgl.mapper.RiskAssplanRiskMapper">
    <resultMap id="RM_RISK_ASSPLAN_RISK" type="RiskAssplanRisk" autoMapping="true">
        <id column="ASSRISKID" property="assriskid"></id>
        <association property="risk" column="RISKID" javaType="Risk" select="com.huabo.fxgl.mapper.RiskMapper.selectById"></association>
        <!--<association property="assplan" column="ASSPLANID" javaType="RiskAssplan" select="com.huabo.fxgl.mapper.RiskAssplanMapper.selectById"></association>-->
       <collection property="tblRiskRiskMarking" ofType="RiskRiskmarking" column="assriskid" select="com.huabo.fxgl.mapper.RiskRiskmarkingMapper.selectListByAssriskid"></collection>
    </resultMap>
 
	<select id="getRiskCatnameAnalysis" resultType="java.util.Map">
	WITH riskcatlist AS (
        SELECT g.riskcatname as name, ROW_NUMBER() OVER (PARTITION BY r.riskid,r.riskid order by r.riskid ) AS rn
        from  TBL_RISK_ASSPLAN_RISK r
		left join TBL_RISK_RISKMARKING a on a.assriskid=r.assriskid
		left join TBL_RISK_ASSPLAN p on p.assplanid=r.assplanid
		left join TBL_RISK s on s.riskid=r.riskid
		left join TBL_RISKCATEGORY g on g.riskcatid=s.riskcatid
		where s.unit is not null  
		and r.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid)
		 and  ( s.riskstatus !=0 or s.riskstatus is null)
		 <if test="company!=null and company!=''">
		   and s.unit=#{company}
	     </if>
		 and a.asssatus=2 and  g.riskcatname is not null 
      )
SELECT name,count(1) as value FROM riskcatlist WHERE rn = 1 group by name;
	</select>
	
	
	<select id="getRiskAnalysis" resultType="java.util.Map">
	WITH riskcatlist AS (
        SELECT s.riskname as name, ROW_NUMBER() OVER (PARTITION BY r.riskid,r.riskid order by r.riskid ) AS rn
        from  TBL_RISK_ASSPLAN_RISK r
		left join TBL_RISK_RISKMARKING a on a.assriskid=r.assriskid
		left join TBL_RISK_ASSPLAN p on p.assplanid=r.assplanid
		left join TBL_RISK s on s.riskid=r.riskid
		where s.unit is not null   and a.asssatus=2    and s.riskname is not null 
		and r.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid)
		 and  ( s.riskstatus !=0 or s.riskstatus is null)
		 <if test="company!=null and company!=''">
		  and s.unit=#{company}
	    </if>
   )
 SELECT name,count(1) as value FROM riskcatlist WHERE rn = 1 group by name;
</select>


	<select id="getRiskAreasAnalysis" resultType="java.util.Map">
    WITH riskcatlist AS (
        SELECT s.riskcatname as name, ROW_NUMBER() OVER (PARTITION BY r.riskid,r.riskid order by r.riskid ) AS rn
        from  TBL_RISK_ASSPLAN_RISK r
		left join TBL_RISK_RISKMARKING a on a.assriskid=r.assriskid
		left join TBL_RISK_ASSPLAN p on p.assplanid=r.assplanid
		left join TBL_RISK s on s.riskid=r.riskid
		where s.unit is not null   and a.asssatus=2   and s.riskcatname is not null
		and r.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid)
		and  ( s.riskstatus !=0 or s.riskstatus is null)
		  <if test="company!=null and company!=''">
		    and s.unit=#{company}
	      </if>
	)
  SELECT name,count(1) as value FROM riskcatlist WHERE rn = 1 group by name;
</select>

<select id="getRiskDepartment" resultType="com.huabo.fxgl.entity.TblOrganization">
	select t.orgid,o.orgname from ( select s.belongsto as orgid from
	TBL_RISK_ASSPLAN_RISK r
	left join TBL_RISK_RISKMARKING a on a.assriskid=r.assriskid
	left join TBL_RISK_ASSPLAN p on p.assplanid=r.assplanid
	left join TBL_RISK s on s.riskid=r.riskid
	where s.unit is not null  
	 and r.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid)
	 and  ( s.riskstatus !=0 or s.riskstatus is null)
	<if test="company!=null and company!=''">
		and s.unit=#{company}
	</if>
	and a.asssatus=2
	group by s.belongsto ) t left join TBL_ORGANIZATION o on o.orgid=t.orgid
</select>


<select id="getLevelCount" resultType="java.lang.Integer">
	select count(1) from TBL_RISK_ASSPLAN_RISK r
	left join TBL_RISK_RISKMARKING a on a.assriskid=r.assriskid
	left join TBL_RISK_ASSPLAN p on p.assplanid=r.assplanid
	left join TBL_RISK s on s.riskid=r.riskid
	where 1=1 and  s.unit is not null and  p.unit is not null
	and r.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid)
	 and  ( s.riskstatus !=0 or s.riskstatus is null)
	<if test="orgid!=null and orgid!=''">
		and s.belongsto=#{orgid}
	</if>
	<if test="level!=null">
		and a.risklevel=#{level}
	</if>
	and a.asssatus=2
</select>

<select id="getRiskCompany" resultType="com.huabo.fxgl.entity.TblOrganization">
 	select t.orgid,o.orgname from ( select p.unit  as orgid from
	TBL_RISK_ASSPLAN_RISK r
	left join TBL_RISK_RISKMARKING a on a.assriskid=r.assriskid
	left join TBL_RISK_ASSPLAN p on p.assplanid=r.assplanid
	where  p.unit is not null
	and a.asssatus=2
	group by p.unit ) t left join TBL_ORGANIZATION o on o.orgid=t.orgid
</select>


<select id="getLevelCountCompany" resultType="java.lang.Integer">
 	select count(1) from TBL_RISK_ASSPLAN_RISK r
	left join TBL_RISK_RISKMARKING a on a.assriskid=r.assriskid
	left join TBL_RISK_ASSPLAN p on p.assplanid=r.assplanid
	left join TBL_RISK s on s.riskid=r.riskid
	where 1=1 and  s.unit is not null and  p.unit is not null
	<if test="company!=null and company!=''">
		and s.unit=#{company}
	</if>
	<if test="level!=null">
		and a.risklevel=#{level}
	</if>
	and a.asssatus=2
</select>


<select id="getRiskCompanyList" resultType="com.huabo.fxgl.entity.TblOrganization">
 	select t.orgid,o.orgname from (select unit as orgid from TBL_RISK group by unit)
	 t left join tbl_organization o on o.orgid=t.orgid
</select>

<select id="queryNumberRisksYiBan" resultType="java.lang.Integer">
SELECT COUNT(1) FROM TBL_RISK WHERE 
RISKLEVEL =#{yiban} 
<if test="orgid!=null and orgid !=''">
AND UNIT=#{orgid}
</if>
</select>


<select id="queryNumberRisksZhongDa" resultType="java.lang.Integer">
SELECT COUNT(1) FROM TBL_RISK where
RISKLEVEL =#{zhongda}
<if test="orgid!=null and orgid !=''">
AND UNIT=#{orgid}
</if>
</select>

 
 <select id="getSyFxtjRlt" resultType="com.huabo.fxgl.entity.RiskAssplanRisk">
WITH pgrl(assplanid,riskid,frequency,severity,rn) AS ( 
SELECT p.ASSPLANID,p.RISKID,c.Frequency,c.Severity,ROW_NUMBER() OVER (PARTITION BY p.riskid ORDER BY c.assdate DESC) AS rn FROM  
    TBL_RISK_ASSPLAN_RISK p left JOIN  TBL_RISK_RISKMARKING  c ON p.assriskid = c.assriskid left join tbl_risk r
     on r.riskid=p.riskid    where 1=1 and r.unit is not null 
     <if test="value!=null and value!=''">
       and  c.asssatus=#{value} 
     </if>
    <if test="orgid!=null and orgid!=''">
     and r.unit=#{orgid}
    </if>
     ) SELECT  * FROM pgrl WHERE  rn = 1
 </select>
 
  <select id="getSyFxtjRltYgb" resultType="com.huabo.fxgl.entity.RiskAssplanRisk">
    WITH pgrl(assplanid,riskid,frequency,severity,rn) AS ( SELECT p.ASSPLANID,p.RISKID,c.Frequency,c.Severity,
    ROW_NUMBER() OVER (PARTITION BY p.riskid ORDER BY c.assdate DESC) AS rn FROM  TBL_RISK_ASSPLAN_RISK p 
    left JOIN  TBL_RISK_RISKMARKING  c ON p.assriskid = c.assriskid left join tbl_risk r on r.riskid=p.riskid 
    where r.unit is not null and  c.asssatus=2 and r.riskstatus=0 
    <if test="orgid!=null and orgid!=''">
    and r.unit=#{orgid}
    </if>
      ) SELECT  * FROM pgrl WHERE  rn = 1
 </select>
 
 
</mapper>
