<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.fxgl.mapper.RiskMapper">
    <select id="selectPage1" resultType="Risk">
        select r.riskid,r.risknumber,r.riskname,o.orgname as unit,r.riskcreatedt,r.version
--         from TBL_RISK r left join TBL_ORGANIZATION o on r.unit = to_char(o.orgid)
        from TBL_RISK r left join TBL_ORGANIZATION o on r.unit = o.orgid
        <where>
        1=1 
--    r.RISKID in (select max(RISKID) from TBL_RISK group by RISKNUMBER) 
            <if test="sql!=null and sql!=''">
            ${sql}
            </if>
          and  ${ew.sqlSegment}
        </where>


    </select>


    <select id="selectPage1Count" resultType="java.lang.Integer">
        select count(1)
--         from TBL_RISK r left join TBL_ORGANIZATION o on r.unit = to_char(o.orgid)
        from TBL_RISK r left join TBL_ORGANIZATION o on r.unit = o.orgid
        <where>
            r.RISKID in (select max(RISKID) from TBL_RISK group by RISKNUMBER) and
            ${ew.sqlSegment}
        </where>


    </select>
    <select id="geTblRiskBySave" resultType="Risk">
        select riskid
             , risknumber
             , riskdes
             , belongsto
             , r.riskcatid
             , inriskdb
             , version
             , riskcreatedt
             , o1.orgname     as zrbmName
             , o2.orgname     as xgbmName
             , o3.orgname     as ssjgName
             , r1.riskcatname as ssfxName
             , r.reorg
             , r.riskname
             , r.riskprogram
        from tbl_risk r
                 left join tbl_organization o1 on r.belongsto = to_char(nvl(o1.orgid, 0))
                 left join tbl_organization o2 on r.reorg = to_char(nvl(o2.orgid, 0))
                 left join tbl_organization o3 on r.unit = to_char(nvl(o3.orgid, 0))
                 left join tbl_riskcategory r1 on r.riskcatid = r1.riskcatid
        where ${ew.sqlSegment}

    </select>

    <select id="selectInnerRulePage" resultType="Innerrule">
        select  TBL_INNERRULE.innrulid,RULENUMBER,RULENAME,ORGNAME,PUBLISHDATE
        from TBL_INNERRULE TBL_INNERRULE LEFT JOIN TBL_ORGANIZATION org on TBL_INNERRULE.PUBLISHORG=TO_CHAR(ORG.ORGID)
        <where>
            TBL_INNERRULE.innrulid in (select TBL_RISK_INNERRULE.innrulid from TBL_RISK_INNERRULE where TBL_RISK_INNERRULE.riskid = #{param1}) and
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="findInnerRuleByRiskId" resultType="Innerrule">
       select *
       from TBL_INNERRULE where innrulid in (select innrulid from TBL_RISK_INNERRULE where riskid = #{riskid})
        and  ${ew.sqlSegment}
    </select>

    <select id="findOuterRuleByRiskidPageBean" resultType="Outerrule">
        select OUTRULID,RULENUMBER,RULENAME,ORGNAME,PUBLISHDATE
        from tbl_outerrule LEFT JOIN TBL_ORGANIZATION ORG on tbl_outerrule.PUBLISHORG=TO_CHAR(ORG.ORGID)
        where outrulid in (select outrulid from TBL_RISK_OUTERRULE where riskid =#{param1})
        and ${ew.sqlSegment}
    </select>

    <select id="findAll" resultType="Outerrule">
        select OUTRULID, RULENUMBER, RULENAME, PUBLISHORG, PUBLISHDATE, TAKEEFFECTTIME
        from TBL_OUTERRULE t where  (createorgid = #{orgid} OR ISPYTHONFLAG = 1)
        and ${ew.sqlSegment}
    </select>

    <select id="findOuterRuleByRiskId" resultType="Outerrule">
        select *
        from tbl_outerrule
        where outrulid
                  in (select outrulid from TBL_RISK_OUTERRULE where riskid = #{riskid})
        and ${ew.sqlSegment}
    </select>
     <select id="selectPage2" resultType="Risk">
	select r.*,r2.BUSSINESSNAME,r2.FLOWNAME,r2.SIZE,o.ORGNAME from (
	select b.BUSSINESSNAME,l.FLOWNAME,case when max(rar.RISKLEVEL) is NULL then
	'0' else max(rar.RISKLEVEL) END as size,r.riskid
	from tbl_risk r left join TBL_RISK_ASSPLAN_RISK rar on rar.RISKID =
	r.RISKID
	left join TBL_RISK_FLOW f on r.RISKID= F.RISKID
	left join TBL_FLOW l on l.FLOWID= F.FLOWID
	left join TBL_FLOW_BUSSINESS b on b.FLOWID= F.FLOWID
	left join TBL_RISK_BUSINESS_DIC d on d.businessno=B.BUSSINESSNAME
	group by r.riskid,l.FLOWNAME,b.BUSSINESSNAME ) r2
	left join tbl_risk r on r.riskid=r2.RISKID
	left join tbl_organization o on r.unit = o.orgid
	where 1=1 and
                <if test="ids!=null and ids!=''">
                    r.riskcatid in (${ids})
                </if>
  and (
	<choose>
	<when test="closestatus!=null">
		<choose>
			<when test="closestatus.compareTo(new java.math.BigDecimal(0)) != 0">
				r.closestatus not in(6) or r.closestatus is null or r.closestatus =''
			</when>
			<otherwise>
				r.closestatus = 6
			</otherwise>
		</choose>
	</when>
	<otherwise>
		1=1
	</otherwise>
</choose>
	)
	${sql}
	and ${ew.sqlSegment} 
    </select>
    
    
    <select id="selectPage3" resultType="Risk">
       select R2.SIZE,r.*, s.realname as staffname,cat.riskcatname as riskcatidname,o.orgname as unitname,d.ORGNAME as linkDeptName from (
	select case when max(rar.RISKLEVEL) is NULL then
	'0' else max(rar.RISKLEVEL) END as size,r.riskid
	from tbl_risk r left join TBL_RISK_ASSPLAN_RISK rar on rar.RISKID =
	r.RISKID
	group by r.riskid ) r2
	left join tbl_risk r on r.riskid=r2.RISKID
	left join tbl_organization o on r.unit = o.orgid
	left join tbl_organization d on r.LINKDEPTID = d.ORGID
	 left join TBL_RISKCATEGORY  cat on cat.riskcatid=r.riskcatid
    left join tbl_staff s on s.staffid=r.staffid
	where 1=1 and
         <if test="ids!=null and ids!=''">
                    r.riskcatid in (${ids})
		 </if>
         <if test="sql!=null and sql!=''">
            ${sql}
         </if>
            and ${ew.sqlSegment}
    </select>
    <select id="findList" resultType="Risk">
        select  
               o.orgname as unitname,
               o1.orgname as belongsto,
               r.*
        from TBL_RISK r
                 left join TBL_ORGANIZATION o on r.unit = to_char(o.orgid)
                 left join TBL_ORGANIZATION o1
                           on r.belongsto = to_char(o1.orgid)
        where 1 = 1
          and r.RISKID in (select max(RISKID) from TBL_RISK group by RISKNUMBER)
          and ${ew.sqlSegment}

    </select>

	<select id="getGroupRiskTrendChart" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM TBL_RISK WHERE 1=1
		<if test="type!=null and type!=''">
			and RISKLEVEL =#{type}
		</if>
		<if test="orgid!=null and orgid!=''">
			AND UNIT=#{orgid}
		</if>
		<if test="year!=null and year !=''">
			AND year(riskcreatedt)=#{year}
		</if>
	</select>
	
	<select id="selectRisk" resultType="com.huabo.fxgl.entity.Risk">
	 select org.orgname as zrbmName,o.orgname as unitname,trc.riskcopingid,d.ORGNAME as linkDeptName,
	 s.realname as staffname,cat.riskcatname as riskcatidname,r.* from tbl_risk r  
	             left join tbl_organization o on r.unit = to_char(o.orgid) 
	              left join tbl_organization d on r.linkdeptid=d.orgid
	             left join tbl_organization org on org.orgid=r.BELONGSTO
	             left join TBL_RISK_COPING trc on trc.riskid = r.riskid  
	             left join tbl_staff s on s.staffid=r.staffid
	             left join TBL_RISKCATEGORY  cat on cat.riskcatid=r.riskcatid
	             where  1=1
	 <if test="idList!=null and idList.size()>0">
		  and  r.riskid   in (select max(riskid) as riskcreatedt from tbl_risk where riskcatid in  
		    <foreach collection="idList" open="(" close=")" item="item" separator=",">
		     #{item}
		    </foreach>
		     group by riskid) 
		   </if>
	
	<if test="queryParam.risknumber!=null and queryParam.risknumber!=''">
	    and risknumber  LIKE
				concat(concat('%',#{queryParam.risknumber}),'%')
	</if>
	
	<if test="queryParam.riskname!=null and queryParam.riskname!=''">
	    and riskname  LIKE
				concat(concat('%',#{queryParam.riskname}),'%')
	</if>
	
		<if test="queryParam.riskcatidname!=null and queryParam.riskcatidname!=''">
	    and cat.riskcatname  LIKE
				concat(concat('%',#{queryParam.riskcatidname}),'%')
	</if>
			<if test="queryParam.linkDeptName!=null and queryParam.linkDeptName!=''">
	    and  d.orgname LIKE
				concat(concat('%',#{queryParam.linkDeptName}),'%')
	</if>
	
	<if test="queryParam.deptIds!=null and queryParam.deptIds.size()>0">
	     and  r.linkDeptId in
	     <foreach collection="queryParam.deptIds" item="item" open="(" close=")" separator=",">
	      #{item}	   
	     </foreach>
	     </if>
	     	<if test="queryParam.unitIds!=null and queryParam.unitIds.size()>0">
	     and  r.unit in
	     <foreach collection="queryParam.unitIds" item="item" open="(" close=")" separator=",">
	      #{item}	   
	     </foreach>
	     </if>
	     
			<if test="queryParam.riskcatname!=null and queryParam.riskcatname!=''">
	    and r.riskcatname  LIKE
				concat(concat('%',#{queryParam.riskcatname}),'%')
	</if>
	
	<if test="queryParam.unit!=null and queryParam.unit!=''">
	    and r.unit =#{queryParam.unit}
	</if>
					<if test="queryParam.linkDeptId!=null and queryParam.linkDeptId!=''">
	    and  r.linkDeptId =#{queryParam.linkDeptId}
	</if>
	<if test="queryParam.status!=null  and queryParam.status!='' and queryParam.status==0">
		    and (trc.status is NULL or trc.STATUS=0)
	</if>
	<if test="queryParam.status!=null and queryParam.status!='' and queryParam.status!=0">
	    and trc.status=#{queryParam.status}
	</if>
	<if test="queryParam.level!=null and queryParam.level!=''">
	    and level  not in ('未评估')
	</if>
	<if test="queryParam.cxlevel!=null and queryParam.cxlevel!='' and queryParam.cxlevel==0">
	    and (select RISKLEVEL from TBL_RISK_ASSPLAN_RISK 
       where RISKID=r.riskid AND ASSDATE = (SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid)) is null
	</if>
	<if test="queryParam.cxlevel!=null and queryParam.cxlevel!='' and queryParam.cxlevel!=0">
	    and (select RISKLEVEL from TBL_RISK_ASSPLAN_RISK 
		<choose>
		<when test="queryParam.cxlevelList!=null and queryParam.cxlevelList.size()>0 ">
		where RISKID=r.riskid AND ASSDATE = (SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid)) in
		<foreach collection="queryParam.cxlevelList" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
		</when>
		<otherwise>
		where RISKID=r.riskid AND ASSDATE = (SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid))=#{queryParam.cxlevel}
		</otherwise>
		</choose>
		
	</if>
<!--	<if test="authorityType!=null and authorityType==0">-->
<!--	    and  r.STAFFID=#{queryParam.staffid}-->
<!--	</if>-->
	
	<if test="queryParam.startdate!=null and queryParam.startdate!=''">
		and riskcreatedt &gt;=#{queryParam.startdate}
	</if>
	<if test="queryParam.enddate!=null and queryParam.enddate!=''">
		and riskcreatedt &lt;=#{queryParam.enddate}
	</if>
	<if test="queryParam.pgStatus=='ypg'">
	   and r.riskid in ( select a.riskid  from TBL_RISK_ASSPLAN_RISK a  left join tbl_risk s on s.riskid=a.riskid   where a.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = a.riskid) 
    	 	 )
	</if>
		<if test="queryParam.pgStatus=='ygb'">
	   and r.riskid in ( select a.riskid  from TBL_RISK_ASSPLAN_RISK a  left join tbl_risk s on s.riskid=a.riskid   where a.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = a.riskid) 
    		 )
	</if>
	<if test="queryParam.pgStatus=='pgz'">
	    	  and r.riskid in ( SELECT distinct t2.riskid   from TBL_RISK_ASSPLAN_RISK t2 left join TBL_RISK_ASSPLAN p on p.assplanid=t2.assplanid
               left join tbl_risk r1 on r1.RISKID=t2.RISKID where p.unit is not null 
               	<if test="queryParam.unit!=null and queryParam.unit!=''">
	              and r1.unit=#{queryParam.unit}
	            </if>
	            <if test="queryParam.linkDeptId!=null and queryParam.linkDeptId!=''">
	              and  r1.linkDeptId =#{queryParam.linkDeptId}
	            </if>
	          	<if test="queryParam.deptIds!=null and queryParam.deptIds.size()>0">
	              and  r1.linkDeptId in
	                <foreach collection="queryParam.deptIds" item="item" open="(" close=")" separator=",">
	                       #{item}	   
	                </foreach>
	            </if>
	     	   <if test="queryParam.unitIds!=null and queryParam.unitIds.size()>0">
	               and  r1.unit in
	             <foreach collection="queryParam.unitIds" item="item" open="(" close=")" separator=",">
	             #{item}	   
	              </foreach>
	            </if>
                
              and planstatus =2
             AND NOT EXISTS (
               SELECT 1   FROM TBL_RISK_ASSPLAN_RISK  t3  left join TBL_RISK_ASSPLAN p on p.assplanid=t3.assplanid
                 WHERE t3.riskid = t2.riskid  AND p.planstatus =3
))
	</if>
	 <if test="queryParam.pgStatus=='wpg'">
	     and (select RISKLEVEL from TBL_RISK_ASSPLAN_RISK 
       where RISKID=r.riskid AND ASSDATE = (SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid)) is null
	 </if>
		 <if test="queryParam.riskstatus == 1">
	      and  ( r.riskstatus !=0 or r.riskstatus is null) 
	 </if>
		 <if test="queryParam.riskstatus ==0">
	      and   r.riskstatus =0
	 </if>
	 
	 	 <if test="queryParam.belongsto !='' and queryParam.belongsto!=null ">
	         and org.orgname =#{queryParam.belongsto}
	 </if>
	 ${sql} 
	order by RISKCREATEDT desc
	</select>
	
	<select id="getTjfxpgjgList" resultType="com.huabo.fxgl.entity.Risk">
	 select distinct org.orgname as zrbmName,o.orgname as unitname,trc.riskcopingid,d.ORGNAME as linkDeptName,
	 s.realname as staffname,cat.riskcatname as riskcatidname,r.* from tbl_risk r  
	             left join tbl_organization o on r.unit = to_char(o.orgid) 
	             left join tbl_organization d on r.linkdeptid=d.orgid
	             left join tbl_organization org on org.orgid=r.BELONGSTO
	             left join TBL_RISK_COPING trc on trc.riskid = r.riskid  
	             left join tbl_staff s on s.staffid=r.staffid
	             left join TBL_RISKCATEGORY  cat on cat.riskcatid=r.riskcatid
	             where  1=1 and r.unit is not null
	 <if test="idList!=null and idList.size()>0">
		  and  r.riskid   in (select max(riskid) as riskcreatedt from tbl_risk where riskcatid in  
		    <foreach collection="idList" open="(" close=")" item="item" separator=",">
		     #{item}
		    </foreach>
		     group by riskid) 
		   </if>
 
		<if test="queryParam.linkDeptName!=null and queryParam.linkDeptName!=''">
	    and  org.orgname LIKE
				concat(concat('%',#{queryParam.linkDeptName}),'%')
	</if>
	<if test="queryParam.riskname!=null and queryParam.riskname!=''">
	    and riskname = #{queryParam.riskname}
	</if>
	
		<if test="queryParam.riskcatidname!=null and queryParam.riskcatidname!=''">
	    and cat.riskcatname =#{queryParam.riskcatidname} 
	</if>
	 
	    <if test="queryParam.cxlevel!=null and queryParam.cxlevel!='' and queryParam.cxlevel!=0">
	    and (select RISKLEVEL from TBL_RISK_ASSPLAN_RISK 
		where RISKID=r.riskid AND ASSDATE = (SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = r.riskid))=#{queryParam.cxlevel}
	</if>
			<if test="queryParam.riskcatname!=null and queryParam.riskcatname!=''">
	    and r.riskcatname  LIKE
				concat(concat('%',#{queryParam.riskcatname}),'%')
	</if>
	
	<if test="queryParam.unit!=null and queryParam.unit!=''">
	    and r.unit =#{queryParam.unit}
	</if>
	<if test="queryParam.pgStatus=='ypg'">
	   and r.riskid in ( select a.riskid  from TBL_RISK_ASSPLAN_RISK a  left join tbl_risk s on s.riskid=a.riskid   where a.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = a.riskid) 
    		  and  ( s.riskstatus !=0 or s.riskstatus is null))
	</if>
		<if test="queryParam.pgStatus=='ygb'">
	   and r.riskid in ( select a.riskid  from TBL_RISK_ASSPLAN_RISK a  left join tbl_risk s on s.riskid=a.riskid   where a.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = a.riskid) 
    		  and s.riskstatus =0)
	</if>
	 ${sql} 
	order by RISKCREATEDT desc
	</select>
	
	
	
	<select id="getRiskPointTaskList" resultType="com.huabo.fxgl.entity.Risk">
	<if test="queryParam.pgStatus=='ypg'">
	   select DISTINCT  org.orgname as zrbmName,o.orgname as unitname,trc.riskcopingid,d.ORGNAME as linkDeptName,
	 s.realname as staffname,cat.riskcatname as riskcatidname,r.* 
  from TBL_RISK_ASSPLAN_RISK t1
  left join TBL_RISK_ASSPLAN p on p.assplanid=t1.assplanid
  left join tbl_risk r on r.RISKID=t1.RISKID
   left join tbl_organization o on r.unit = to_char(o.orgid) 
	              left join tbl_organization d on r.linkdeptid=d.orgid
	               left join tbl_organization org on org.orgid=r.BELONGSTO
	             left join TBL_RISK_COPING trc on trc.riskid = r.riskid  
	             left join tbl_staff s on s.staffid=r.staffid
	             left join TBL_RISKCATEGORY  cat on cat.riskcatid=r.riskcatid
		where p.unit is not null and p.unit=#{queryParam.unit} and ( r.riskstatus !=0 or r.riskstatus is null)
 and planstatus =3
  ${sql} 
	order by RISKCREATEDT desc
	</if>
	
	<if test="queryParam.pgStatus=='wpg'">
	  select distinct org.orgname as zrbmName,o.orgname as unitname,trc.riskcopingid,d.ORGNAME as linkDeptName,
	 s.realname as staffname,cat.riskcatname as riskcatidname,r.* 
from TBL_RISK_ASSPLAN_RISK t4
  left join TBL_RISK_ASSPLAN p on p.assplanid=t4.assplanid
  left join tbl_risk r on r.RISKID=t4.RISKID
   left join tbl_organization o on r.unit = to_char(o.orgid) 
	              left join tbl_organization d on r.linkdeptid=d.orgid
	               left join tbl_organization org on org.orgid=r.BELONGSTO
	             left join TBL_RISK_COPING trc on trc.riskid = r.riskid  
	             left join tbl_staff s on s.staffid=r.staffid
	             left join TBL_RISKCATEGORY  cat on cat.riskcatid=r.riskcatid
	where p.unit is not null and p.unit=#{queryParam.unit} and ( r.riskstatus !=0 or r.riskstatus is null)
 and planstatus =1
  AND NOT EXISTS (
    SELECT 1 
    FROM TBL_RISK_ASSPLAN_RISK  t5  left join TBL_RISK_ASSPLAN p on p.assplanid=t5.assplanid
    WHERE t5.riskid = t4.riskid 
      AND p.planstatus IN (2, 3)
  )
   ${sql} 
	order by RISKCREATEDT desc
	</if>
	
	<if test="queryParam.pgStatus=='pgz'">
  select distinct org.orgname as zrbmName,o.orgname as unitname,trc.riskcopingid,d.ORGNAME as linkDeptName,
	 s.realname as staffname,cat.riskcatname as riskcatidname,r.* 
   from TBL_RISK_ASSPLAN_RISK t2
  left join TBL_RISK_ASSPLAN p on p.assplanid=t2.assplanid
  left join tbl_risk r on r.RISKID=t2.RISKID
   left join tbl_organization o on r.unit = to_char(o.orgid) 
	              left join tbl_organization d on r.linkdeptid=d.orgid
	               left join tbl_organization org on org.orgid=r.BELONGSTO
	             left join TBL_RISK_COPING trc on trc.riskid = r.riskid  
	             left join tbl_staff s on s.staffid=r.staffid
	             left join TBL_RISKCATEGORY  cat on cat.riskcatid=r.riskcatid
		where p.unit is not null and p.unit=#{queryParam.unit} and ( r.riskstatus !=0 or r.riskstatus is null)
 and planstatus =2
  AND NOT EXISTS (
    SELECT 1 
    FROM TBL_RISK_ASSPLAN_RISK  t3  left join TBL_RISK_ASSPLAN p on p.assplanid=t3.assplanid
    WHERE t3.riskid = t2.riskid 
      AND p.planstatus =3
  )
   ${sql} 
	order by RISKCREATEDT desc
	</if>
	
	 
	</select>
	
	

<select id="riskCatnameRisks" resultType="java.util.Map">
		select riskcatname as name,count(1) as number from tbl_risk  r
		<if test="company!=null">
		and r.unit=#{company}
		</if>
		group by riskcatname
</select>

	<select id="getZs" resultType="java.lang.Integer">
		select count(1) as number from tbl_risk where 1=1
		<if test="company!=null">
			and unit=#{company}
		</if>
	</select>

	<select id="getYsp" resultType="java.lang.Integer">
		select count(1) as number from tbl_risk where status=6
		<if test="company!=null">
			and unit=#{company}
		</if>
	</select>

	<select id="getWsp" resultType="java.lang.Integer">
		select count(1) as number from tbl_risk where ( status!=6 or status is
		null )
		<if test="company!=null">
			and unit=#{company}
		</if>
	</select>

<select id="getCountByOrg" resultType="java.util.Map">
select o.orgname as name,count(1) as number from tbl_risk r left 
join tbl_organization o on o.orgid=r.unit 
where 1=1
<if test="year!=null and year !=''">
			AND year(riskcreatedt)=#{year}
 </if>
 group by o.orgname
</select>

<select id="selectRiskTop" resultType="com.huabo.fxgl.vo.RISKTOP10">
	SELECT
		r.RISKNUMBER AS RISKNUMBER,
		r.RISKNAME AS RISKNAME,
		r.RISKDES AS RISKDES,
		CASE
			WHEN cme.RISK_CHANGE = '1' THEN '升高'
			WHEN cme.RISK_CHANGE = '2' THEN '持平'
			WHEN cme.RISK_CHANGE = '3' THEN '下降'
			ELSE NULL
			END AS RISKCHANGE,
		cme.EVALUATION_ID AS EVALUATIONID,
		-- 使用WM_CONCAT替代LISTAGG，兼容低版本达梦数据库
		TO_CHAR(WM_CONCAT(DISTINCT org.orgname)) AS orgname,
		TO_CHAR(WM_CONCAT(DISTINCT e.FIELD6)) AS FIELD6,
		r.RISKORDER AS RISKORDER
	FROM
		TBL_RISK r
			-- 关联风险应对表
			LEFT JOIN TBL_RISK_COPING rc ON r.RISKID = rc.RISKID
			-- 关联一体化管控措施表
			LEFT JOIN TBL_CONTROLMATRIX cm ON rc.RISKCOPINGID = cm.RISKCOPINGID
			-- 关联管控条目表，获取责任领导
			LEFT JOIN TBL_CONTROL_ENTRIES e ON cm.CONMATID = e.CONMATID
			-- 关联组织信息表，获取责任部门名称
			LEFT JOIN TBL_ORGANIZATION org ON cm.RESPONSIBLEDEP = org.orgid
			-- 关联当月的月度评估数据（使用子查询替代CTE，兼容低版本DM数据库）
			LEFT JOIN (
			SELECT
				me.RISKID,
				me.RISK_CHANGE,
				me.ID AS EVALUATION_ID
			FROM
				TBL_RISK_MONTHLY_EVALUATION me
			WHERE
				(
					(EXTRACT(YEAR FROM me.CREATE_TIME) = EXTRACT(YEAR FROM SYSDATE)
						AND EXTRACT(MONTH FROM me.CREATE_TIME) = EXTRACT(MONTH FROM SYSDATE))
						OR (me.MONTH = EXTRACT(MONTH FROM SYSDATE))
					)
			  AND me.REPORT_BUTTON_STATUS = 1
			  AND me.ID = (
				SELECT MAX(me3.ID)
				FROM TBL_RISK_MONTHLY_EVALUATION me3
				WHERE me3.RISKID = me.RISKID
				  AND (
					(EXTRACT(YEAR FROM me3.CREATE_TIME) = EXTRACT(YEAR FROM SYSDATE)
						AND EXTRACT(MONTH FROM me3.CREATE_TIME) = EXTRACT(MONTH FROM SYSDATE))
					)
				  AND me3.REPORT_BUTTON_STATUS = 1
				  AND me3.CREATE_TIME = (
					SELECT MAX(me4.CREATE_TIME)
					FROM TBL_RISK_MONTHLY_EVALUATION me4
					WHERE me4.RISKID = me3.RISKID
					  AND (
						(EXTRACT(YEAR FROM me4.CREATE_TIME) = EXTRACT(YEAR FROM SYSDATE)
							AND EXTRACT(MONTH FROM me4.CREATE_TIME) = EXTRACT(MONTH FROM SYSDATE))
						)
					  AND me4.REPORT_BUTTON_STATUS = 1
				)
			)
		) cme ON r.RISKID = cme.RISKID
	WHERE
		1=1
	  AND r.RISKORDER IS NOT NULL
	GROUP BY
		r.RISKNUMBER,
		r.RISKNAME,
		r.RISKDES,
		cme.RISK_CHANGE,
		cme.EVALUATION_ID,
		r.RISKORDER
	ORDER BY
		r.RISKORDER ASC LIMIT 0,10;
/*	SELECT
		r.RISKNUMBER AS RISKNUMBER,
		r.RISKNAME AS RISKNAME,
		r.RISKDES AS RISKDES,
		CASE
			WHEN cme.RISK_CHANGE = '1' THEN '升高'
			WHEN cme.RISK_CHANGE = '2' THEN '持平'
			WHEN cme.RISK_CHANGE = '3' THEN '下降'
			ELSE NULL
			END AS RISKCHANGE,
		cme.EVALUATION_ID AS EVALUATIONID,
		LISTAGG(DISTINCT org.orgname, ',') WITHIN GROUP (ORDER BY org.orgname) AS orgname,
    LISTAGG(DISTINCT e.FIELD6, ',') WITHIN GROUP (ORDER BY e.FIELD6) AS FIELD6,
		r.RISKORDER AS RISKORDER
	FROM
		TBL_RISK r
		-- 关联风险应对表
		LEFT JOIN TBL_RISK_COPING rc ON r.RISKID = rc.RISKID
		-- 关联一体化管控措施表
		LEFT JOIN TBL_CONTROLMATRIX cm ON rc.RISKCOPINGID = cm.RISKCOPINGID
		-- 关联管控条目表，获取责任领导
		LEFT JOIN TBL_CONTROL_ENTRIES e ON cm.CONMATID = e.CONMATID
		-- 关联组织信息表，获取责任部门名称
		LEFT JOIN TBL_ORGANIZATION org ON cm.RESPONSIBLEDEP = org.orgid
		-- 关联当月的月度评估数据（使用子查询替代CTE，兼容低版本DM数据库）
		LEFT JOIN (
		SELECT
		me.RISKID,
		me.RISK_CHANGE,
		me.ID AS EVALUATION_ID
		FROM
		TBL_RISK_MONTHLY_EVALUATION me
		WHERE
		(
		(TO_NUMBER(TO_CHAR(me.CREATE_TIME, 'YYYY')) = TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY'))
		AND TO_NUMBER(TO_CHAR(me.CREATE_TIME, 'MM')) = TO_NUMBER(TO_CHAR(SYSDATE, 'MM')))
		OR (me.MONTH = TO_NUMBER(TO_CHAR(SYSDATE, 'MM')))
		)
		-- 只获取已上报完成的月度评估数据（0：未上报, 1：已上报）
		AND me.REPORT_BUTTON_STATUS = 1
		-- 取当月最新的一条月度评估数据（先按CREATE_TIME降序，再按ID降序）
		AND me.ID = (
		SELECT MAX(me3.ID)
		FROM TBL_RISK_MONTHLY_EVALUATION me3
		WHERE me3.RISKID = me.RISKID
		AND (
		(TO_NUMBER(TO_CHAR(me3.CREATE_TIME, 'YYYY')) = TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY'))
		AND TO_NUMBER(TO_CHAR(me3.CREATE_TIME, 'MM')) = TO_NUMBER(TO_CHAR(SYSDATE, 'MM')))
		OR (me3.MONTH = TO_NUMBER(TO_CHAR(SYSDATE, 'MM')))
		)
		AND me3.REPORT_BUTTON_STATUS = 1
		AND me3.CREATE_TIME = (
		SELECT MAX(me4.CREATE_TIME)
		FROM TBL_RISK_MONTHLY_EVALUATION me4
		WHERE me4.RISKID = me3.RISKID
		AND (
		(TO_NUMBER(TO_CHAR(me4.CREATE_TIME, 'YYYY')) = TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY'))
		AND TO_NUMBER(TO_CHAR(me4.CREATE_TIME, 'MM')) = TO_NUMBER(TO_CHAR(SYSDATE, 'MM')))
		OR (me4.MONTH = TO_NUMBER(TO_CHAR(SYSDATE, 'MM')))
		)
		AND me4.REPORT_BUTTON_STATUS = 1
		)
		)
		) cme ON r.RISKID = cme.RISKID
	WHERE
		1=1
	  AND r.RISKORDER IS NOT NULL
	GROUP BY
		r.RISKNUMBER,
		r.RISKNAME,
		r.RISKDES,
		cme.RISK_CHANGE,
		cme.EVALUATION_ID,
		r.RISKORDER
	ORDER BY
		r.RISKORDER ASC
		LIMIT 0, 10;*/
</select>
</mapper>
