<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.fxgl.mapper.TblMajorRiskbranchCreateMapper">

	 <select id="getMajorRiskCreateList" resultType="com.huabo.fxgl.entity.TblMajorRiskbranchCreate">
		 select distinct b.* from TBL_MAJORRISK_BRANCHCREATE  b   
		   left join TBL_MAJOR_TRANSFER t on b.id=t.majorid
		   left join TBL_RISK_IMPLEMENT i on i.id=t.implementid
		   where 1=1
		 <if test="sql!=null and sql!=''">
		 ${sql}   
		 </if>
		   <if test="param.createname!=null and param.createname!=''">
		    and createname LIKE
			concat(concat('%',#{param.createname}),'%')
		 </if>
		   <if test="param.nd!=null and param.nd!=''">
		    and riskyear LIKE
			concat(concat('%',#{param.nd}),'%')
		 </if>
		 
		  <if test="param.jd!=null and param.jd!=''">
		   and quartername  LIKE
			concat(concat('%',#{param.jd}),'%')
		 </if>
		 
		  <if test="param.status!=null and param.status==0">
		    and b.status is null
		 </if>
		 
		   <if test="param.status!=null and param.status!=0">
		    and b.status =#{param.status}
		 </if>
		  <if test="param.linkOrgName!=null and param.linkOrgName!=''">
		    and linkOrgName LIKE
			concat(concat('%',#{param.linkOrgName}),'%')
		 </if>
		  <if test="param.toreport!=null and param.toreport==0">
		    and (b.toreport is null or b.toreport =0)
		 </if>
		   <if test="param.toreport!=null and param.toreport==1">
		    and b.toreport =#{param.toreport}
		 </if>
		 
		  <if test="staffid!=null and staffid!=0">
		 or (t.implementid is not null and t.tostaffid=#{staffid})
		 </if>
		  order by b.CREATETIME DESC,b.id desc
	</select>  
	 
	 
	  <select id="getMajorRiskTrack" resultType="com.huabo.fxgl.entity.TblMajorRiskbranchCreate">
		 select b.* from TBL_MAJORRISK_BRANCHCREATE b
		  left join  TBL_MAJORRISKCREATE cr on cr.id=b.majorid
		  where 1=1 
		  <if test="queryParam.riskyear!=null and queryParam.riskyear!=''">
		    and b.riskyear LIKE
			concat(concat('%',#{queryParam.riskyear}),'%')
		 </if>
		  <if test="queryParam.quartername!=null and queryParam.quartername!=''">
		   and b.quartername  LIKE
			concat(concat('%',#{queryParam.quartername}),'%')
		 </if>
		   <if test="queryParam.linkOrgName!=null and queryParam.linkOrgName!=''">
		   and b.linkOrgName  LIKE
			concat(concat('%',#{queryParam.linkOrgName}),'%')
		 </if>
		 <if test="sql!=null and sql!=''">
		 ${sql}
		 </if>
		  order by b.CREATETIME DESC,b.id desc
	</select>  
	 
</mapper>
