<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.fxgl.mapper.TblRiskImprovementDetailsMapper">
 
	
	<select id="exportRiskReport"
	resultType="com.huabo.fxgl.entity.TblRiskImprovementDetailsEntiry">
	select ls.*,s.risknumber,o.orgname  from
	TBL_RISK_IMPROVEMENT_DETAILS
	ls left join TBL_RISK_MONTHLY_EVALUATION nt on ls.IMPROVEMENT_ID = nt.id
	left join tbl_risk s on s.riskid=ls.riskid
   left join tbl_organization o  on o.orgid=nt.unit_deptid
	 where 1=1
	<if test="id!=null ">
		and ls.BRANCH_ID=#{id}
	</if>
	      <if test="orgname and orgname!='' ">
		and o.orgname LIKE
		concat(concat('%',#{orgname}),'%')
	</if>
	<if test="ids!=null and ids.length>0">
		and ls.id in
		<foreach collection="ids" item="item" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</if>
	order by id desc
</select>
	
	<select id="selectRiskDetail" resultType="com.huabo.fxgl.entity.TblRiskImprovementDetailsEntiry">
	select * from TBL_RISK_IMPROVEMENT_DETAILS
    where 1=1 
    <if test="queryParam.month!=null and queryParam.month!=''">
       and month=#{queryParam.month}
    </if>
   <if test="queryParam.years!=null and queryParam.years!=''">
      and years=#{queryParam.years}
    </if>
       <if test="queryParam.branchId!=null and queryParam.branchId!=''">
      and branch_id=#{queryParam.branchId}
    </if>
   <!--  <if test="queryParam.improvementId!=null and queryParam.improvementId!=''">
    and improvement_id=#{queryParam.improvementId}
    </if> -->
    <if test="queryParam.riskid!=null and queryParam.riskid!='' ">
    and  riskid=#{queryParam.riskid}
    </if>
	</select>
	
	
	<select id="getScoreHeadOffice" resultType="com.huabo.fxgl.entity.TblRiskImprovementDetailsEntiry">
	select distinct  branch_id, branch_name,orgname ,sum(score_details) as score_details from (
	select distinct  branch_id, branch_name,orgname ,sum(score_details) as score_details  from
	TBL_RISK_IMPROVEMENT_DETAILS d
	left join TBL_RISK_MONTHLY_EVALUATION e on e.id=d.IMPROVEMENT_ID
	left join tbl_organization o on o.orgid=e.unit_deptid where 1=1
	and e.unit_deptid is not null
	<if test="id!=null">
		and branch_id=#{id}
	</if>
	<if test="orgname!=null and orgname!='' ">
		and o.orgname LIKE
		concat(concat('%',#{orgname}),'%')
	</if>
	group by o.orgname,branch_name,branch_id
	 union 
	  select distinct  branch_id, branch_name,orgname ,sum(score_details) as score_details  from
	TBL_RISK_IMPROVEMENT_DETAILS d
	left join tbl_risk r on r.riskid=d.riskid
	 left join tbl_organization o on o.orgid=r.belongsto
	where 1=1
		<if test="id!=null">
		and branch_id=#{id}
	</if>
	<if test="orgname!=null and orgname!='' ">
		and o.orgname LIKE
		concat(concat('%',#{orgname}),'%')
	</if>
	 and d.improvement_id =0
	 group by o.orgname,branch_name,branch_id
	 ) dual group by  orgname,branch_name,branch_id
</select>

<select id="getScore" resultType="com.huabo.fxgl.entity.TblRiskImprovementDetailsEntiry">
	select distinct branch_name,branch_id,(select (sum(score_details)) from TBL_RISK_IMPROVEMENT_DETAILS r
    where  r.branch_id=d.branch_id  ) as score_details   
    from TBL_RISK_IMPROVEMENT_DETAILS d where branch_id=#{id}
    <if test="orgname!=null and orgname!='' ">
		and branch_name LIKE
		concat(concat('%',#{orgname}),'%')
	</if>
    
</select>

<select id="selectList" resultType="com.huabo.fxgl.entity.TblRiskImprovementDetailsEntiry">
select * from (
select ls.*,nt.risknumber as risknumber,o.orgname  from TBL_RISK_IMPROVEMENT_DETAILS  ls 
left join tbl_risk   nt on ls.riskid = nt.riskid 
left join TBL_RISK_MONTHLY_EVALUATION e on e.id=ls.IMPROVEMENT_ID 
 left join tbl_organization o  on o.orgid=e.unit_deptid
where ls.BRANCH_ID=#{id}  and e.unit_deptid is not null
      <if test="orgname!=null and orgname!='' ">
		and o.orgname LIKE
		concat(concat('%',#{orgname}),'%')
	</if>
         union all
     select ls.*,nt.risknumber as risknumber,o.orgname  from TBL_RISK_IMPROVEMENT_DETAILS  ls 
left join tbl_risk   nt on ls.riskid = nt.riskid 
 left join tbl_organization o  on o.orgid=nt.belongsto
where ls.BRANCH_ID=#{id} and ls.improvement_id=0 
<if test="orgname!=null and orgname!='' ">
		and o.orgname LIKE
		concat(concat('%',#{orgname}),'%')
	</if>
)  dual order by id desc

</select>

</mapper>
