<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.fxgl.mapper.TblRiskMonthlyEvaluationMapper">

	<select id="exportMonthlyEvaluationSummary" resultType="com.huabo.fxgl.entity.TblRiskMonthlyEvaluationEntity">
		select o.orgname as UnitDeptidName,g.orgname as
		CreateDeptidName,a.ORGNAME as
		CreateUnitidName ,s.REALNAME as CreateStaffidName,k.risknumber as risknumber,r.*
		from TBL_RISK_MONTHLY_EVALUATION r
		left join TBL_ORGANIZATION o on r.UNIT_DEPTID=o.ORGID
		left join TBL_ORGANIZATION g on r.CREATE_DEPTID=g.ORGID
		left join TBL_ORGANIZATION a on r.CREATE_UNITID=a.ORGID
		left join TBL_STAFF s on r.CREATE_STAFFID=s.STAFFID
		left join tbl_risk k on k.riskid=r.riskid
		where 1=1 and r.status=6
		<if test="ids!=null and ids.length>0">
			and id in
			<foreach collection="ids" item="item" open="(" close=")"
				separator=",">
				#{item}
			</foreach>
		</if>
		
		<if test="queryParam.createUnitidName!=null and queryParam.createUnitidName!='' ">
		   and a.orgname  LIKE concat(concat('%',#{queryParam.createUnitidName} ),'%')
		</if>
		<if test="queryParam.unitDeptidName!=null and queryParam.unitDeptidName!='' ">
		   and o.orgname  LIKE concat(concat('%',#{queryParam.unitDeptidName} ),'%')
		</if>
			<if test="queryParam.year!=null and queryParam.year!='' ">
		  and year(r.create_Time)=#{queryParam.year} 
		</if>
			<if test="queryParam.oneRisk!=null and queryParam.oneRisk!='' ">
		   and r.ONE_RISK  LIKE concat(concat('%',#{queryParam.oneRisk} ),'%')
		</if>
			<if test="queryParam.twoRisk!=null and queryParam.twoRisk!='' ">
		   and r.TWO_RISK  LIKE concat(concat('%',#{queryParam.twoRisk} ),'%')
		</if>
			<if test="queryParam.threeRisk!=null and queryParam.threeRisk!='' ">
		   and r.THREE_RISK  LIKE concat(concat('%',#{queryParam.threeRisk} ),'%')
		</if>
			<if test="queryParam.risknumber!=null and queryParam.risknumber!='' ">
		   and k.risknumber  LIKE concat(concat('%',#{queryParam.risknumber} ),'%')
		</if>
			<if test="queryParam.monthL!=null">
		    and r.month &gt;= #{queryParam.monthL}
		</if>
		
		 <if test="queryParam.monthR!=null">
		   and r.month &lt;= #{queryParam.monthR}
		</if>
		${sql}
		order by id desc
	</select>  
	 
		<select id="selectAllList" resultType="com.huabo.fxgl.entity.TblRiskMonthlyEvaluationEntity">
		select o.orgname as UnitDeptidName,g.orgname as
		CreateDeptidName,a.ORGNAME as
		CreateUnitidName ,s.REALNAME as CreateStaffidName,k.risknumber as risknumber,r.*
		from TBL_RISK_MONTHLY_EVALUATION r
		left join TBL_ORGANIZATION o on r.UNIT_DEPTID=o.ORGID
		left join TBL_ORGANIZATION g on r.CREATE_DEPTID=g.ORGID
		left join TBL_ORGANIZATION a on r.CREATE_UNITID=a.ORGID
		left join TBL_STAFF s on r.CREATE_STAFFID=s.STAFFID
		left join tbl_risk k on k.riskid=r.riskid
		where r.status=6
	 
		<if test="queryParam.createUnitidName!=null and queryParam.createUnitidName!='' ">
		   and a.orgname  LIKE concat(concat('%',#{queryParam.createUnitidName} ),'%')
		</if>
			<if test="queryParam.unitDeptidName!=null and queryParam.unitDeptidName!='' ">
		   and o.orgname  LIKE concat(concat('%',#{queryParam.unitDeptidName} ),'%')
		</if>
			<if test="queryParam.year!=null and queryParam.year!='' ">
		  and year(r.create_Time)=#{queryParam.year} 
		</if>
			<if test="queryParam.oneRisk!=null and queryParam.oneRisk!='' ">
		   and r.ONE_RISK  LIKE concat(concat('%',#{queryParam.oneRisk} ),'%')
		</if>
			<if test="queryParam.twoRisk!=null and queryParam.twoRisk!='' ">
		   and r.TWO_RISK  LIKE concat(concat('%',#{queryParam.twoRisk} ),'%')
		</if>
			<if test="queryParam.threeRisk!=null and queryParam.threeRisk!='' ">
		   and r.THREE_RISK  LIKE concat(concat('%',#{queryParam.threeRisk} ),'%')
		</if>
			<if test="queryParam.risknumber!=null and queryParam.risknumber!='' ">
		   and k.risknumber  LIKE concat(concat('%',#{queryParam.risknumber} ),'%')
		</if>
			<if test="queryParam.monthL!=null">
		    and r.month &gt;= #{queryParam.monthL}
		</if>
		
		 <if test="queryParam.monthR!=null">
		   and r.month &lt;= #{queryParam.monthR}
		</if>
		${sql}
		order by id,r.CREATE_UNITID desc
	</select>  
	 
	<select id="queryAssessedRiskList" resultType="com.huabo.fxgl.entity.Risk">
	select distinct s.*,O.ORGNAME AS unitname from
	TBL_RISK_ASSPLAN_RISK r
	left join TBL_RISK_RISKMARKING a on a.assriskid=r.assriskid
	left join TBL_RISK_ASSPLAN p on p.assplanid=r.assplanid
	left join TBL_RISK s on s.riskid=r.riskid
	left join TBL_ORGANIZATION O ON O.ORGID=S.UNIT
	where  r.assdate=(SELECT MAX(ASSDATE) FROM TBL_RISK_ASSPLAN_RISK WHERE RISKID = s.riskid) 
	<if test="queryParam.risknumber!=null and queryParam.risknumber!=''">
	   and s.risknumber LIKE concat(concat('%',#{queryParam.risknumber} ),'%')
	</if>
	
	<if test="queryParam.riskname!=null and queryParam.riskname!=''">
	   and s.riskname LIKE concat(concat('%',#{queryParam.riskname} ),'%')
	</if>
	
	<if test="queryParam.belongsto!=null and queryParam.belongsto!=''">
	   and s.belongsto =#{queryParam.belongsto}
	</if>
	
	<if test="queryParam.unitname!=null and queryParam.unitname!=''">
	   and O.orgname like  concat(concat('%',#{queryParam.unitname} ),'%')
	</if>
	
	<if test="queryParam.belongsto!=null and queryParam.belongsto!=''">
	   and s.belongsto =#{queryParam.belongsto}
	</if>
	
	 <if test="company!=null and company!=''">
		and p.unit=#{company}
	</if>
	
	<if test="ids!=null and ids.length>0">
			and s.riskid in
			<foreach collection="ids" item="item" open="(" close=")"
				separator=",">
				#{item}
			</foreach>
		</if>
	and a.asssatus=2
	${sql}
	order by s.riskcreatedt desc
	</select>  
	 
	
	
		<select id="queryMonthlyEvaluationList" resultType="com.huabo.fxgl.entity.TblRiskMonthlyEvaluationEntity">
		select o.orgname as UnitDeptidName,g.orgname as
		CreateDeptidName,a.ORGNAME as
		CreateUnitidName ,s.REALNAME as CreateStaffidName,k.risknumber as risknumber,r.*
		from TBL_RISK_MONTHLY_EVALUATION r
		left join TBL_ORGANIZATION o on r.UNIT_DEPTID=o.ORGID
		left join TBL_ORGANIZATION g on r.CREATE_DEPTID=g.ORGID
		left join TBL_ORGANIZATION a on r.CREATE_UNITID=a.ORGID
		left join TBL_STAFF s on r.CREATE_STAFFID=s.STAFFID
		left join tbl_risk k on k.riskid=r.riskid
		where 1=1  and r.riskid is not null 
		<if test="queryParam.riskid!=null">
		   and r.riskid=#{queryParam.riskid} 
		</if>
			<!-- <if test="queryParam.createUnitid!=null and queryParam.createUnitid!=''">
		   and  r.CREATE_UNITID=#{queryParam.createUnitid} 
		</if>
		
		<if test="queryParam.createStaffid!=null and queryParam.createStaffid!=''">
		   and  r.CREATE_STAFFID=#{queryParam.createStaffid} 
		</if> -->
		${sql}
		order by id desc
	</select>  
	
	
		<select id="exportMonthlyEvaluation" resultType="com.huabo.fxgl.entity.TblRiskMonthlyEvaluationEntity">
		select o.orgname as UnitDeptidName,g.orgname as
		CreateDeptidName,a.ORGNAME as
		CreateUnitidName ,s.REALNAME as CreateStaffidName,k.risknumber as risknumber,r.*
		from TBL_RISK_MONTHLY_EVALUATION r
		left join TBL_ORGANIZATION o on r.UNIT_DEPTID=o.ORGID
		left join TBL_ORGANIZATION g on r.CREATE_DEPTID=g.ORGID
		left join TBL_ORGANIZATION a on r.CREATE_UNITID=a.ORGID
		left join TBL_STAFF s on r.CREATE_STAFFID=s.STAFFID
		left join tbl_risk k on k.riskid=r.riskid
		where 1=1 and r.riskid is not null
		<if test="riskid!=null and riskid!=''">
		   and r.riskid=#{riskid} 
		</if>
			 
			<if test="ids!=null and ids!='' and ids.length>0">
			and id in
			<foreach collection="ids" item="item" open="(" close=")"
				separator=",">
				#{item}
			</foreach>
		</if>
		${sql}
		order by id desc
	</select>  
</mapper>
