<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.fxgl.mapper.TblRiskReviewOracleMapper">

	 <select id="getQueryList" resultType="com.huabo.fxgl.entity.TblRiskReview">
		   select o.orgname as Staffidname,ds.realname as Staffdeptname,org.orgname as orgname,u.ORGNAME as staffunitname,r.*  from TBL_RISK_REVIEW  r
				 left join tbl_organization o on o.orgid=r.Staffdept
				  left join tbl_organization org on org.orgid=r.linkorgid
				 left join tbl_staff ds on ds.staffid=r.Staffid
				 left join tbl_organization u on u.orgid=r.STAFFUNIT
				  where 1=1 
				  <if test="queryParam.mattername!=null  and queryParam.mattername!='' ">
				     and mattername LIKE concat(concat('%',#{queryParam.mattername} ),'%')
				  </if>
				   <if test="queryParam.mattercode!=null  and queryParam.mattercode!='' ">
				   and mattercode LIKE concat(concat('%',#{queryParam.mattercode} ),'%')
				  </if>
				   <if test="queryParam.riskreviewcode!=null  and queryParam.riskreviewcode!='' ">
				   and riskreviewcode LIKE concat(concat('%',#{queryParam.riskreviewcode} ),'%')
				  </if>
				  <if test="queryParam.staffunitname!=null  and queryParam.staffunitname!='' ">
				   and u.orgname =#{queryParam.staffunitname}
				  </if>
				    <if test="queryParam.linkorgid!=null">
				   and r.linkorgid =#{queryParam.linkorgid}
				  </if>
				  <if test="queryParam.state!='' and queryParam.state!=null">
				  <choose>
				   <when test="queryParam.state==0 ">
				      and  state  is null or state=''
				  </when>
				  <otherwise>
				       and   state=#{queryParam.state}
				  </otherwise>
				  </choose>
				  </if>
				   <if test="authorityType!=null and authorityType == 0">
				     and linkorgid=#{queryParam.linkorgid}
				  </if>
				   ${sql}
     order by createtime  desc
	</select>  
	 
	
	
	 <select id="selectAllSummaryList" resultType="com.huabo.fxgl.entity.TblRiskImplementEntity">
		 select  a.ORGNAME as ImpLssuedUnitName
         ,t.REALNAME as ImpLssuedStaffidName,r.* from TBL_RISK_IMPLEMENT r 
        left join TBL_ORGANIZATION a on  r.IMP_LSSUED_UNIT=a.ORGID  
        left join TBL_STAFF t on r.IMP_LSSUED_STAFFID=t.STAFFID where 1=1  and toreport=1
		<if test="queryParam.impRiskName!=null and queryParam.impRiskName!='' ">
			and IMP_RISK_NAME  LIKE concat(concat('%',#{queryParam.impRiskName} ),'%')
		</if>
	      <if test="ids!=null and ids.length>0">
	        and id in 
	     <foreach collection="ids" item="item" open="(" close=")" separator=",">
	      #{item}	   
	     </foreach>
	     </if>
	     <!-- 是否需要判断是总公司的？ -->
		order by id desc
	</select>  
	
	
	
	<select id="getDetalById" resultType="com.huabo.fxgl.entity.TblRiskReview">
	select r.*,s.REALNAME as staffidname,o.ORGNAME as staffdeptname,u.ORGNAME as staffunitname from
	TBL_RISK_REVIEW r
	left join tbl_staff s on s.STAFFID=r.STAFFID
	left join tbl_organization o on o.orgid=r.STAFFDEPT
	left join tbl_organization u on u.orgid=r.STAFFUNIT
	where  reviewid=#{id}
</select>
</mapper>
