<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.fxgl.mapper.TblRiskMonitoringCreationMapper">

	 <select id="getList" resultType="com.huabo.fxgl.entity.TblRiskMonitoringCreation">
		 select c.*,o.orgname as linkOrgName,r.orgname as linkDeptName,s.realname as createname from TBL_RISKMONITORING_CREATION c 
		  left join tbl_organization o on o.orgid=c.linkorgid 
		  left join tbl_organization r on r.orgid=c.linkdeptid
		  left join tbl_staff s on s.staffid=c.createstaffid
		  where 1=1 
		  <if test="param.riskyear!=null and param.riskyear!=''">
		    and riskyear LIKE
			concat(concat('%',#{param.riskyear}),'%')
		 </if>
		  <if test="param.quartername!=null and param.quartername!=''">
		   and quartername  LIKE
			concat(concat('%',#{param.quartername}),'%')
		 </if>
		 
		   <if test="param.createstaffid!=null">
		   and createstaffid  =#{param.createstaffid}
		 </if>
		 
		   <if test="param.linkOrgId!=null">
		   and linkOrgId  =#{param.linkOrgId}
		 </if>
		 <if test="sql!=null and sql!=''">
		 ${sql}
		 </if>
		  order by createtime desc 
	</select>  
	 
	 
</mapper>
