<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.sharing.mapper.TblAccountingRuleCategoryMapper">

    <select id="selectByCategoryCode" resultType="com.financial.sharing.entity.TblAccountingRuleCategory">
        SELECT * FROM TBL_ACCOUNTING_RULE_CATEGORY WHERE CATEGORY_CODE = #{categoryCode}
    </select>

    <select id="selectByParentId" resultType="com.financial.sharing.entity.TblAccountingRuleCategory">
        SELECT * FROM TBL_ACCOUNTING_RULE_CATEGORY WHERE PARENT_ID = #{parentId} ORDER BY SORT_ORDER ASC, CREATE_TIME DESC
    </select>

    <select id="selectByIsEnabled" resultType="com.financial.sharing.entity.TblAccountingRuleCategory">
        SELECT * FROM TBL_ACCOUNTING_RULE_CATEGORY WHERE IS_ENABLED = #{isEnabled} ORDER BY SORT_ORDER ASC, CREATE_TIME DESC
    </select>

    <select id="selectTopLevelCategories" resultType="com.financial.sharing.entity.TblAccountingRuleCategory">
        SELECT * FROM TBL_ACCOUNTING_RULE_CATEGORY WHERE PARENT_ID IS NULL OR PARENT_ID = '' ORDER BY SORT_ORDER ASC, CREATE_TIME DESC
    </select>

</mapper>
