<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.sharing.mapper.TblBudgetExecutionMapper">

    <select id="selectByRuleId" resultType="com.financial.sharing.entity.TblBudgetExecution">
        SELECT * FROM TBL_BUDGET_EXECUTION WHERE RULE_ID = #{ruleId} ORDER BY EXECUTION_TIME DESC
    </select>

    <select id="selectByBudgetId" resultType="com.financial.sharing.entity.TblBudgetExecution">
        SELECT * FROM TBL_BUDGET_EXECUTION WHERE BUDGET_ID = #{budgetId} ORDER BY EXECUTION_TIME DESC
    </select>

    <select id="selectByBusiness" resultType="com.financial.sharing.entity.TblBudgetExecution">
        SELECT * FROM TBL_BUDGET_EXECUTION
        WHERE BUSINESS_TYPE = #{businessType} AND BUSINESS_ID = #{businessId}
        ORDER BY EXECUTION_TIME DESC
    </select>

    <select id="selectByTimeRange" resultType="com.financial.sharing.entity.TblBudgetExecution">
        SELECT * FROM TBL_BUDGET_EXECUTION
        WHERE EXECUTION_TIME <![CDATA[>=]]> #{startTime} AND EXECUTION_TIME <![CDATA[<=]]> #{endTime}
        ORDER BY EXECUTION_TIME DESC
    </select>

    <select id="selectByExecutionUser" resultType="com.financial.sharing.entity.TblBudgetExecution">
        SELECT * FROM TBL_BUDGET_EXECUTION WHERE EXECUTION_USER = #{executionUser} ORDER BY EXECUTION_TIME DESC
    </select>

</mapper>
