<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.sharing.mapper.TblBillFieldMappingMapper">

    <select id="selectByConfigId" resultType="com.financial.sharing.entity.TblBillFieldMapping">
        SELECT * FROM TBL_BILL_FIELD_MAPPING WHERE CONFIG_ID = #{configId} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByConfigIdOrderBySort" resultType="com.financial.sharing.entity.TblBillFieldMapping">
        SELECT * FROM TBL_BILL_FIELD_MAPPING WHERE CONFIG_ID = #{configId} ORDER BY SORT_ORDER ASC, CREATE_TIME DESC
    </select>

    <select id="selectBySourceField" resultType="com.financial.sharing.entity.TblBillFieldMapping">
        SELECT * FROM TBL_BILL_FIELD_MAPPING WHERE SOURCE_FIELD = #{sourceField} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByTargetField" resultType="com.financial.sharing.entity.TblBillFieldMapping">
        SELECT * FROM TBL_BILL_FIELD_MAPPING WHERE TARGET_FIELD = #{targetField} ORDER BY CREATE_TIME DESC
    </select>

    <delete id="deleteByConfigId">
        DELETE FROM TBL_BILL_FIELD_MAPPING WHERE CONFIG_ID = #{configId}
    </delete>

</mapper>
