<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.sharing.mapper.TblExpenseParameterPermissionMapper">

    <select id="selectByParameterId" resultType="com.financial.sharing.entity.TblExpenseParameterPermission">
        SELECT * FROM TBL_EXPENSE_PARAMETER_PERMISSION WHERE PARAMETER_ID = #{parameterId} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByPermissionType" resultType="com.financial.sharing.entity.TblExpenseParameterPermission">
        SELECT * FROM TBL_EXPENSE_PARAMETER_PERMISSION WHERE PERMISSION_TYPE = #{permissionType} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByPermissionTarget" resultType="com.financial.sharing.entity.TblExpenseParameterPermission">
        SELECT * FROM TBL_EXPENSE_PARAMETER_PERMISSION WHERE PERMISSION_TARGET = #{permissionTarget} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByParameterIdAndType" resultType="com.financial.sharing.entity.TblExpenseParameterPermission">
        SELECT * FROM TBL_EXPENSE_PARAMETER_PERMISSION
        WHERE PARAMETER_ID = #{parameterId} AND PERMISSION_TYPE = #{permissionType}
        ORDER BY CREATE_TIME DESC
    </select>

</mapper>
