<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.sharing.mapper.TblExpenseParameterMapper">

    <select id="selectByParameterCode" resultType="com.financial.sharing.entity.TblExpenseParameter">
        SELECT * FROM TBL_EXPENSE_PARAMETER WHERE PARAMETER_CODE = #{parameterCode}
    </select>

    <select id="selectByParameterType" resultType="com.financial.sharing.entity.TblExpenseParameter">
        SELECT * FROM TBL_EXPENSE_PARAMETER WHERE PARAMETER_TYPE = #{parameterType} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByDataType" resultType="com.financial.sharing.entity.TblExpenseParameter">
        SELECT * FROM TBL_EXPENSE_PARAMETER WHERE DATA_TYPE = #{dataType} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByIsEnabled" resultType="com.financial.sharing.entity.TblExpenseParameter">
        SELECT * FROM TBL_EXPENSE_PARAMETER WHERE IS_ENABLED = #{isEnabled} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByIsRequired" resultType="com.financial.sharing.entity.TblExpenseParameter">
        SELECT * FROM TBL_EXPENSE_PARAMETER WHERE IS_REQUIRED = #{isRequired} ORDER BY CREATE_TIME DESC
    </select>

</mapper>
