<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.sharing.mapper.TblGeneralStandardMapper">

    <select id="selectByStandardCode" resultType="com.financial.sharing.entity.TblGeneralStandard">
        SELECT * FROM TBL_GENERAL_STANDARD WHERE STANDARD_CODE = #{standardCode}
    </select>

    <select id="selectByStandardType" resultType="com.financial.sharing.entity.TblGeneralStandard">
        SELECT * FROM TBL_GENERAL_STANDARD WHERE STANDARD_TYPE = #{standardType} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByStandardNameLike" resultType="com.financial.sharing.entity.TblGeneralStandard">
        SELECT * FROM TBL_GENERAL_STANDARD
        WHERE STANDARD_NAME LIKE CONCAT('%', #{standardName}, '%')
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByIsEnabled" resultType="com.financial.sharing.entity.TblGeneralStandard">
        SELECT * FROM TBL_GENERAL_STANDARD WHERE IS_ENABLED = #{isEnabled} ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectByApplicableScope" resultType="com.financial.sharing.entity.TblGeneralStandard">
        SELECT * FROM TBL_GENERAL_STANDARD WHERE APPLICABLE_SCOPE = #{applicableScope} ORDER BY CREATE_TIME DESC
    </select>

</mapper>
