<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.sharing.mapper.TblMobileSettingGroupMapper">

    <select id="selectByGroupCode" resultType="com.financial.sharing.entity.TblMobileSettingGroup">
        SELECT * FROM TBL_MOBILE_SETTING_GROUP WHERE GROUP_CODE = #{groupCode}
    </select>

    <select id="selectByGroupType" resultType="com.financial.sharing.entity.TblMobileSettingGroup">
        SELECT * FROM TBL_MOBILE_SETTING_GROUP WHERE GROUP_TYPE = #{groupType} ORDER BY SORT_ORDER ASC, CREATE_TIME DESC
    </select>

    <select id="selectByIsEnabled" resultType="com.financial.sharing.entity.TblMobileSettingGroup">
        SELECT * FROM TBL_MOBILE_SETTING_GROUP WHERE IS_ENABLED = #{isEnabled} ORDER BY SORT_ORDER ASC, CREATE_TIME DESC
    </select>

</mapper>
