<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.sharing.mapper.TblTravelStandardDetailMapper">

    <select id="selectByStandardId" resultType="com.financial.sharing.entity.TblTravelStandardDetail">
        SELECT * FROM TBL_TRAVEL_STANDARD_DETAIL WHERE STANDARD_ID = #{standardId} ORDER BY SORT_ORDER ASC
    </select>

    <select id="selectByStandardAndExpenseType" resultType="com.financial.sharing.entity.TblTravelStandardDetail">
        SELECT * FROM TBL_TRAVEL_STANDARD_DETAIL 
        WHERE STANDARD_ID = #{standardId} AND EXPENSE_TYPE = #{expenseType} LIMIT 1
    </select>

    <delete id="deleteByStandardId">
        DELETE FROM TBL_TRAVEL_STANDARD_DETAIL WHERE STANDARD_ID = #{standardId}
    </delete>

</mapper>

