<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.accountant.oracle.mapper.advanced.BudgetSimulationMapper">
    <resultMap id="BaseResultMap" type="com.management.accountant.oracle.entity.advanced.BudgetSimulation">
        <id column="SIMULATION_ID" property="simulationId"/>
        <result column="SIMULATION_CODE" property="simulationCode"/>
        <result column="SIMULATION_NAME" property="simulationName"/>
        <result column="SIMULATION_TYPE" property="simulationType"/>
        <result column="SIMULATION_STATUS" property="simulationStatus"/>
        <result column="BASE_BUDGET_ID" property="baseBudgetId"/>
        <result column="SIMULATION_PARAMS" property="simulationParams"/>
        <result column="SIMULATION_RESULT" property="simulationResult"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>
    <update id="batchDelete">
        UPDATE TBL_BUDGET_SIMULATION SET DEL_FLAG = 1, UPDATE_TIME = SYSDATE
        WHERE SIMULATION_ID IN <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>

