<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.accountant.oracle.mapper.advanced.ExchangeRateMapper">
    <resultMap id="BaseResultMap" type="com.management.accountant.oracle.entity.advanced.ExchangeRate">
        <id column="RATE_ID" property="rateId"/>
        <result column="SOURCE_CURRENCY" property="sourceCurrency"/>
        <result column="TARGET_CURRENCY" property="targetCurrency"/>
        <result column="EXCHANGE_RATE" property="exchangeRate"/>
        <result column="RATE_DATE" property="rateDate"/>
        <result column="RATE_TYPE" property="rateType"/>
        <result column="IS_ENABLED" property="isEnabled"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>
    <update id="batchDelete">
        UPDATE TBL_EXCHANGE_RATE SET DEL_FLAG = 1, UPDATE_TIME = SYSDATE
        WHERE RATE_ID IN <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>

