<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.financialdata.mapper.AssInfoMapper">

    <sql id="statusList">
        <if test="status != null and status != '' ">
            <if test="status == '等于'">
                =
            </if>
            <if test="status == '不等于'">
                !=
            </if>
            <if test="status == '大于'">
                >
            </if>
            <if test="status == '小于'">
                <![CDATA[ < ]]>
            </if>
            <if test="status == '小于等于'">
                <![CDATA[ <= ]]>
            </if>
            <if test="status == '大于等于'">
                >=
            </if>
        </if>
    </sql>

    <sql id="conditions">
        <if test="typeName != null and typeName != ''">
            and ASSDD LIKE '${typeName}%'
        </if>
        <if test="type != null and type != ''">
            <if test="type == 'ASSNAME'">
                <if test="status == '包含'">
                    and ASSNAME LIKE '%${assName}%'
                </if>
                <if test="status == '不包含'">
                    and ASSNAME not LIKE '%${assName}%'
                </if>
                <if test="status != '包含' and status != '不包含'">
                    and ASSNAME
                    <include refid="statusList"/>
                    #{assName}
                </if>
            </if>
            <if test="type == 'ASSID'">
                <if test="status == '包含'">
                    and ASSID LIKE '%${assName}%'
                </if>
                <if test="status == '不包含'">
                    and ASSID not LIKE '%${assName}%'
                </if>
                <if test="status != '包含' and status != '不包含'">
                    and ASSID
                    <include refid="statusList"/>
                    #{assName}
                </if>
            </if>
            <if test="type == 'ASSTYPE'">
                <if test="status == '包含'">
                    and ASSTYPE LIKE '%${assName}%'
                </if>
                <if test="status == '不包含'">
                    and ASSTYPE not LIKE '%${assName}%'
                </if>
                <if test="status != '包含' and status != '不包含'">
                    and ASSTYPE
                    <include refid="statusList"/>
                    #{assName}
                </if>
            </if>
            <if test="type == 'ASSLEVEL'">
                <if test="status == '包含'">
                    and ASSLEVEL LIKE '%${assName}%'
                </if>
                <if test="status == '不包含'">
                    and ASSLEVEL not LIKE '%${assName}%'
                </if>
                <if test="status != '包含' and status != '不包含'">
                    and ASSLEVEL
                    <include refid="statusList"/>
                    #{assName}
                </if>
            </if>
            <if test="type == 'ASSSJBM'">
                <if test="status == '包含'">
                    and ASSSJBM LIKE '%${assName}%'
                </if>
                <if test="status == '不包含'">
                    and ASSSJBM not LIKE '%${assName}%'
                </if>
                <if test="status != '包含' and status != '不包含'">
                    and ASSSJBM
                    <include refid="statusList"/>
                    #{assName}
                </if>
            </if>
            <if test="wnss != null and wnss != ''">
                and ASSID = #{wnss}
            </if>
        </if>
    </sql>


    <select id="selectAuxiliaryBookList"
            parameterType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookRequestVo"
            resultType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookResponsetVo">
        SELECT
        ASSTYPE, ASSID, ASSNAME, ASSDES, ASSLEVEL, ASSSJBM
        FROM
        ${dbSource}.TBL_ASS_INFO
        WHERE 1=1
        <if test="bookYear != null and bookYear != ''">
            and AYEAR = ${bookYear}
        </if>
        <include refid="conditions"/>
        order by ASSTYPE,ASSID asc
    </select>

    <select id="selectAuxiliaryBookCount"
            parameterType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookRequestVo"
            resultType="java.lang.Integer">
        SELECT COUNT (0) FROM ${dbSource}.TBL_ASS_INFO WHERE 1=1
        <if test="bookYear != null and bookYear != ''">
            and AYEAR = ${bookYear}
        </if>
        <include refid="conditions"/>
    </select>

    <sql id="conditionsBal">
        <if test="typeName != null and typeName != ''">
            and B.ASSTYPE like '%${typeName}%'
        </if>
        <if test="type != null and type != ''">
            <if test="type == 'ASSNAME'">
                <if test="status == '包含'">
                    and B.ASSNAME LIKE '%${assName}%'
                </if>
                <if test="status == '不包含'">
                    and B.ASSNAME not LIKE '%${assName}%'
                </if>
                <if test="status != '包含' and status != '不包含'">
                    and B.ASSNAME
                    <include refid="statusList"/>
                    #{assName}
                </if>
            </if>
            <if test="type == 'ASSID'">
                <if test="status == '包含'">
                    and B.ASSID LIKE '%${assName}%'
                </if>
                <if test="status == '不包含'">
                    and B.ASSID not LIKE '%${assName}%'
                </if>
                <if test="status != '包含' and status != '不包含'">
                    and B.ASSID
                    <include refid="statusList"/>
                    #{assName}
                </if>
            </if>
            <if test="type == 'QCDC'">
                AND B.QCDC
                <include refid="statusList"/>
                #{assName}
            </if>
            <if test="type == 'QCMD'">AND NVL(B.QCMD,'0')
                <include refid="statusList"/>
                #{assName}
            </if>
            <if test="type == 'QCMC'">AND NVL(B.QCMC,'0')
                <include refid="statusList"/>
                #{assName}
            </if>
            <if test="type == 'BQMD'">AND NVL(B.BQMD,'0')
                <include refid="statusList"/>
                #{assName}
            </if>
            <if test="type == 'BQMC'">AND NVL(B.BQMC,'0')
                <include refid="statusList"/>
                #{assName}
            </if>
            <if test="type == 'QMMD'">AND NVL(B.QMMD,'0')
                <include refid="statusList"/>
                #{assName}
            </if>
            <if test="type == 'QMMC'">AND NVL(B.QMMC,'0')
                <include refid="statusList"/>
                #{assName}
            </if>
            <if test="wnss != null and wnss != ''">
                and ASSID = #{wnss}
            </if>
        </if>
    </sql>

    <select id="findAssInfoByBalanceList"
            parameterType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookRequestVo"
            resultType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookResponsetVo">
        SELECT B.ASSID as assId,B.ASSNAME as assName,B.ASSTYPE as assType,NVL(B.QCMD,'0') AS qcmd,NVL(B.QCMC,'0') AS
        qcmc,
        NVL(B.BQMD,'0') AS bqmd,NVL(B.BQMC,'0') AS bqmc,NVL(B.QMMD,'0') AS qmmd,
        NVL(B.QMMC,'0') AS qmmc,B.QCDC as qcdc,B.QMDC as qmdc ,B.AID AS aid FROM ${dbSource}.TBL_ASS_BAL B
        WHERE 1=1
        <if test="bookYear != null and bookYear != ''">
            and B.AYEAR = ${bookYear}
        </if>
        <include refid="conditionsBal"/>
        ORDER BY B.ASSID,B.ASSNAME
    </select>
    <select id="findAssInfoByBalanceCount"
            parameterType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookRequestVo"
            resultType="java.lang.Integer">
        SELECT COUNT(0) FROM ${dbSource}.TBL_ASS_BAL B
        WHERE 1=1
        <if test="bookYear != null and bookYear != ''">
            and B.AYEAR = ${bookYear}
        </if>
        <include refid="conditionsBal"/>
    </select>

    <sql id="conditionsAssSum">
    	<if test="bookYear != null and bookYear != ''">
            and S.AYEAR = ${bookYear}
        </if>
        <if test="type != '' and type != null">
            <if test="type =='ASSNAME'">
                <if test="status == '包含'">AND S.ASSNAME like '%${assName}%'</if>
                <if test="status == '不包含'">AND S.ASSNAME not like '%${assName}%'</if>
                <if test="status != '不包含' and status != '包含'">AND S.ASSNAME
                    <include refid="statusList"/>
                    #{assName}
                </if>
            </if>
            <if test="type =='ACCNAME'">
                <if test="status == '包含'">AND AC.ACCNAME1 like '%${assName}%'</if>
                <if test="status == '不包含'">AND AC.ACCNAME1 not like '%${assName}%'</if>
                <if test="status != '不包含' and status != '包含'">AND AC.ACCNAME1
                    <include refid="statusList"/>
                    #{assName}
                </if>
            </if>
        </if>
        <if test="typeName != '' and typeName != null">
            AND ASSTYPE LIKE '%${typeName}%'
        </if>
    </sql>

    <select id="findAssSumByTotalList"
            parameterType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookRequestVo"
            resultType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookResponsetVo">
        SELECT
       		TEM.ACCID as ACCID,TEM.ASSNAME as assName,TEM.AMONTH as aMonth,TEM.QCMD as qcmd,TEM.QCMC as qcmc,TEM.QMMD as
        	qmmd,TEM.QMMC as qmmc,TEM.BQMC as bqmc,TEM.BQMD as bqmd,
        	TEM.LJMD as ljmd,TEM.LJMC as ljmc,TEM.QCDC as qcdc,TEM.QMDC as qmdc,TEM.ASSTYPE as assType,TEM.ACCNAME1||'--'||AB.ACCNAME1 as accName,
				TEM.ASSID AS ASSID,TEM.ACID
        FROM (
        SELECT DISTINCT S.AYEAR,SUBSTR(S.ACCID,0,4) ACCID,S.ASSNAME,S.AMONTH,NVL(SUM(S.QCMD),'0') AS QCMD,
        NVL(SUM(S.QCMC),'0') AS QCMC,NVL(SUM(S.QMMD),'0') AS QMMD,NVL(SUM(S.QMMC),'0') AS QMMC,NVL(SUM(S.LJMD),'0') AS
        LJMD,NVL(SUM(S.BQMD),'0') AS BQMD,NVL(SUM(S.BQMC),'0') AS BQMC,
        NVL(SUM(S.LJMC),'0') AS LJMC,NVL(S.QCDC,'0') AS QCDC,NVL(S.QMDC,'0') AS QMDC,S.ASSTYPE,S.ASSID,
        AC.ACCNAME1,MIN(S.ACCID) AS ACID
        FROM ${dbSource}.TBL_ASS_SUM S
        LEFT JOIN ${dbSource}.TBL_ACCOUNT AC ON AC.ACCID = SUBSTR(S.ACCID,0,4) AND AC.AYEAR = S.AYEAR
        WHERE ASSNAME IS NOT NULL
        AND (QCMD != 0 OR QCMC != 0 OR QMMD != 0 OR QMMC != 0 OR LJMD != 0 OR LJMC != 0)
        <include refid="conditionsAssSum"/>
        GROUP BY S.AYEAR,S.ASSNAME,S.AMONTH,S.ASSTYPE,S.ASSID,S.QCDC,S.QMDC,AC.ACCNAME1,SUBSTR(S.ACCID,0,4) ORDER BY
        ACCID ) TEM
        LEFT JOIN ${dbSource}.TBL_ACCOUNT AB ON AB.ACCID = TEM.ACID AND AB.AYEAR = TEM.AYEAR
        ORDER BY TEM.ACCID ASC,TEM.ASSID ASC,TEM.AMONTH ASC
    </select>

    <select id="findAssSumByTotalCount"
            parameterType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookRequestVo"
            resultType="java.lang.Integer">
        SELECT COUNT(0) FROM (
        SELECT DISTINCT S.AYEAR,SUBSTR(S.ACCID,0,4) ACCID,S.ASSNAME,S.AMONTH,NVL(SUM(S.QCMD),'0') AS QCMD,
        NVL(SUM(S.QCMC),'0') AS QCMC,NVL(SUM(S.QMMD),'0') AS QMMD,NVL(SUM(S.QMMC),'0') AS QMMC,NVL(SUM(S.LJMD),'0') AS
        LJMD,
        NVL(SUM(S.LJMC),'0') AS LJMC,NVL(S.QCDC,'0') AS QCDC,NVL(S.QMDC,'0') AS QMDC,S.ASSTYPE,S.ASSID,
        AC.ACCNAME1,MIN(S.ACCID) AS ACID
        FROM ${dbSource}.TBL_ASS_SUM S
        LEFT JOIN ${dbSource}.TBL_ACCOUNT AC ON AC.ACCID = SUBSTR(S.ACCID,0,4) AND AC.AYEAR = S.AYEAR
        WHERE ASSNAME IS NOT NULL
        AND (QCMD != 0 OR QCMC != 0 OR QMMD != 0 OR QMMC != 0 OR LJMD != 0 OR LJMC != 0)
        <include refid="conditionsAssSum"/>
        GROUP BY S.AYEAR,S.ASSNAME,S.AMONTH,S.ASSTYPE,S.ASSID,S.QCDC,S.QMDC,AC.ACCNAME1,SUBSTR(S.ACCID,0,4) ORDER BY
        ACCID ) TEM
        LEFT JOIN ${dbSource}.TBL_ACCOUNT AB ON AB.ACCID = TEM.ACID AND AB.AYEAR = TEM.AYEAR
    </select>

	<select id="selectAllAssTypeList"
            parameterType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookRequestVo"
            resultType="java.lang.String">
        SELECT ASSTYPE FROM ${dbSource}.TBL_ASS_INFO 
        WHERE ASSTYPE != 'null' AND ASSTYPE != 'NULL' AND ASSTYPE IS NOT NULL AND AYEAR = ${bookYear} 
        GROUP BY ASSTYPE ORDER BY ASSTYPE ASC
    </select>

	<select id="selectListByExportFzxxb"
            parameterType="com.huabo.financialdata.entity.vo.export.ExportRequestVo"
            resultType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookResponsetVo">
        SELECT ASSTYPE, ASSID, ASSNAME, ASSDES, ASSLEVEL, ASSSJBM
        FROM ${dbSource}.TBL_ASS_INFO
        WHERE AYEAR = ${year} AND ASSID IN ${sqlStr}
        order by ASSTYPE,ASSID ASC
    </select>

	<select id="selectListByExportFzyeb"
            parameterType="com.huabo.financialdata.entity.vo.export.ExportRequestVo"
            resultType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookResponsetVo">
        SELECT B.ASSID as assId,B.ASSNAME as assName,B.ASSTYPE as assType,NVL(B.QCMD,'0') AS qcmd,NVL(B.QCMC,'0') AS
        qcmc,
        NVL(B.BQMD,'0') AS bqmd,NVL(B.BQMC,'0') AS bqmc,NVL(B.QMMD,'0') AS qmmd,
        NVL(B.QMMC,'0') AS qmmc,B.QCDC as qcdc,B.QMDC as qmdc ,B.AID AS aid FROM ${dbSource}.TBL_ASS_BAL B
        WHERE AYEAR = ${year} AND B.AID IN ${sqlStr}
        ORDER BY B.ASSID,B.ASSNAME
    </select>

	<select id="selectListByExportFzzz"
            parameterType="com.huabo.financialdata.entity.vo.export.ExportRequestVo"
            resultType="com.huabo.financialdata.entity.vo.auxiliaryBook.AuxiliaryBookResponsetVo">
        SELECT
       		TEM.ACCID as ACCID,TEM.ASSNAME as assName,TEM.AMONTH as aMonth,TEM.QCMD as qcmd,TEM.QCMC as qcmc,TEM.QMMD as
        	qmmd,TEM.QMMC as qmmc,
        	TEM.LJMD as ljmd,TEM.LJMC as ljmc,TEM.QCDC as qcdc,TEM.QMDC as qmdc,TEM.ASSTYPE as assType,TEM.ACCNAME1||'--'||AB.ACCNAME1 as accName,
				TEM.ASSID AS ASSID,TEM.ACID
        FROM (
        SELECT DISTINCT S.AYEAR,SUBSTR(S.ACCID,0,4) ACCID,S.ASSNAME,S.AMONTH,NVL(SUM(S.QCMD),'0') AS QCMD,
        NVL(SUM(S.QCMC),'0') AS QCMC,NVL(SUM(S.QMMD),'0') AS QMMD,NVL(SUM(S.QMMC),'0') AS QMMC,NVL(SUM(S.LJMD),'0') AS
        LJMD,
        NVL(SUM(S.LJMC),'0') AS LJMC,NVL(S.QCDC,'0') AS QCDC,NVL(S.QMDC,'0') AS QMDC,S.ASSTYPE,S.ASSID,
        AC.ACCNAME1,MIN(S.ACCID) AS ACID
        FROM ${dbSource}.TBL_ASS_SUM S
        LEFT JOIN ${dbSource}.TBL_ACCOUNT AC ON AC.ACCID = SUBSTR(S.ACCID,0,4) AND AC.AYEAR = S.AYEAR
        WHERE ASSNAME IS NOT NULL
        AND (QCMD != 0 OR QCMC != 0 OR QMMD != 0 OR QMMC != 0 OR LJMD != 0 OR LJMC != 0)
      	AND S.AYEAR = #{year} AND ${sqlStr}
        GROUP BY S.AYEAR,S.ASSNAME,S.AMONTH,S.ASSTYPE,S.ASSID,S.QCDC,S.QMDC,AC.ACCNAME1,SUBSTR(S.ACCID,0,4) ORDER BY
        ACCID ) TEM
        LEFT JOIN ${dbSource}.TBL_ACCOUNT AB ON AB.ACCID = TEM.ACID AND AB.AYEAR = TEM.AYEAR
        ORDER BY TEM.ACCID
    </select>

</mapper>
