<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.financialdata.mapper.GbiApplicationConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.financialdata.entity.entity.GbiApplicationConfig">
        <id column="ID" property="id" />
        <result column="CONTINUOUS_QUESTIONING" property="continuousQuestioning" />
        <result column="USER_ID" property="userId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="DELETED" property="deleted" />
        <result column="CREATE_COMPANY" property="createCompany" />
        <result column="CREATE_DEPT" property="createDept" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CONTINUOUS_QUESTIONING, USER_ID, CREATE_TIME, UPDATE_TIME, DELETED, CREATE_COMPANY, CREATE_DEPT
    </sql>

</mapper>
