<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.financialdata.mapper.GbiBatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.financialdata.entity.entity.GbiBatch">
        <id column="ID" property="id" />
        <result column="APP_ID" property="appId" />
        <result column="BETCH_NO" property="batchNo" />
        <result column="ATTNAME" property="attname" />
        <result column="ATTPATH" property="attpath" />
        <result column="ATTSIZE" property="attsize" />
        <result column="USER_ID" property="userId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_COMPANY" property="createCompany" />
        <result column="CREATE_DEPT" property="createDept" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, APP_ID, BETCH_NO, ATTNAME, ATTPATH, ATTSIZE, USER_ID, CREATE_TIME, CREATE_COMPANY, CREATE_DEPT
    </sql>

</mapper>
