<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.financialdata.mapper.PrjDataMapper">

    <select id="findAccBookUrl" resultType="com.huabo.financialdata.entity.entity.AccBook"
            parameterType="com.huabo.financialdata.entity.entity.AccBook">
        SELECT
        BOOKID AS bookid,
        BOOKNAME AS bookname,
        ORGID AS orgid,
        ORGNAME AS orgname,
        ACCTIDZT AS acctid,
        BOOKDESC AS bookdesc,
        BOOKYEAR AS bookyear,
        BALANCESHEETURL AS balancesheeturl,
        INCOMESTATEMENTSURL AS incomestatementsurl,
        CASHFLOWSTATEMENTSURL AS cashflowstatementsurl
        FROM ${dbSource}.TBL_ACCBOOK
        WHERE 1=1
        <if test="acctid != null and acctid != ''">AND acctid = #{acctid}</if>
        <if test="bookyear != null and bookyear != ''">AND bookyear = #{bookyear}</if>
        <if test="orgid != null and orgid != ''">AND orgid = #{orgid}</if>

    </select>

    <select id="findAllZcfzb" resultType="com.huabo.financialdata.entity.entity.AccReportYbal"
            parameterType="com.huabo.financialdata.entity.vo.prjData.ZcfzbRequestVo">
        SELECT ZID,
               ACC1,
               ZC,
               QCS1,
               JSGS1,
               QMS1,
               JSGS2,
               ACC2,
               QY,
               QCS2,
               JSGS3,
               QMS2,
               JSGS4,
               LINENO1,
               LINENO2
        FROM ${dbSource}.TBL_ACC_REPORT_YBAL
        ORDER BY zid
    </select>

    <select id="findAllAccPeriod" parameterType="com.huabo.financialdata.entity.vo.prjData.ZcfzbRequestVo"
            resultType="com.huabo.financialdata.entity.entity.AccPeriod">
        SELECT AYEAR     AS ayear,
               STARTDATE AS startdate,
               ENDDATE   AS enddate,
               IMPORT    AS import_,
               VOUTBNAME AS voutbname,
               AMONTH    AS amonth
        FROM ${dbSource}.TBL_ACC_PERIOD
        WHERE AYEAR = #{bookYear}
    </select>

    <select id="findAllAccSum" parameterType="com.huabo.financialdata.entity.vo.prjData.ZcfzbRequestVo"
            resultType="com.huabo.financialdata.entity.vo.prjData.AccSumUtil">
        SELECT
        ACCID, QCMD, QCMC, BQMD, BQMC,
        QMMD, QMMC, FNAME, QCMD_F, QCMC_F,
        BQMD_F, BQMC_F, QMMD_F, QMMC_F,
        NUM, AYEAR, AMONTH, LJMD, LJMC,
        LJMD_F,LJMC_F, QCDC, QMDC
        FROM
        ${dbSource}.TBL_ACC_SUM
        WHERE 1=1
        <if test="strYear != null and strYear != '' ">
            AND AYEAR = #{strYear}
        </if>
        <if test="strMonth != null and strMonth != ''">
            AND AMONTH = #{strMonth}
        </if>
        <if test="strContext != null and strContext != ''">
            AND ACCID in
            <foreach item="item" collection="strContext" separator="," open="(" close=")" index="">
                ${item}
            </foreach>
        </if>
    </select>
    <update id="updateTblAccReportYbal" parameterType="com.huabo.financialdata.entity.entity.AccReportYbal">
        update ${dbSource}.TBL_ACC_REPORT_YBAL set
        QCS1 = #{qcs1,jdbcType=VARCHAR},QMS1 = #{qms1,jdbcType=VARCHAR},
        QCS2 = #{qcs2,jdbcType=VARCHAR}, QMS2 = #{qms2,jdbcType=VARCHAR}
        where zid = #{zid}
        <!--update ${dbSource}.TBL_ACC_REPORT_YBAL set-->
        <!--<if test="qcs1 != null and qcs1 != ''"> QCS1 = #{qcs1},</if>-->
        <!--<if test="qms1 != null and qms1 != ''"> QMS1 = #{qms1},</if>-->
        <!--<if test="qcs2 != null and qcs2 != ''"> QCS2 = #{qcs2},</if>-->
        <!--<if test="qms2 != null and qms2 != ''"> QMS2 = #{qms2},</if>-->
        <!--where  zid = #{zid}-->
    </update>

    <select id="findAllMprofit" resultType="com.huabo.financialdata.entity.entity.AccReportMprofit"
            parameterType="java.lang.String">
        SELECT ITEM         AS item,
               CURYEAR_BYS  AS curyearBys,
               BYS_FORMULA  AS bysFormula,
               CURYEAR_BNLJ AS curyearBnlj,
               BNLJ_FORMULA AS bnljFormula,
               ID           AS id,
               MONTH1       AS month1,
               MONTH2       AS month2,
               MONTH3       AS month3,
               MONTH4       AS month4,
               MONTH5       AS month5,
               MONTH6       AS month6,
               MONTH7       AS month7,
               MONTH8       AS month8,
               MONTH9       AS month9,
               MONTH10      AS month10,
               MONTH11      AS month11,
               MONTH12      AS month12
        FROM ${dbSource}.TBL_ACC_REPORT_MPROFIT
        order by ID asc
    </select>


    <update id="updateTblAccReportMprofit" parameterType="com.huabo.financialdata.entity.entity.AccReportMprofit">
        update ${dbSource}.TBL_ACC_REPORT_MPROFIT
        set CURYEAR_BNLJ = #{curyearBnlj,jdbcType=VARCHAR},
            CURYEAR_BYS  = #{curyearBys,jdbcType=VARCHAR}
        where ID = #{id}
    </update>
</mapper>
