<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.treasurer.financialProductDefinition.mapper.TblProductPrincipalRuleMapper">

    <resultMap id="BaseResultMap" type="com.global.treasurer.financialProductDefinition.entity.TblProductPrincipalRule">
        <id column="RULE_ID" property="ruleId"/>
        <result column="RULE_CODE" property="ruleCode"/>
        <result column="RULE_NAME" property="ruleName"/>
        <result column="PRODUCT_TYPE" property="productType"/>
        <result column="REPAYMENT_METHOD" property="repaymentMethod"/>
        <result column="REPAYMENT_FREQUENCY" property="repaymentFrequency"/>
        <result column="GRACE_PERIOD" property="gracePeriod"/>
        <result column="PREPAYMENT_ALLOWED" property="prepaymentAllowed"/>
        <result column="PREPAYMENT_PENALTY_RATE" property="prepaymentPenaltyRate"/>
        <result column="RISK_LEVEL" property="riskLevel"/>
        <result column="MIN_INVESTMENT_AMOUNT" property="minInvestmentAmount"/>
        <result column="MAX_INVESTMENT_AMOUNT" property="maxInvestmentAmount"/>
        <result column="PRINCIPAL_GUARANTEE_RATE" property="principalGuaranteeRate"/>
        <result column="IS_ENABLED" property="isEnabled"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        RULE_ID, RULE_CODE, RULE_NAME, PRODUCT_TYPE, REPAYMENT_METHOD, REPAYMENT_FREQUENCY, GRACE_PERIOD, PREPAYMENT_ALLOWED, PREPAYMENT_PENALTY_RATE, RISK_LEVEL, MIN_INVESTMENT_AMOUNT, MAX_INVESTMENT_AMOUNT, PRINCIPAL_GUARANTEE_RATE, IS_ENABLED, DESCRIPTION, ORG_ID, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    </sql>

    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_PRODUCT_PRINCIPAL_RULE
        <where>
            <if test="ruleCode != null and ruleCode != ''">
                AND RULE_CODE LIKE CONCAT('%', #{ruleCode}, '%')
            </if>
            <if test="ruleName != null and ruleName != ''">
                AND RULE_NAME LIKE CONCAT('%', #{ruleName}, '%')
            </if>
            <if test="productType != null and productType != ''">
                AND PRODUCT_TYPE = #{productType}
            </if>
            <if test="isEnabled != null">
                AND IS_ENABLED = #{isEnabled}
            </if>
            <if test="orgId != null">
                AND ORG_ID = #{orgId}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectEnabledList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_PRODUCT_PRINCIPAL_RULE
        WHERE IS_ENABLED = 1
        <if test="orgId != null">
            AND ORG_ID = #{orgId}
        </if>
        ORDER BY CREATE_TIME ASC
    </select>

    <select id="selectByProductType" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_PRODUCT_PRINCIPAL_RULE
        WHERE PRODUCT_TYPE = #{productType} AND IS_ENABLED = 1
        <if test="orgId != null">
            AND ORG_ID = #{orgId}
        </if>
        ORDER BY CREATE_TIME ASC
    </select>

    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_PRODUCT_PRINCIPAL_RULE
        WHERE RULE_CODE = #{ruleCode}
        <if test="excludeId != null">
            AND RULE_ID != #{excludeId}
        </if>
        LIMIT 1
    </select>

</mapper>

