<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.treasurer.financialProductDefinition.mapper.TblTransactionTypeMapper">

    <resultMap id="BaseResultMap" type="com.global.treasurer.financialProductDefinition.entity.TblTransactionType">
        <id column="TRANSACTION_TYPE_ID" property="transactionTypeId"/>
        <result column="TRANSACTION_TYPE_CODE" property="transactionTypeCode"/>
        <result column="TRANSACTION_TYPE_NAME" property="transactionTypeName"/>
        <result column="TRANSACTION_CATEGORY" property="transactionCategory"/>
        <result column="TRANSACTION_DIRECTION" property="transactionDirection"/>
        <result column="RISK_LEVEL" property="riskLevel"/>
        <result column="ACCOUNTING_SUBJECT" property="accountingSubject"/>
        <result column="REQUIRES_APPROVAL" property="requiresApproval"/>
        <result column="LIMIT_AMOUNT" property="limitAmount"/>
        <result column="SORT_ORDER" property="sortOrder"/>
        <result column="IS_ENABLED" property="isEnabled"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        TRANSACTION_TYPE_ID, TRANSACTION_TYPE_CODE, TRANSACTION_TYPE_NAME, TRANSACTION_CATEGORY,
        TRANSACTION_DIRECTION, RISK_LEVEL, ACCOUNTING_SUBJECT, REQUIRES_APPROVAL, LIMIT_AMOUNT,
        SORT_ORDER, IS_ENABLED, DESCRIPTION, ORG_ID, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    </sql>

    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_TRANSACTION_TYPE
        <where>
            <if test="transactionTypeCode != null and transactionTypeCode != ''">
                AND TRANSACTION_TYPE_CODE LIKE CONCAT('%', #{transactionTypeCode}, '%')
            </if>
            <if test="transactionTypeName != null and transactionTypeName != ''">
                AND TRANSACTION_TYPE_NAME LIKE CONCAT('%', #{transactionTypeName}, '%')
            </if>
            <if test="transactionCategory != null and transactionCategory != ''">
                AND TRANSACTION_CATEGORY = #{transactionCategory}
            </if>
            <if test="transactionDirection != null and transactionDirection != ''">
                AND TRANSACTION_DIRECTION = #{transactionDirection}
            </if>
            <if test="riskLevel != null and riskLevel != ''">
                AND RISK_LEVEL = #{riskLevel}
            </if>
            <if test="isEnabled != null">
                AND IS_ENABLED = #{isEnabled}
            </if>
            <if test="orgId != null">
                AND ORG_ID = #{orgId}
            </if>
        </where>
        ORDER BY SORT_ORDER ASC, CREATE_TIME DESC
    </select>

    <select id="checkCodeUnique" resultType="int">
        SELECT COUNT(1)
        FROM TBL_TRANSACTION_TYPE
        WHERE TRANSACTION_TYPE_CODE = #{transactionTypeCode}
        <if test="excludeId != null">
            AND TRANSACTION_TYPE_ID != #{excludeId}
        </if>
    </select>

    <update id="batchUpdateSort">
        <foreach collection="list" item="item" separator=";">
            UPDATE TBL_TRANSACTION_TYPE
            SET SORT_ORDER = #{item.sortOrder},
                UPDATE_TIME = CURRENT_TIMESTAMP
            WHERE TRANSACTION_TYPE_ID = #{item.transactionTypeId}
        </foreach>
    </update>

    <update id="batchUpdateStatus">
        UPDATE TBL_TRANSACTION_TYPE
        SET IS_ENABLED = #{isEnabled},
            UPDATE_BY = #{updateBy},
            UPDATE_TIME = CURRENT_TIMESTAMP
        WHERE TRANSACTION_TYPE_ID IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="countUsage" resultType="int">
        SELECT COUNT(1)
        FROM TBL_FINANCIAL_PRODUCT
        WHERE FIND_IN_SET(#{transactionTypeId}, TRANSACTION_TYPE_IDS) > 0
    </select>

</mapper>
