<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.mysql.mapper.TblFwglPracticeApplyMySqlMapper">
  <resultMap id="BaseResultMap" type="com.huabo.legal.mysql.entity.TblFwglPracticeApplyMySql">
    <!--@mbg.generated generated on Fri Sep 16 23:24:53 CST 2022.-->
    <!--@Table hbgrctest.tbl_fwgl_practice_apply-->
    <id column="PRACTICEAPPLYID" jdbcType="INTEGER" property="practiceApplyId" />
    <result column="PRACTICEAPPLYNAME" jdbcType="VARCHAR" property="practiceApplyName" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="STAFFID" jdbcType="INTEGER" property="staffId" />
    <result column="AGE" jdbcType="VARCHAR" property="age" />
    <result column="NATION" jdbcType="VARCHAR" property="nation" />
    <result column="IDENTITYCARD" jdbcType="VARCHAR" property="identityCard" />
    <result column="POLITICSSTATUS" jdbcType="VARCHAR" property="politicsStatus" />
    <result column="CERTIFICATIONNUMBER" jdbcType="VARCHAR" property="certificationNumber" />
    <result column="HOMEADDRESS" jdbcType="VARCHAR" property="homeAddress" />
    <result column="SCHOOLOFGRADUATION" jdbcType="VARCHAR" property="schoolOfGraduation" />
    <result column="HIGHESTEDUCATION" jdbcType="VARCHAR" property="highestEducation" />
    <result column="SPECIALTY" jdbcType="VARCHAR" property="specialty" />
    <result column="NOWWORKUNIT" jdbcType="VARCHAR" property="nowWorkUnit" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="TECHNICALPOSITION" jdbcType="VARCHAR" property="technicalPosition" />
    <result column="WORKDEPARTMENT" jdbcType="VARCHAR" property="workDepartment" />
    <result column="OFFICEPHONE" jdbcType="VARCHAR" property="officePhone" />
    <result column="FOREIGNLANGUAGELEVEL" jdbcType="VARCHAR" property="foreignLanguageLevel" />
    <result column="POSTALCODE" jdbcType="VARCHAR" property="postalCode" />
    <result column="AWARD" jdbcType="VARCHAR" property="award" />
    <result column="PUNISHMENT" jdbcType="VARCHAR" property="punishment" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="FILEIDS" jdbcType="VARCHAR" property="fileIds" />
    <result column="IDENTITYCARDFILEIDS" jdbcType="VARCHAR" property="identityCardFileIds" />
    <result column="CERTIFICATEFILEIDS" jdbcType="VARCHAR" property="certificateFileIds" />
    <result column="CONTRACTFILEIDS" jdbcType="VARCHAR" property="contractFileIds" />
    <result column="PROVEFILEIDS" jdbcType="VARCHAR" property="proveFileIds" />
    <result column="PRACTICEAPPLYEXTID" jdbcType="VARCHAR" property="practiceApplyExtId" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="WORKUNIT" jdbcType="VARCHAR" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="VARCHAR" property="belongGroup" />
    <result column="CERTIFICATENUMBER" jdbcType="VARCHAR" property="certificateNumber" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>

    <select id="findLegalPersonnelCardEmploymentRate" resultType="java.lang.Integer">
        select count(*) from tbl_fwgl_practice_apply where (CERTIFICATENUMBER != null or CERTIFICATENUMBER!='') and BELONGGROUP=#{param.belongGroup}
    </select>

    <select id="findFirmLegalProportion" resultType="java.lang.Integer">
        select count(*) from tbl_fwgl_practice_apply where (CERTIFICATIONNUMBER != null or CERTIFICATIONNUMBER1='') and BELONGGROUP=#{param.belongGroup}
    </select>
</mapper>