<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.mysql.mapper.TblFwglLawServiceLawyerMySqlMapper">
  <resultMap id="BaseResultMap" type="com.huabo.legal.mysql.entity.TblFwglLawServiceLawyerMySql">
    <!--@mbg.generated generated on Mon Sep 12 17:35:40 CST 2022.-->
    <!--@Table hbgrctest.tbl_fwgl_perennial_law_service_lawyer-->
    <result column="LAWYERID" jdbcType="INTEGER" property="lawyerId" />
    <result column="LAWYERNAME" jdbcType="VARCHAR" property="lawyerName" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="IDENTITYCARD" jdbcType="VARCHAR" property="identityCard" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="EDUCATION" jdbcType="VARCHAR" property="education" />
    <result column="STARTYEAR" jdbcType="TIMESTAMP" property="startYear" />
    <result column="COMMUNITYPARTTIMEWORK" jdbcType="VARCHAR" property="communityPartTimeWork" />
    <result column="EXPERTISEDOMAIN" jdbcType="VARCHAR" property="expertiseDomain" />
    <result column="LAWOCCUPATION" jdbcType="VARCHAR" property="lawOccupation" />
    <result column="LAWYEROCCUPATION" jdbcType="VARCHAR" property="lawyerOccupation" />
    <result column="BIOGRAPHICALNOTES" jdbcType="VARCHAR" property="biographicalNotes" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="WORKUNIT" jdbcType="VARCHAR" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="VARCHAR" property="belongGroup" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>