<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.mysql.mapper.TblFwglAnnualExamineScoreExtMySqlMapper">
  <resultMap id="BaseResultMap" type="com.huabo.legal.mysql.entity.TblFwglAnnualExamineScoreExtMySql">
    <!--@mbg.generated generated on Sun Sep 18 23:01:09 CST 2022.-->
    <!--@Table hbgrctest.tbl_fwgl_annual_examine_score_ext-->
    <id column="ANNUALEXAMINESCOREEXTID" jdbcType="INTEGER" property="annualExamineScoreExtId" />
    <result column="EXAMINETYPE" jdbcType="INTEGER" property="examineType" />
    <result column="ANNUALEXAMINETOPICEXTID" jdbcType="INTEGER" property="annualExamineTopicExtId" />
    <result column="SCORETRANSACTION" jdbcType="VARCHAR" property="scoreTransaction" />
    <result column="ANNUALEXAMINEID" jdbcType="INTEGER" property="annualExamineId" />
    <result column="SELFGRADE" jdbcType="INTEGER" property="selfGrade" />
    <result column="HEADOFFICEGRADE" jdbcType="INTEGER" property="headOfficeGrade" />
    <result column="DEDUCTMARKS" jdbcType="INTEGER" property="deductMarks" />
    <result column="FILEIDS" jdbcType="VARCHAR" property="fileIds" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="WORKUNIT" jdbcType="VARCHAR" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="VARCHAR" property="belongGroup" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>