<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.mysql.mapper.TblFwglActivityManagementMySqlMapper">
  <resultMap id="BaseResultMap" type="com.huabo.legal.mysql.entity.TblFwglActivityManagementMySql">
    <!--@mbg.generated generated on Sun Sep 18 22:35:17 CST 2022.-->
    <!--@Table hbgrctest.tbl_fwgl_activity_management-->
    <id column="ACTIVITYMANAGEMENTID" jdbcType="INTEGER" property="activityManagementId" />
    <result column="UNITNAME" jdbcType="VARCHAR" property="unitName" />
    <result column="REGISTERTIME" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="UNPLANNED" jdbcType="VARCHAR" property="unplanned" />
    <result column="PLANNED" jdbcType="VARCHAR" property="planned" />
    <result column="ACTIVITYTOPIC" jdbcType="VARCHAR" property="activityTopic" />
    <result column="ACTIVITYCONTENT" jdbcType="VARCHAR" property="activityContent" />
    <result column="SUBSIDIARYOFFICIALACCOUNTLINK" jdbcType="VARCHAR" property="subsidiaryOfficialAccountLink" />
    <result column="FIRMWEBSITELINK" jdbcType="VARCHAR" property="firmWebsiteLink" />
    <result column="SITEPHOTO" jdbcType="VARCHAR" property="sitePhoto" />
    <result column="ACTIVITYFILEIDS" jdbcType="VARCHAR" property="activityFileIds" />
    <result column="ACTIVITYOTHERFILEIDS" jdbcType="VARCHAR" property="activityOtherFileIds" />
    <result column="ACTIVITYMANAGEMENTCREATOR" jdbcType="VARCHAR" property="activityManagementCreator" />
    <result column="ACTIVITYMANAGEMENTCREATEDTIME" jdbcType="TIMESTAMP" property="activityManagementCreatedTime" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="WORKUNIT" jdbcType="VARCHAR" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="VARCHAR" property="belongGroup" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>