<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.mysql.mapper.TblFwglConferenceManagementMySqlMapper">
  <resultMap id="BaseResultMap" type="com.huabo.legal.mysql.entity.TblFwglConferenceManagementMySql">
    <!--@mbg.generated generated on Sun Sep 11 20:56:11 CST 2022.-->
    <!--@Table hbgrctest.tbl_fwgl_conference_management-->
    <id column="CONFERENCEID" jdbcType="INTEGER" property="conferenceId" />
    <result column="CONFERENCENAME" jdbcType="VARCHAR" property="conferenceName" />
    <result column="COMPERE" jdbcType="VARCHAR" property="compere" />
    <result column="CONFERENCETIME" jdbcType="TIMESTAMP" property="conferenceTime" />
    <result column="CONFERENCECREATOR" jdbcType="VARCHAR" property="conferenceCreator" />
    <result column="CONFERENCECREATEDTIME" jdbcType="TIMESTAMP" property="conferenceCreatedTime" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="FILEIDS" jdbcType="VARCHAR" property="fileIds" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="WORKUNIT" jdbcType="VARCHAR" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="VARCHAR" property="belongGroup" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>