<properties>

    <property name="createInnerRuleIndice">
        {
        "settings":{
        "index":{
        "max_result_window": 20000
        }
        },
        "mappings": {
        "properties": {
        "attid": {
        "type": "long"
        },
        "innruletype": {
        "type": "text",
        "analyzer":"ik_max_word"
        },
        "innrulid": {
        "type": "long"
        },
        "publishdate": {
        "type": "date"
        },
        "publishorg": {
        "type": "text"
        },
        "rulecode": {
        "type": "text",
        "analyzer":"ik_max_word"
        },
        "rulename": {
        "type": "text",
        "analyzer":"ik_max_word"
        },
        "rulenumber": {
        "type": "text",
        "analyzer":"ik_max_word"
        },
        "status": {
        "type": "text"
        },
        "timeliness": {
        "type": "text"
        },
        "bodyinfo": {
        "type": "text",
        "analyzer":"ik_max_word"
        },
        "table":{
        "type": "text"
        }
        }
        }
        }
    </property>

    <property name="createOuterRuleIndice">
        {
        "settings":{
        "index":{
        "max_result_window": 20000
        }
        },
        "mappings": {
        "properties": {
        "applyarea": {
        "type": "text"
        },
        "attid": {
        "type": "long"
        },
        "bodyinfo": {
        "type": "text",
        "analyzer":"ik_max_word"
        },
        "createorgid": {
        "type": "long"
        },
        "effectivelevel": {
        "type": "text"
        },
        "enteringperson": {
        "type": "text"
        },
        "enteringtime": {
        "type": "date"
        },
        "ispythonflag": {
        "type": "text"
        },
        "outrulid": {
        "type": "long"
        },
        "publishdate": {
        "type": "date"
        },
        "publishorg": {
        "type": "text"
        },
        "rulecode": {
        "type": "text"
        },
        "rulename": {
        "type": "text",
        "analyzer":"ik_max_word"
        },
        "rulenumber": {
        "type": "text",
        "analyzer":"ik_max_word"
        },
        "status": {
        "type": "text"
        },
        "summaryinfo": {
        "type": "text",
        "analyzer":"ik_max_word"
        },
        "takeeffecttime": {
        "type": "date"
        },
        "timeliness": {
        "type": "text"
        },
        "table":{
        "type": "text"
        }
        }
        }
        }
    </property>

    <property name="innerRuleQuery">
        <![CDATA[
            {
              "from": #[from],
              "size": #[size],
              "query": {
                "multi_match": {
                  "query": #[keyword],
                  "type": "best_fields",
                  "fields": [
                    "innruletype",
                    "rulecode",
                    "rulename",
                    "rulenumber",
                    "bodyinfo"
                  ]
                }
              },
              "highlight": {
                "fields": {
                  "innruletype": {},
                  "rulecode": {},
                  "rulename": {},
                  "rulenumber": {},
                  "bodyinfo": {}
                },
                "pre_tags": "<span style='color: #FBB034'>",
                "post_tags": "</span>",
                "fragment_size": 100000
              },
              "sort": {
                "innrulid": {
                  "order": "desc"
                }
              },
              "track_total_hits":true
            }
        ]]>
    </property>

    <property name="outerRuleQuery">
        <![CDATA[
            {
              "from": #[from],
              "size": #[size],
              "query": {
                "multi_match": {
                  "query": #[keyword],
                  "type": "best_fields",
                  "fields": [
                    "summaryinfo",
                    "rulename",
                    "rulenumber",
                    "bodyinfo"
                  ]
                }
              },
              "highlight": {
                "fields": {
                  "summaryinfo": {},
                  "rulename": {},
                  "rulenumber": {},
                  "bodyinfo": {}
                },
                "pre_tags": "<span style='color: #FBB034'>",
                "post_tags": "</span>",
                "fragment_size": 100000
              },
              "sort": {
                "outrulid": {
                  "order": "desc"
                }
              },
              "track_total_hits":true
            }
        ]]>
    </property>
</properties>