<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.treasurer.mapper.TblSealUsageRecordMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.global.treasurer.entity.TblSealUsageRecord">
        <id column="ID" property="id" />
        <result column="RECORD_NUMBER" property="recordNumber" />
        <result column="SEAL_ID" property="sealId" />
        <result column="SEAL_CODE" property="sealCode" />
        <result column="SEAL_NAME" property="sealName" />
        <result column="OPERATOR_ID" property="operatorId" />
        <result column="OPERATOR_NAME" property="operatorName" />
        <result column="BUSINESS_TYPE" property="businessType" />
        <result column="BUSINESS_NUMBER" property="businessNumber" />
        <result column="USAGE_STATUS" property="usageStatus" />
        <result column="USAGE_TIME" property="usageTime" />
        <result column="USAGE_DESCRIPTION" property="usageDescription" />
        <result column="APPROVER" property="approver" />
        <result column="APPROVAL_TIME" property="approvalTime" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 基础列 -->
    <sql id="Base_Column_List">
        ID, RECORD_NUMBER, SEAL_ID, SEAL_CODE, SEAL_NAME, OPERATOR_ID, OPERATOR_NAME,
        BUSINESS_TYPE, BUSINESS_NUMBER, USAGE_STATUS, USAGE_TIME, USAGE_DESCRIPTION,
        APPROVER, APPROVAL_TIME, REMARK, CREATE_TIME, UPDATE_TIME
    </sql>

</mapper>
