<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.exam.modules.paper.mapper.PaperQuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.legal.exam.modules.paper.entity.PaperQu">
        <id column="id" property="id" />
        <result column="paperid" property="paperId" />
        <result column="quid" property="quId" />
        <result column="qutype" property="quType" />
        <result column="answered" property="answered" />
        <result column="answer" property="answer" />
        <result column="sort" property="sort" />
        <result column="score" property="score" />
        <result column="actualscore" property="actualScore" />
        <result column="isright" property="isRight" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,`paperid`,`quid`,`qutype`,`answered`,`answer`,`sort`,`score`,`actualscore`,`isright`
    </sql>


    <!-- 计算总分 -->
    <select id="sumObjective" resultType="int">
		SELECT NVL(SUM(actualscore),0) as total
		FROM tbl_fwgl_paper_qu
		WHERE paperid=#{paperId}
		AND isright= '1'
	 	AND qutype &lt; 4 
	</select>
	
    <select id="sumSubjective" resultType="int">
		SELECT IFNULL(SUM(actualscore),0) as total
		FROM tbl_fwgl_paper_qu
		WHERE paperid=#{paperId}
		AND qutype &lt; 4 
	</select>

    <resultMap id="ListResultMap" extends="BaseResultMap" type="com.huabo.legal.exam.modules.paper.dto.ext.PaperQuDetailDTO">

        <result column="image" property="image" />
        <result column="content" property="content" />
        <collection property="answerList" column="{paperId=paperid,quId=quid}"
                    select="com.huabo.legal.exam.modules.paper.mapper.PaperQuAnswerMapper.listForShow"></collection>

    </resultMap>

    <select id="listByPaper" resultMap="ListResultMap">
        SELECT pq.*,eq.content,eq.image
        FROM tbl_fwgl_paper_qu pq
        LEFT JOIN tbl_fwgl_qu eq ON pq.quid = eq.id
        WHERE pq.paperid=#{paperId}
        ORDER BY pq.sort ASC
    </select>

</mapper>
