<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.exam.modules.repo.mapper.RepoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.legal.exam.modules.repo.entity.Repo">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="title" property="title" />
        <result column="radiocount" property="radioCount" />
        <result column="multicount" property="multiCount" />
        <result column="judgecount" property="judgeCount" />
        <result column="remark" property="remark" />
        <result column="createtime" property="createTime" />
        <result column="updatetime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,`code`,`title`,`radiocount`,`multicount`,`judgecount`,`remark`,`createtime`,`updatetime`
    </sql>


    <resultMap id="ListResultMap"
               type="com.huabo.legal.exam.modules.repo.dto.response.RepoRespDTO"
               extends="BaseResultMap">
    </resultMap>

    <select id="paging" resultMap="ListResultMap">
        SELECT * FROM tbl_fwgl_repo repo
        <where>
            <if test="query!=null">
                <if test="query.title!=null and query.title!=''">
                    AND title LIKE '%${query.title}%'
                </if>
            </if>
        </where>
    </select>


    <update id="refreshStat">
         UPDATE tbl_fwgl_repo a
         SET
         radiocount=(SELECT COUNT(0) FROM tbl_fwgl_qu_repo WHERE repoid=a.id AND qutype=1),
         multicount=(SELECT COUNT(0) FROM tbl_fwgl_qu_repo WHERE repoid=a.id AND qutype=2),
         judgecount=(SELECT COUNT(0) FROM tbl_fwgl_qu_repo WHERE repoid=a.id AND qutype=3)
         WHERE a.id=#{repoId}
    </update>


</mapper>
