<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.exam.modules.user.book.mapper.UserBookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.legal.exam.modules.user.book.entity.UserBook">
        <id column="id" property="id" />
        <result column="examid" property="examId" />
        <result column="userid" property="userId" />
        <result column="quid" property="quId" />
        <result column="createtime" property="createTime" />
        <result column="updatetime" property="updateTime" />
        <result column="wrongcount" property="wrongCount" />
        <result column="title" property="title" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,`examid`,`userid`,`quid`,`createtime`,`updatetime`,`wrongcount`,`title`,`sort`
    </sql>

</mapper>
