<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.system.mapper.knowledge.TblZsgxTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.system.entity.knowledge.TblZsgxTemplate">
        <result column="ID" property="id" />
        <result column="TEMPLATE_ID" property="templateId" />
        <result column="ATTACHMENT" property="attachment" />
        <result column="BRIEF" property="brief" />
        <result column="GEN" property="gen" />
        <result column="TITLE2" property="title2" />
        <result column="GOVERNMENT_DATE" property="governmentDate" />
        <result column="GOVERNMENT_NAMES" property="governmentNames" />
        <result column="GOVERNMENT_URL" property="governmentUrl" />
        <result column="IS_ANONYMOUS" property="isAnonymous" />
        <result column="IS_BUNDLE" property="isBundle" />
        <result column="IS_CCD" property="isCcd" />
        <result column="IS_GOVERNMENT" property="isGovernment" />
        <result column="IS_MULTIPLE" property="isMultiple" />
        <result column="IS_OFFICIAL" property="isOfficial" />
        <result column="IS_PRO" property="isPro" />
        <result column="IS_PUBLISHED" property="isPublished" />
        <result column="MEMBER_PRICE" property="memberPrice" />
        <result column="TEMPLATE_NUMBER" property="templateNumber" />
        <result column="PREVIEW" property="preview" jdbcType="CLOB" typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
        <result column="PRICE" property="price" />
        <result column="PUBLISHED_ON" property="publishedOn" />
        <result column="REGION" property="region" />
        <result column="SUB_AMOUNT" property="subAmount" />
        <result column="RANK" property="rank" />
        <result column="TEMPLATE_TYPE_ID" property="templateTypeId" />
        <result column="TEMPLATE_TYPE_NAME" property="templateTypeName" />
        <result column="TITLE" property="title" />
        <result column="VERSION" property="version" />
        <result column="CONTENT_LEN" property="contentLen" />
        <result column="MAIN_POINTS" property="mainPoints" />
        <result column="TEMPLATE_CATEGORY_IDS" property="templateCategoryIds" />
        <result column="TEMPLATE_CATEGORY_NAMES" property="templateCategoryNames" />
        <result column="TEMPLATE_CATEGORY_PARENTIDS" property="templateCategoryParentids" />

        <result column="CONTENT_TAG" property="contentTag" />
        <result column="VERSION_TAG" property="versionTag" />
        <result column="PARTY_TAG" property="partyTag" />
        <result column="PREFER" property="prefer" />
        <result column="SCENE_FOR" property="sceneFor" />
        <result column="SCENE_NOT_FOR" property="sceneNotFor" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TEMPLATE_ID, ATTACHMENT, BRIEF, CONTENT, GEN, GOVERNMENT_DATE, GOVERNMENT_NAMES, GOVERNMENT_URL, IS_ANONYMOUS,
        IS_BUNDLE, IS_CCD, IS_GOVERNMENT, IS_MULTIPLE, IS_OFFICIAL, IS_PRO, IS_PUBLISHED, MEMBER_PRICE, TEMPLATE_NUMBER,
        PREVIEW, PRICE, PUBLISHED_ON, REGION, SUB_AMOUNT, RANK, TEMPLATE_TYPE_ID, TEMPLATE_TYPE_NAME, TITLE, VERSION,
        CONTENT_LEN, MAIN_POINTS, TEMPLATE_CATEGORY_IDS, TEMPLATE_CATEGORY_NAMES, TEMPLATE_CATEGORY_PARENTIDS,CONTENT_TAG,
        VERSION_TAG,PARTY_TAG,PREFER,SCENE_FOR,SCENE_NOT_FOR
    </sql>

    <select id="selectByNumber" parameterType="integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from TBL_ZSGX_TEMPLATE where TEMPLATE_NUMBER = #{templateNumber}
    </select>

</mapper>
