<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.oracle.mapper.TblFwglLeaderXfOracleMapper">

    <select id="getList" resultType="com.huabo.legal.oracle.entity.TblFwglLeaderXfOracle">
        select a.* from
        (select * from tbl_fwgl_leader_xf
        where LEADERTYPE =1
        <if test="param.topic != null and param.topic != ''">
            and CENTRALGROUPTOPIC like concat(concat('%',#{param.topic}),'%')
        </if>
        <if test="param.startTime != null and param.endTime != null">
            and CENTRALGROUPTIME &gt; #{param.startTime} and CENTRALGROUPTIME &lt; date_add(#{param.endTime},identity ,1)
        </if>
        union all
        select * from tbl_fwgl_leader_xf
        where LEADERTYPE =2
        <if test="param.topic != null and param.topic != ''">
            and DISCUSSTOPIC like concat(concat('%',#{param.topic}),'%')
        </if>
        <if test="param.startTime != null and param.endTime != null">
            and DISCUSSTIME &gt; #{param.startTime} and DISCUSSTIME &lt; date_add(#{param.endTime},identity ,1)
        </if>
        union all
        select * from tbl_fwgl_leader_xf
        where LEADERTYPE =3
        <if test="param.topic != null and param.topic != ''">
            and PROPAGANDATOPIC like concat(concat('%',#{param.topic}),'%')
        </if>
        <if test="param.startTime != null and param.endTime != null">
            and PROPAGANDATIME &gt; #{param.startTime} and PROPAGANDATIME &lt; date_add(#{param.endTime},identity ,1)
        </if>
        union all
        select * from tbl_fwgl_leader_xf
        where  LEADERTYPE=4
        <if test="param.topic != null and param.topic != ''">
            and OTHERTOPIC like concat(concat('%',#{param.topic}),'%')
        </if>
        <if test="param.startTime != null and param.endTime != null">
            and OTHERTIME &gt; #{param.startTime} and OTHERTIME &lt; date_add(#{param.endTime},identity ,1)
        </if>) a
        where 1=1
        <if test="ids != null and ids.size() > 0">
            and BELONGGROUP in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
<!--        <if test="param.belongGroup != null">-->
<!--            and (BELONGGROUP in (select ORGID from TBL_ORGANIZATION where 1=1 start with ORGID= #{param.belongGroup}-->
<!--             and ORGTYPE!=0 AND ORGTYPE &lt; 100 connect by prior orgid= FATHERORGID) or BELONGGROUP = #{param.belongGroup})-->
<!--        </if>-->
        <if test="param.creator != null">
            and CREATOR = #{param.creator}
        </if>
        <if test="param.workUnit != null">
            and WORKUNIT = #{param.workUnit}
        </if>
        order by id desc

    </select>
</mapper>