<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.oracle.mapper.TblFwglXfExamOracleMapper">
  <resultMap id="BaseResultMap" type="com.huabo.legal.oracle.entity.TblFwglXfExamOracle">
    <!--@mbg.generated generated on Sun Sep 18 22:40:08 CST 2022.-->
    <!--@Table hbgrctest.tbl_fwgl_xf_exam-->
    <id column="EXAMID" jdbcType="INTEGER" property="examId" />
    <result column="EXAMNAME" jdbcType="VARCHAR" property="examName" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="PARTICIPANT" jdbcType="VARCHAR" property="participant" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="EXAMCREATOR" jdbcType="VARCHAR" property="examCreator" />
    <result column="EXAMCREATEDTIME" jdbcType="VARCHAR" property="examCreatedTime" />
    <result column="FILEIDS" jdbcType="VARCHAR" property="fileIds" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="WORKUNIT" jdbcType="VARCHAR" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="VARCHAR" property="belongGroup" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>
