<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.legal.oracle.mapper.TblFwglLegalPersonnelOracleMapper">

  <select id="getLegalPersonnelCount" resultType="com.huabo.legal.vo.result.LegalPersonnelCountResult">
        select belongGroup as belongGroup,count(*) as count
        from tbl_fwgl_legal_personnel
        where 1=1
        <if test="tblOrganizationAll != null and tblOrganizationAll.size() > 0">
            and belongGroup in
            <foreach collection="tblOrganizationAll" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        group by belongGroup
  </select>

  <select id="getLegalFullimePercentage" resultType="com.huabo.legal.vo.result.LegalFullimePercentageResult">
        select count(*) as fullimeCount
        from tbl_fwgl_legal_personnel
        where ISLAWSPECIALTY = 1
        <if test="tblOrganizationAll != null and tblOrganizationAll.size() > 0">
            and belongGroup in
            <foreach collection="tblOrganizationAll" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
  </select>

  <select id="getCount" resultType="com.huabo.legal.vo.result.LegalFullimePercentageResult">
        select count(*) as count
        from tbl_fwgl_legal_personnel
        where 1=1
        <if test="tblOrganizationAll != null and tblOrganizationAll.size() > 0">
            and belongGroup in
            <foreach collection="tblOrganizationAll" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
  </select>
</mapper>
