<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.cybermonitor.mapper.TblGuaranteeRecordMapper">

    <select id="selectPageList" resultType="com.huabo.cybermonitor.entity.TblGuaranteeRecord">
        SELECT * FROM TBL_GUARANTEE_RECORD
        <where>
            <if test="query.companyId != null and query.companyId != ''">AND COMPANY_ID = #{query.companyId}</if>
            <if test="query.guaranteeType != null and query.guaranteeType != ''">AND GUARANTEE_TYPE = #{query.guaranteeType}</if>
            <if test="query.guaranteeName != null and query.guaranteeName != ''">AND GUARANTEE_NAME LIKE CONCAT('%', #{query.guaranteeName}, '%')</if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <!-- 担保链分析查询 -->
    <select id="selectGuaranteeChain" resultType="java.util.Map">
        SELECT g.GUARANTEE_ID, g.GUARANTEE_NAME, g.GUARANTOR_NAME, g.GUARANTEED_PARTY,
               g.GUARANTEE_AMOUNT, g.GUARANTEE_TYPE, g.STATUS
        FROM TBL_GUARANTEE_RECORD g
        WHERE g.GUARANTOR_NAME = #{companyName} OR g.GUARANTEED_PARTY = #{companyName}
        ORDER BY g.GUARANTEE_AMOUNT DESC
    </select>

</mapper>

