<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.cybermonitor.mapper.TblOverseasUnitMapper">

    <select id="selectPageList" resultType="com.huabo.cybermonitor.entity.TblOverseasUnit">
        SELECT * FROM TBL_OVERSEAS_UNIT
        <where>
            <if test="query.companyId != null and query.companyId != ''">AND COMPANY_ID = #{query.companyId}</if>
            <if test="query.unitName != null and query.unitName != ''">AND UNIT_NAME LIKE CONCAT('%', #{query.unitName}, '%')</if>
            <if test="query.country != null and query.country != ''">AND COUNTRY = #{query.country}</if>
            <if test="query.businessType != null and query.businessType != ''">AND BUSINESS_TYPE = #{query.businessType}</if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <!-- 按国家/地区分布统计 -->
    <select id="selectDistributionByCountry" resultType="java.util.Map">
        SELECT COUNTRY, COUNT(*) AS unitCount,
               SUM(TOTAL_ASSETS) AS totalAssets, SUM(EMPLOYEE_COUNT) AS totalEmployees
        FROM TBL_OVERSEAS_UNIT
        <where><if test="companyId != null and companyId != ''">AND COMPANY_ID = #{companyId}</if></where>
        GROUP BY COUNTRY ORDER BY unitCount DESC
    </select>

</mapper>

