<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblAduitProGramMapper">




  <select id="selectListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblAduitProGramEntity">
      SELECT TNA.*,STA.REALNAME renyuan FROM TBL_NBSJ_AUDITPROGRAM TNA
          LEFT JOIN TBL_NBSJ_TEMPLETE ntemp ON ntemp.templeteId = TNA.TEMPID
          LEFT JOIN TBL_NBSJ_AUTHORIZATION auth on TNA.programid = auth.programid
          LEFT JOIN TBL_NBSJ_TEAMSTAFF te on AUTH.TEAMSTAFFID=TE.ID
		  LEFT JOIN TBL_STAFF sta on TE.STAFFID=STA.STAFFID
      <where>
         1=1
          <choose>
              <when test="proGramEntity.targetId !=null">
                  AND TNA.TARGETID = #{proGramEntity.targetId}
              </when>
              <otherwise>
                  AND ntemp.templeteId = #{proGramEntity.tempId}
              </otherwise>
          </choose>
      </where>
      ORDER BY TNA.TARGETID,TNA.TEMPID
  </select>


</mapper>


