<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblNbsjProposalMapper">



    <select id="selectListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProposalEntity">
        SELECT TNA.*,STAFF.REALNAME
        FROM TBL_NBSJ_PROPOSAL TNA
        LEFT JOIN TBL_STAFF STAFF ON STAFF.STAFFID = TNA.CREATESTAFFID
        <where>
            1=1
            <if test="tblNbsjProposalVo.projectId !=null and tblNbsjProposalVo.projectId != ''">
                AND TNA.PROJECTID = #{tblNbsjProposalVo.projectId}
            </if>
            <if test="tblNbsjProposalVo.procode !=null and tblNbsjProposalVo.procode > 0">
                AND TNA.PROCODE like concat(concat('%',#{tblNbsjProposalVo.procode}),'%')
            </if>
            <if test="tblNbsjProposalVo.proname !=null and tblNbsjProposalVo.proname > 0">
                AND TNA.PRONAME like concat(concat('%',#{tblNbsjProposalVo.proname}),'%')
            </if>
            <if test="tblNbsjProposalVo.startDate !=null and tblNbsjProposalVo.startDate != ''">
                AND to_char(TNA.CREATETIME,'yyyy-mm-dd') &gt;= #{tblNbsjProposalVo.startDate}
            </if>
            <if test="tblNbsjProposalVo.endDate !=null and tblNbsjProposalVo.endDate != ''">
                AND to_char(TNA.CREATETIME,'yyyy-mm-dd') &lt;= #{tblNbsjProposalVo.endDate}
            </if>
        </where>
                ORDER BY TNA.PROID DESC
    </select>


</mapper>


