<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblNbsjBugMapper">




  <select id="selectListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjBugEntity">
      SELECT TNA.*,cc.bugcriid,cc.bugcrilevel,ORG.ORGNAME
      FROM TBL_NBSJ_BUG TNA
          LEFT JOIN TBL_NBSJ_BUG_CRITERION cir on TNA.BUGID=CIR.BUGID
          LEFT JOIN TBL_NBSJ_BUGCRITERION cc on cc.BUGCRIID=CIR.BUGCRIID
          LEFT JOIN TBL_ORGANIZATION ORG on ORG.ORGID=TNA.bugdepartment
      <where>
         1=1
         
         ${sql}
         
          <if test="tblNbsjBugVo.bugid !=null and tblNbsjBugVo.bugid != ''">
              AND TNA.BUGID != #{tblNbsjBugVo.bugid} AND TNA.FATHERBUGID IS NULL
          </if>
          <if test="tblNbsjBugVo.orgid !=null and tblNbsjBugVo.orgid != ''">
              AND BUGDEPARTMENT=#{tblNbsjBugVo.orgid}
          </if>
          <if test="tblNbsjBugVo.bugnumber !=null and tblNbsjBugVo.bugnumber!=''">
              AND TNA.BUGNUMBER like concat(concat('%',#{tblNbsjBugVo.bugnumber}),'%')
          </if>
          <if test="tblNbsjBugVo.defectsname !=null and tblNbsjBugVo.defectsname!=''">
              AND TNA.DEFECTSNAME like concat(concat('%',#{tblNbsjBugVo.defectsname}),'%')
          </if>
          <if test="tblNbsjBugVo.bugcriid !=null and tblNbsjBugVo.bugcriid > 0">
               AND cir.BUGCRIID like concat(concat('%',#{tblNbsjBugVo.bugcriid}),'%')
          </if>
          <if test="tblNbsjBugVo.startDate !=null and tblNbsjBugVo.startDate != ''">
              AND to_char(TNA.DISCOVERTIME,'yyyy-mm-dd') &gt;= #{tblNbsjBugVo.startDate}
          </if>
          <if test="tblNbsjBugVo.endDate !=null and tblNbsjBugVo.endDate != ''">
              AND to_char(TNA.DISCOVERTIME,'yyyy-mm-dd') &lt;= #{tblNbsjBugVo.endDate}
          </if>
      </where>
                ORDER BY TNA.BUGID DESC
  </select>


    <select id="selectDefectLinkListXml" resultType="com.huabo.audit.oracle.entity.TblNbsjBugEntity">
        SELECT *
        FROM TBL_NBSJ_BUG TNA
        LEFT JOIN TBL_NBSJ_BUG_CRITERION cir on TNA.BUGID=CIR.BUGID
        <where>
            1=1  AND TNA.FATHERBUGID=#{bugid}
        </where>
        ORDER BY TNA.BUGID DESC
    </select>



</mapper>


