<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblNbsjCertificateMapper">
  
     <select id="findList" resultType="com.huabo.audit.oracle.entity.TblNbsjCertificate">
       	SELECT TNA.*,TT.ORGNAME auditOrgName,TS.REALNAME auditStaffName,STAFF.REALNAME auditUserName,PJ.PRJOECTNAME projectName FROM TBL_NBSJ_CERTIFICATE TNA
	    LEFT JOIN TBL_STAFF STAFF ON STAFF.STAFFID = TNA.AUDITUSERID
	    LEFT JOIN TBL_NBSJ_PROJECT PJ ON PJ.projectId =TNA.projectId
	    LEFT JOIN TBL_ORGANIZATION TT ON PJ.AUDITORGID =TT.ORGID
	    LEFT JOIN TBL_STAFF TS ON PJ.AUDITSTAFFID = TS.STAFFID
		WHERE 1=1 
        <!--字符串需要判断空字符串 精准查询-->
        <if test="tblNbsjCertificateVo.projectId != null and tblNbsjCertificateVo.projectId != ''    ">
          AND PJ.projectId =#{tblNbsjCertificateVo.projectId} 
        </if>
        
        <if test="tblNbsjCertificateVo.projectName = null and tblNbsjCertificateVo.projectName = ''   ">
           AND PJ.PRJOECTNAME LIKE concat(concat('%',#{tblNbsjCertificateVo.projectName}),'%') 
        </if>
        <!--字符串需要判断空字符串 模糊查询-->
        <if test="tblNbsjCertificateVo.auditMatter != null and tblNbsjCertificateVo.auditMatter != ''">
           AND TNA.auditMatter LIKE concat(concat('%',#{tblNbsjCertificateVo.auditMatter}),'%')
        </if>
        
        <if test="tblNbsjCertificateVo.auditAbstract != null and tblNbsjCertificateVo.auditAbstract != ''">
           AND TNA.auditAbstract LIKE concat(concat('%',#{tblNbsjCertificateVo.auditAbstract}),'%')
        </if>
        ORDER BY TNA.CERTIFICATEID
    </select>



  <select id="selectNbsjCertificateListByPageInfoDgXml" resultType="com.huabo.audit.oracle.entity.TblNbsjCertificate">
      SELECT TNA.*,TT.ORGNAME,TS.REALNAME,STAFF.REALNAME SJRY,PJ.PRJOECTNAME
        FROM TBL_NBSJ_CERTIFICATE TNA
            LEFT JOIN TBL_STAFF STAFF ON STAFF.STAFFID = TNA.AUDITUSERID
            LEFT JOIN TBL_NBSJ_PROJECT PJ ON PJ.projectId =TNA.projectId
            LEFT JOIN TBL_ORGANIZATION TT ON PJ.AUDITORGID =TT.ORGID
            LEFT JOIN TBL_STAFF TS ON PJ.AUDITSTAFFID = TS.STAFFID
    <where>
        1=1 and TNA.projectid=#{categories.projectId}
        <if test="sheetid !=null and sheetid != ''">
            AND certificateid not in (select distinct certificateid from tbl_SHEET_CERTIFICATE WHERE SHEETID=#{sheetid} )
        </if>
        <if test="categories.auditMatter !=null and categories.auditMatter != ''">
          and TNA.auditMatter like concat(concat('%',#{categories.auditMatter}),'%')
        </if>
        <if test="categories.auditAbstract !=null and categories.auditAbstract != ''">
          and TNA.auditAbstract like concat(concat('%',#{categories.auditAbstract}),'%')
        </if>
    </where>
      ORDER BY TNA.CERTIFICATEID DESC
  </select>

    <select id="selectNbsjCertificateListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjCertificate">
        SELECT TNA.*,TT.ORGNAME,TS.REALNAME,STAFF.REALNAME auditUserName,PJ.PRJOECTNAME
        FROM TBL_NBSJ_CERTIFICATE TNA
        LEFT JOIN TBL_STAFF STAFF ON STAFF.STAFFID = TNA.AUDITUSERID
        LEFT JOIN TBL_NBSJ_PROJECT PJ ON PJ.projectId =TNA.projectId
        LEFT JOIN TBL_ORGANIZATION TT ON PJ.AUDITORGID =TT.ORGID
        LEFT JOIN TBL_STAFF TS ON PJ.AUDITSTAFFID = TS.STAFFID
        <where>
            1=1
            ${secrectSql}
            
            <if test="certificate.projectId !=null and certificate.projectId != ''">
                AND PJ.projectId = #{certificate.projectId}
            </if>
            <if test="certificate.prjoectname !=null and certificate.prjoectname != ''">
                AND PJ.PRJOECTNAME like concat(concat('%',#{certificate.prjoectname}),'%')
            </if>
            <if test="certificate.auditMatter !=null and certificate.auditMatter != ''">
                AND TNA.auditMatter like concat(concat('%',#{certificate.auditMatter}),'%')
            </if>
            <if test="certificate.auditAbstract !=null and certificate.auditAbstract != ''">
                AND TNA.auditAbstract like concat(concat('%',#{certificate.auditAbstract}),'%')
            </if>
        </where>
        ORDER BY TNA.CERTIFICATEID DESC
    </select>
    
    
    <select id="finddgList" resultType="com.huabo.audit.oracle.entity.TblNbsjCertificate">
       	SELECT TNA.*,TT.ORGNAME auditOrgName,TS.REALNAME auditStaffName,STAFF.REALNAME auditUserName,PJ.PRJOECTNAME projectName FROM TBL_NBSJ_CERTIFICATE TNA
	    LEFT JOIN TBL_STAFF STAFF ON STAFF.STAFFID = TNA.AUDITUSERID	
	    LEFT JOIN TBL_NBSJ_PROJECT PJ ON PJ.projectId =TNA.projectId
	    LEFT JOIN TBL_ORGANIZATION TT ON PJ.AUDITORGID =TT.ORGID
	    LEFT JOIN TBL_STAFF TS ON PJ.AUDITSTAFFID = TS.STAFFID
		WHERE 1=1 
        <!--字符串需要判断空字符串 精准查询-->
        <if test="tblNbsjCertificateVo.projectId != null and   != ''    ">
          AND PJ.projectId =#{tblNbsjCertificateVo.projectId} 
        </if>
        
        <if test="tblNbsjCertificateVo.sheetid != null and tblNbsjCertificateVo.sheetid != ''    ">
          and certificateid not in (select distinct certificateid from tbl_SHEET_CERTIFICATE WHERE SHEETID=#{tblNbsjCertificateVo.sheetid} ) 
        </if>
        
        <if test="tblNbsjCertificateVo.projectName = null and tblNbsjCertificateVoprojectName = ''   ">
           AND PJ.PRJOECTNAME LIKE concat(concat('%',#{tblNbsjCertificateVo.projectName}),'%') 
        </if>
        <!--字符串需要判断空字符串 模糊查询-->
        <if test="tblNbsjCertificateVo.auditMatter != null and tblNbsjCertificateVo.auditMatter != ''">
           AND TNA.auditMatter LIKE concat(concat('%',#{tblNbsjCertificateVo.auditMatter}),'%')
        </if>
        
        <if test="tblNbsjCertificateVo.auditAbstract != null and tblNbsjCertificateVo.auditAbstract != ''">
           AND TNA.auditAbstract LIKE concat(concat('%',#{tblNbsjCertificateVo.auditAbstract}),'%')
        </if>
        ORDER BY TNA.CERTIFICATEID
    </select>
    
     
</mapper>
