<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblNbsjProjectMapper">

<!--  <select id="selectSjgdNewListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">-->
<!--      SELECT DISTINCT TNA.PROJECTID,TNA.projectcode,TNA.PRJOECTNAME,TNA.AUDITTYPE,TNA.PLANYEAR,TNA.ORGIDNAMES,SJORG.ORGNAME auditOrg-->
<!--      FROM TBL_NBSJ_PROJECT TNA-->
<!--          LEFT JOIN TBL_NBSJ_AUDIT_PROJECDATA dd on TNA.PROJECTID = dd.OLDPROJECTID-->
<!--          LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = TNA.AUDITSTAFFID-->
<!--          LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = TNA.AUDITORGID-->
<!--          LEFT JOIN TBL_ORGANIZATION SJORG ON SJORG.ORGID = TNA.ORGID-->
<!--      <where>-->
<!--          1=1 AND TNA.STATUS=4-->
<!--          <if test="tblnbsjProjectVo.prjoectName !=null and tblnbsjProjectVo.prjoectName != ''">-->
<!--              and TNA.prjoectname like concat(concat('%',#{tblnbsjProjectVo.prjoectName}),'%')-->
<!--          </if>-->
<!--          <if test="tblnbsjProjectVo.projectCode !=null and tblnbsjProjectVo.projectCode != ''">-->
<!--              and TNA.projectcode like concat(concat('%',#{tblnbsjProjectVo.projectCode}),'%')-->
<!--          </if>-->
<!--          <if test="tblnbsjProjectVo.auditType !=null and tblnbsjProjectVo.auditType != ''">-->
<!--              and TNA.audittype like concat(concat('%',#{tblnbsjProjectVo.auditType}),'%')-->
<!--          </if>-->
<!--          <if test="tblnbsjProjectVo.projectYear !=null and tblnbsjProjectVo.projectYear != ''">-->
<!--              and TNA.planyear like concat(concat('%',#{tblnbsjProjectVo.projectYear}),'%')-->
<!--          </if>-->
<!--      </where>-->
<!--              ORDER BY TNA.projectId DESC-->
<!--  </select>-->

    <select id="selectSjgdNewListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT DISTINCT TNA.PROJECTID,TNA.projectcode,TNA.PRJOECTNAME,TNA.AUDITTYPE,TNA.PLANYEAR,TNA.ORGIDNAMES,TNA.SECRECTLEVELID,TNA.STAFFSCOPEIDS,TNA.STAFFSCOPENAMES,SJORG.ORGNAME auditOrg
        FROM TBL_NBSJ_PROJECT TNA
        LEFT JOIN TBL_NBSJ_AUDIT_PROJECDATA dd on TNA.PROJECTID = dd.OLDPROJECTID
        LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = TNA.AUDITSTAFFID
        LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = TNA.AUDITORGID
        LEFT JOIN TBL_ORGANIZATION SJORG ON SJORG.ORGID = TNA.ORGID
        <where>
            1=1 AND TNA.STATUS=4
            ${mjsql}
            <if test="tblnbsjProjectVo.prjoectName !=null and tblnbsjProjectVo.prjoectName != ''">
                and TNA.prjoectname like concat(concat('%',#{tblnbsjProjectVo.prjoectName}),'%')
            </if>
            <if test="tblnbsjProjectVo.projectCode !=null and tblnbsjProjectVo.projectCode != ''">
                and TNA.projectcode like concat(concat('%',#{tblnbsjProjectVo.projectCode}),'%')
            </if>
            <if test="tblnbsjProjectVo.auditType !=null and tblnbsjProjectVo.auditType != ''">
                and TNA.audittype like concat(concat('%',#{tblnbsjProjectVo.auditType}),'%')
            </if>
            <if test="tblnbsjProjectVo.projectYear !=null and tblnbsjProjectVo.projectYear != ''">
                and TNA.planyear like concat(concat('%',#{tblnbsjProjectVo.projectYear}),'%')
            </if>

        </where>
        ORDER BY TNA.projectId DESC
    </select>

<!--    <select id="selectSjgdNewListByStaffidPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">-->
<!--        SELECT DISTINCT TNA.PROJECTID,TNA.projectcode,TNA.PRJOECTNAME,TNA.AUDITTYPE,TNA.PLANYEAR,TNA.ORGIDNAMES,SJORG.ORGNAME auditOrg-->
<!--        FROM TBL_NBSJ_PROJECT TNA-->
<!--            left join TBL_NBSJ_AUDIT_PROJECDATA dd on TNA.PROJECTID = dd.OLDPROJECTID-->
<!--            LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = TNA.AUDITSTAFFID-->
<!--            LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = TNA.AUDITORGID-->
<!--            LEFT JOIN TBL_ORGANIZATION SJORG ON SJORG.ORGID = TNA.ORGID-->
<!--        <where>-->
<!--            1=1 AND TNA.STATUS=4-->
<!--            <if test="tblnbsjProjectVo.prjoectName !=null and tblnbsjProjectVo.prjoectName != ''">-->
<!--                and TNA.prjoectname like concat(concat('%',#{tblnbsjProjectVo.prjoectName}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.projectCode !=null and tblnbsjProjectVo.projectCode != ''">-->
<!--                and TNA.projectcode like concat(concat('%',#{tblnbsjProjectVo.projectCode}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.auditType !=null and tblnbsjProjectVo.auditType != ''">-->
<!--                and TNA.audittype like concat(concat('%',#{tblnbsjProjectVo.auditType}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.projectYear !=null and tblnbsjProjectVo.projectYear != ''">-->
<!--                and TNA.planyear like concat(concat('%',#{tblnbsjProjectVo.projectYear}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.staffId !=null and tblnbsjProjectVo.staffId != ''">-->
<!--                and (TNA.pmid=#{tblnbsjProjectVo.staffId} OR TNA.PROJECTID IN (SELECT PROJECTID FROM TBL_NBSJ_BORROWRECORD WHERE STATUS =6 AND RETURNDATE >=SYSDATE AND STAFFID=#{tblnbsjProjectVo.staffId}))-->
<!--            </if>-->
<!--        </where>-->
<!--        ORDER BY TNA.projectId DESC-->
<!--    </select>-->

    <select id="selectSjgdNewListByStaffidPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT DISTINCT TNA.PROJECTID,TNA.projectcode,TNA.PRJOECTNAME,TNA.AUDITTYPE,TNA.PLANYEAR,TNA.ORGIDNAMES,SJORG.ORGNAME auditOrg
        FROM TBL_NBSJ_PROJECT TNA
        left join TBL_NBSJ_AUDIT_PROJECDATA dd on TNA.PROJECTID = dd.OLDPROJECTID
        LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = TNA.AUDITSTAFFID
        LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = TNA.AUDITORGID
        LEFT JOIN TBL_ORGANIZATION SJORG ON SJORG.ORGID = TNA.ORGID
        <where>
            1=1 AND TNA.STATUS=4
            ${mjsql}
            <if test="tblnbsjProjectVo.prjoectName !=null and tblnbsjProjectVo.prjoectName != ''">
                and TNA.prjoectname like concat(concat('%',#{tblnbsjProjectVo.prjoectName}),'%')
            </if>
            <if test="tblnbsjProjectVo.projectCode !=null and tblnbsjProjectVo.projectCode != ''">
                and TNA.projectcode like concat(concat('%',#{tblnbsjProjectVo.projectCode}),'%')
            </if>
            <if test="tblnbsjProjectVo.auditType !=null and tblnbsjProjectVo.auditType != ''">
                and TNA.audittype like concat(concat('%',#{tblnbsjProjectVo.auditType}),'%')
            </if>
            <if test="tblnbsjProjectVo.projectYear !=null and tblnbsjProjectVo.projectYear != ''">
                and TNA.planyear like concat(concat('%',#{tblnbsjProjectVo.projectYear}),'%')
            </if>
            <if test="tblnbsjProjectVo.staffId !=null and tblnbsjProjectVo.staffId != ''">
                and (TNA.pmid=#{tblnbsjProjectVo.staffId} OR TNA.PROJECTID IN (SELECT PROJECTID FROM TBL_NBSJ_BORROWRECORD WHERE STATUS =6 AND RETURNDATE >=SYSDATE AND STAFFID=#{tblnbsjProjectVo.staffId}))
            </if>

        </where>
        ORDER BY TNA.projectId DESC
    </select>


<!--    <select id="selectDajyNewListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">-->
<!--        SELECT  DISTINCT NP.PROJECTID,NP.projectcode,NP.PRJOECTNAME,NP.AUDITTYPE,NP.PLANYEAR,NP.ORGIDNAMES,SJORG.ORGNAME auditOrg,-->
<!--            (CASE WHEN TD.DAYNUMBER &gt; 0 THEN 1 WHEN TD.DAYNUMBER &lt; 0 THEN 0 WHEN TNB.STATUS &gt; 0 AND TNB.STATUS &lt; 6 THEN 2 ELSE 0 END) pStatus-->
<!--        from TBL_NBSJ_PROJECT NP-->
<!--            LEFT JOIN ( SELECT PROJECTID, (MAX( RETURNDATE )-SYSDATE) DAYNUMBER-->
<!--                        FROM TBL_NBSJ_BORROWRECORD-->
<!--                        WHERE 1 = 1 AND STATUS=6 AND STAFFID=#{tblnbsjProjectVo.staffId} GROUP BY PROJECTID  ) TD ON NP.PROJECTID = TD.PROJECTID-->
<!--            LEFT JOIN (SELECT PROJECTID,MAX(BORROWID) BORROWID-->
<!--                       FROM TBL_NBSJ_BORROWRECORD-->
<!--                       WHERE 1 = 1 AND STAFFID = #{tblnbsjProjectVo.staffId} GROUP BY PROJECTID ) TE ON NP.PROJECTID = TE.PROJECTID-->
<!--            LEFT JOIN TBL_NBSJ_BORROWRECORD TNB ON TE.BORROWID =TNB.BORROWID-->
<!--            LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = NP.AUDITSTAFFID-->
<!--            LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = NP.AUDITORGID-->
<!--            LEFT JOIN TBL_ORGANIZATION SJORG ON SJORG.ORGID = NP.ORGID-->
<!--        <where>-->
<!--            NP.STATUS = 4 and NP.orgId = #{tblnbsjProjectVo.orgId}-->
<!--            <if test="tblnbsjProjectVo.prjoectName !=null and tblnbsjProjectVo.prjoectName != ''">-->
<!--                and NP.prjoectname like concat(concat('%',#{tblnbsjProjectVo.prjoectName}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.projectCode !=null and tblnbsjProjectVo.projectCode != ''">-->
<!--                and NP.projectcode like concat(concat('%',#{tblnbsjProjectVo.projectCode}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.auditType !=null and tblnbsjProjectVo.auditType != ''">-->
<!--                and NP.audittype like concat(concat('%',#{tblnbsjProjectVo.auditType}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.projectYear !=null and tblnbsjProjectVo.projectYear != ''">-->
<!--                and NP.planyear like concat(concat('%',#{tblnbsjProjectVo.projectYear}),'%')-->
<!--            </if>-->

<!--        </where>-->
<!--                ORDER BY NP.PROJECTID DESC-->
<!--    </select>-->

    <select id="selectDajyNewListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT  DISTINCT NP.PROJECTID,NP.projectcode,NP.PRJOECTNAME,NP.AUDITTYPE,NP.PLANYEAR,NP.ORGIDNAMES,NP.SECRECTLEVELID,NP.STAFFSCOPEIDS,NP.STAFFSCOPENAMES,SJORG.ORGNAME auditOrg
        
        ,(CASE WHEN TD.DAYNUMBER > 0 THEN 1 WHEN TD.DAYNUMBER &lt; 0 THEN 0 WHEN TNB.STATUS > 0 AND TNB.STATUS &lt; 6 THEN 2 ELSE 0 END) pStatus
        
        from TBL_NBSJ_PROJECT NP
        
        LEFT JOIN ( SELECT PROJECTID, (MAX( RETURNDATE )-SYSDATE) DAYNUMBER
	        FROM TBL_NBSJ_BORROWRECORD
	        WHERE 1 = 1 AND STAFFID=#{tblnbsjProjectVo.staffId} GROUP BY PROJECTID  ) TD ON NP.PROJECTID = TD.PROJECTID
        LEFT JOIN (SELECT PROJECTID,MAX(BORROWID) BORROWID
	        FROM TBL_NBSJ_BORROWRECORD
	        WHERE 1 = 1 AND STAFFID = #{tblnbsjProjectVo.staffId} GROUP BY PROJECTID ) TE ON NP.PROJECTID = TE.PROJECTID
        LEFT JOIN TBL_NBSJ_BORROWRECORD TNB ON TE.BORROWID =TNB.BORROWID
        
        LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = NP.AUDITSTAFFID
        LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = NP.AUDITORGID
        LEFT JOIN TBL_ORGANIZATION SJORG ON SJORG.ORGID = NP.ORGID
        <where>
            NP.STATUS = 4 and NP.orgId = #{tblnbsjProjectVo.orgId}
            ${mjsql}
            <if test="tblnbsjProjectVo.prjoectName !=null and tblnbsjProjectVo.prjoectName != ''">
                and NP.prjoectname like concat(concat('%',#{tblnbsjProjectVo.prjoectName}),'%')
            </if>
            <if test="tblnbsjProjectVo.projectCode !=null and tblnbsjProjectVo.projectCode != ''">
                and NP.projectcode like concat(concat('%',#{tblnbsjProjectVo.projectCode}),'%')
            </if>
            <if test="tblnbsjProjectVo.auditType !=null and tblnbsjProjectVo.auditType != ''">
                and NP.audittype like concat(concat('%',#{tblnbsjProjectVo.auditType}),'%')
            </if>
            <if test="tblnbsjProjectVo.projectYear !=null and tblnbsjProjectVo.projectYear != ''">
                and NP.planyear like concat(concat('%',#{tblnbsjProjectVo.projectYear}),'%')
            </if>

        </where>
        ORDER BY NP.PROJECTID DESC
    </select>


<!--    <select id="selectJyrzNewListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">-->
<!--        SELECT DISTINCT TNA.PROJECTID,TNA.projectcode,TNA.PRJOECTNAME,TNA.AUDITTYPE,TNA.PLANYEAR,TNA.ORGIDNAMES,SJORG.ORGNAME auditOrg,TC.PCOUNT pcount-->
<!--        FROM TBL_NBSJ_PROJECT TNA-->
<!--            LEFT JOIN (SELECT PROJECTID,COUNT(PROJECTID) PCOUNT-->
<!--                       FROM TBL_NBSJ_BORROWRECORD TB WHERE 1=1  GROUP BY PROJECTID) TC ON TNA.PROJECTID=TC.PROJECTID-->
<!--            LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = TNA.AUDITSTAFFID-->
<!--            LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = TNA.AUDITORGID-->
<!--            LEFT JOIN TBL_ORGANIZATION SJORG ON SJORG.ORGID = TNA.ORGID-->
<!--        <where>-->
<!--            TNA.STATUS = 4 and TNA.ORGID = #{tblnbsjProjectVo.orgId}-->
<!--            <if test="tblnbsjProjectVo.prjoectName !=null and tblnbsjProjectVo.prjoectName != ''">-->
<!--                and TNA.prjoectname like concat(concat('%',#{tblnbsjProjectVo.prjoectName}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.projectCode !=null and tblnbsjProjectVo.projectCode != ''">-->
<!--                and TNA.projectcode like concat(concat('%',#{tblnbsjProjectVo.projectCode}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.auditType !=null and tblnbsjProjectVo.auditType != ''">-->
<!--                and TNA.audittype like concat(concat('%',#{tblnbsjProjectVo.auditType}),'%')-->
<!--            </if>-->
<!--            <if test="tblnbsjProjectVo.projectYear !=null and tblnbsjProjectVo.projectYear != ''">-->
<!--                and TNA.planyear like concat(concat('%',#{tblnbsjProjectVo.projectYear}),'%')-->
<!--            </if>-->
<!--        </where>-->
<!--                ORDER BY TNA.PROJECTID DESC-->
<!--    </select>-->

    <select id="selectJyrzNewListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT DISTINCT TNA.PROJECTID,TNA.projectcode,TNA.PRJOECTNAME,TNA.AUDITTYPE,TNA.PLANYEAR,TNA.SECRECTLEVELID,TNA.STAFFSCOPEIDS,TNA.STAFFSCOPENAMES,TNA.ORGIDNAMES,SJORG.ORGNAME auditOrg,TC.PCOUNT pcount
        FROM TBL_NBSJ_PROJECT TNA
        LEFT JOIN (SELECT PROJECTID,COUNT(PROJECTID) PCOUNT
        FROM TBL_NBSJ_BORROWRECORD TB WHERE 1=1  GROUP BY PROJECTID) TC ON TNA.PROJECTID=TC.PROJECTID
        LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = TNA.AUDITSTAFFID
        LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = TNA.AUDITORGID
        LEFT JOIN TBL_ORGANIZATION SJORG ON SJORG.ORGID = TNA.ORGID
        <where>
            TNA.STATUS = 4 and TNA.ORGID = #{tblnbsjProjectVo.orgId}
            ${mjsql}
            <if test="tblnbsjProjectVo.prjoectName !=null and tblnbsjProjectVo.prjoectName != ''">
                and TNA.prjoectname like concat(concat('%',#{tblnbsjProjectVo.prjoectName}),'%')
            </if>
            <if test="tblnbsjProjectVo.projectCode !=null and tblnbsjProjectVo.projectCode != ''">
                and TNA.projectcode like concat(concat('%',#{tblnbsjProjectVo.projectCode}),'%')
            </if>
            <if test="tblnbsjProjectVo.auditType !=null and tblnbsjProjectVo.auditType != ''">
                and TNA.audittype like concat(concat('%',#{tblnbsjProjectVo.auditType}),'%')
            </if>
            <if test="tblnbsjProjectVo.projectYear !=null and tblnbsjProjectVo.projectYear != ''">
                and TNA.planyear like concat(concat('%',#{tblnbsjProjectVo.projectYear}),'%')
            </if>

        </where>
        ORDER BY TNA.PROJECTID DESC
    </select>


<!--    <select id="getGkProjectInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">-->
<!--        SELECT DISTINCT TP.PROJECTID, TP.PROJECTCODE, TP.PRJOECTNAME,TP.STATUS, TA.ORGNAME AUDITORGNAME,-->
<!--                        TP.ORGIDNAMES ORGNAME, TC.REALNAME, TD.REALNAME PMNAME, TP.PLANYEAR, TP.STARTDATE, TP.ENDDATE,-->
<!--                        (TP.ENDDATE-TP.STARTDATE) DAYNUMBER, TP.COSTS-->
<!--        FROM TBL_NBSJ_PROJECT TP-->
<!--            LEFT JOIN TBL_ORGANIZATION TA ON TP.ORGID = TA.ORGID-->
<!--            LEFT JOIN TBL_ORGANIZATION TB ON TP.AUDITORGID = TB.ORGID-->
<!--            LEFT JOIN TBL_STAFF TC ON TP.AUDITSTAFFID = TC.STAFFID-->
<!--            LEFT JOIN TBL_STAFF TD ON TP.PMID = TD.STAFFID-->
<!--        <where>-->
<!--             1 = 1 AND TP.ORGID IN ( ${strs})-->
<!--            <if test="project.PROJECTCODE !=null and project.PROJECTCODE  != ''">-->
<!--                AND PROJECTCODE like concat(concat('%',#{project.PROJECTCODE}),'%')-->
<!--            </if>-->
<!--            <if test="project.PRJOECTNAME !=null and project.PRJOECTNAME != ''">-->
<!--                AND PRJOECTNAME like concat(concat('%',#{project.PRJOECTNAME}),'%')-->
<!--            </if>-->
<!--            <if test="project.AUDITORGNAME !=null and project.AUDITORGNAME != ''">-->
<!--                AND TA.ORGNAME like concat(concat('%',#{project.AUDITORGNAME}),'%')-->
<!--            </if>-->
<!--            <if test="project.ORGNAME !=null and project.ORGNAME != ''">-->
<!--                AND TP.ORGIDNAMES like concat(concat('%',#{project.ORGNAME}),'%')-->
<!--            </if>-->
<!--            <if test="project.REALNAME !=null and project.REALNAME != ''">-->
<!--                AND TC.REALNAME like concat(concat('%',#{project.REALNAME}),'%')-->
<!--            </if>-->
<!--            <if test="project.PMNAME !=null and project.PMNAME != ''">-->
<!--                AND TD.REALNAME like concat(concat('%',#{project.PMNAME}),'%')-->
<!--            </if>-->
<!--            <if test="project.starttime !=null ">-->
<!--                AND TP.STARTDATE >= #{project.starttime,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            <if test="project.endtime !=null ">-->
<!--                AND TP.ENDDATE &lt;= #{project.endtime,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--        </where>-->
<!--        ORDER BY TP.PROJECTID DESC-->
<!--    </select>-->

    <select id="getGkProjectInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT DISTINCT TP.PROJECTID, TP.PROJECTCODE, TP.PRJOECTNAME,TP.STATUS, TA.ORGNAME AUDITORGNAME,
        TP.ORGIDNAMES ORGNAME, TC.REALNAME, TD.REALNAME PMNAME, TP.PLANYEAR, TP.STARTDATE, TP.ENDDATE,TP.SECRECTLEVELID,TP.STAFFSCOPEIDS,TP.STAFFSCOPENAMES,
        (TP.ENDDATE-TP.STARTDATE) DAYNUMBER, TP.COSTS
        FROM TBL_NBSJ_PROJECT TP
        LEFT JOIN TBL_ORGANIZATION TA ON TP.ORGID = TA.ORGID
        LEFT JOIN TBL_ORGANIZATION TB ON TP.AUDITORGID = TB.ORGID
        LEFT JOIN TBL_STAFF TC ON TP.AUDITSTAFFID = TC.STAFFID
        LEFT JOIN TBL_STAFF TD ON TP.PMID = TD.STAFFID
        <where>
            1 = 1 AND TP.ORGID IN ( ${strs})
            ${mjsql}
            <if test="project.PROJECTCODE !=null and project.PROJECTCODE  != ''">
                AND PROJECTCODE like concat(concat('%',#{project.PROJECTCODE}),'%')
            </if>
            <if test="project.PRJOECTNAME !=null and project.PRJOECTNAME != ''">
                AND PRJOECTNAME like concat(concat('%',#{project.PRJOECTNAME}),'%')
            </if>
            <if test="project.AUDITORGNAME !=null and project.AUDITORGNAME != ''">
                AND TA.ORGNAME like concat(concat('%',#{project.AUDITORGNAME}),'%')
            </if>
            <if test="project.ORGNAME !=null and project.ORGNAME != ''">
                AND TP.ORGIDNAMES like concat(concat('%',#{project.ORGNAME}),'%')
            </if>
            <if test="project.REALNAME !=null and project.REALNAME != ''">
                AND TC.REALNAME like concat(concat('%',#{project.REALNAME}),'%')
            </if>
            <if test="project.PMNAME !=null and project.PMNAME != ''">
                AND TD.REALNAME like concat(concat('%',#{project.PMNAME}),'%')
            </if>
            <if test="project.starttime !=null ">
                AND TP.STARTDATE >= #{project.starttime,jdbcType=TIMESTAMP}
            </if>
            <if test="project.endtime !=null ">
                AND TP.ENDDATE &lt;= #{project.endtime,jdbcType=TIMESTAMP}
            </if>

        </where>
        ORDER BY TP.PROJECTID DESC
    </select>


<!--    <select id="getGkQuestionInfoListXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">-->
<!--        SELECT QU.QUESTIONID,TP.PROJECTCODE,TP.PROJECTID, TP.PRJOECTNAME, TP.PLANYEAR, TP.AUDITTYPE, SH.QUESTITLE,NQTYPE.AUDITTYPE AS INTERNALTYPE,-->
<!--               TO_CHAR(SH.AUDITDISCOVERABLE) AUDITDISCOVERABLE, TA.ORGNAME AUDITORGNAME, SH.ORGIDNAMES ORGNAME, TC.REALNAME,-->
<!--               TD.REALNAME FINDREALNAME-->
<!--        FROM TBL_NBSJ_QUESTION qu-->
<!--            LEFT JOIN TBL_NBSJ_SHEET SH ON qu.sheetid = SH.sheetid-->
<!--            LEFT JOIN TBL_NBSJ_PROJECT TP ON TP.PROJECTID = SH.PROJECTID-->
<!--            LEFT JOIN TBL_ORGANIZATION TA ON TP.ORGID = TA.ORGID-->
<!--            LEFT JOIN TBL_ORGANIZATION TB ON TP.AUDITORGID = TB.ORGID-->
<!--            LEFT JOIN TBL_STAFF TC ON TP.AUDITSTAFFID = TC.STAFFID-->
<!--            LEFT JOIN TBL_STAFF TD ON SH.CREATESTAFF = TD.STAFFID-->
<!--            LEFT JOIN TBL_NBSJ_QUESTION_TYPE NQTYPE ON NQTYPE.TYPEID = SH.INTERNALTYPE-->
<!--        <where>-->
<!--             tp.orgid  IN ( ${strs})-->
<!--            <if test="question.PROJECTCODE !=null and question.PROJECTCODE  != ''">-->
<!--                AND PROJECTCODE like concat(concat('%',#{question.PROJECTCODE}),'%')-->
<!--            </if>-->
<!--            <if test="question.PRJOECTNAME !=null and question.PRJOECTNAME != ''">-->
<!--                AND PRJOECTNAME like concat(concat('%',#{question.PRJOECTNAME}),'%')-->
<!--            </if>-->
<!--            <if test="question.AUDITORGNAME !=null and question.AUDITORGNAME != ''">-->
<!--                AND TA.ORGNAME like concat(concat('%',#{question.AUDITORGNAME}),'%')-->
<!--            </if>-->
<!--            <if test="question.ORGNAME !=null and question.ORGNAME != ''">-->
<!--                AND TP.ORGIDNAMES like concat(concat('%',#{question.ORGNAME}),'%')-->
<!--            </if>-->
<!--            <if test="question.REALNAME !=null and question.REALNAME != ''">-->
<!--                AND TC.REALNAME like concat(concat('%',#{question.REALNAME}),'%')-->
<!--            </if>-->
<!--            <if test="question.FINDREALNAME !=null and question.FINDREALNAME != ''">-->
<!--                AND TD.REALNAME like concat(concat('%',#{question.FINDREALNAME}),'%')-->
<!--            </if>-->
<!--            <if test="question.QUESTITLE !=null and question.QUESTITLE != ''">-->
<!--                AND SH.QUESTITLE like concat(concat('%',#{question.QUESTITLE}),'%')-->
<!--            </if>-->
<!--            <if test="question.internalType !=null and question.internalType != ''">-->
<!--                AND NQTYPE.AUDITTYPE like concat(concat('%',#{question.internalType}),'%')-->
<!--            </if>-->
<!--        </where>-->
<!--        ORDER BY TP.PROJECTID DESC-->
<!--    </select>-->

    <select id="getGkQuestionInfoListXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT QU.QUESTIONID,TP.PROJECTCODE,TP.PROJECTID, TP.PRJOECTNAME, TP.PLANYEAR, TP.AUDITTYPE, SH.QUESTITLE,NQTYPE.AUDITTYPE AS INTERNALTYPE,
        TO_CHAR(SH.AUDITDISCOVERABLE) AUDITDISCOVERABLE, TA.ORGNAME AUDITORGNAME, SH.ORGIDNAMES ORGNAME, TC.REALNAME,TP.SECRECTLEVELID,TP.STAFFSCOPEIDS,TP.STAFFSCOPENAMES,
        TD.REALNAME FINDREALNAME
        FROM TBL_NBSJ_QUESTION qu
        LEFT JOIN TBL_NBSJ_SHEET SH ON qu.sheetid = SH.sheetid
        LEFT JOIN TBL_NBSJ_PROJECT TP ON TP.PROJECTID = SH.PROJECTID
        LEFT JOIN TBL_ORGANIZATION TA ON TP.ORGID = TA.ORGID
        LEFT JOIN TBL_ORGANIZATION TB ON TP.AUDITORGID = TB.ORGID
        LEFT JOIN TBL_STAFF TC ON TP.AUDITSTAFFID = TC.STAFFID
        LEFT JOIN TBL_STAFF TD ON SH.CREATESTAFF = TD.STAFFID
        LEFT JOIN TBL_NBSJ_QUESTION_TYPE NQTYPE ON NQTYPE.TYPEID = SH.INTERNALTYPE
        <where>
            tp.orgid  IN ( ${strs})
            ${mjsql}
            <if test="question.PROJECTCODE !=null and question.PROJECTCODE  != ''">
                AND PROJECTCODE like concat(concat('%',#{question.PROJECTCODE}),'%')
            </if>
            <if test="question.PRJOECTNAME !=null and question.PRJOECTNAME != ''">
                AND PRJOECTNAME like concat(concat('%',#{question.PRJOECTNAME}),'%')
            </if>
            <if test="question.AUDITORGNAME !=null and question.AUDITORGNAME != ''">
                AND TA.ORGNAME like concat(concat('%',#{question.AUDITORGNAME}),'%')
            </if>
            <if test="question.ORGNAME !=null and question.ORGNAME != ''">
                AND TP.ORGIDNAMES like concat(concat('%',#{question.ORGNAME}),'%')
            </if>
            <if test="question.REALNAME !=null and question.REALNAME != ''">
                AND TC.REALNAME like concat(concat('%',#{question.REALNAME}),'%')
            </if>
            <if test="question.FINDREALNAME !=null and question.FINDREALNAME != ''">
                AND TD.REALNAME like concat(concat('%',#{question.FINDREALNAME}),'%')
            </if>
            <if test="question.QUESTITLE !=null and question.QUESTITLE != ''">
                AND SH.QUESTITLE like concat(concat('%',#{question.QUESTITLE}),'%')
            </if>
            <if test="question.internalType !=null and question.internalType != ''">
                AND NQTYPE.AUDITTYPE like concat(concat('%',#{question.internalType}),'%')
            </if>
        </where>
        ORDER BY TP.PROJECTID,QU.questionid DESC
    </select>


<!--    <select id="getGkZgContentInfoListXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">-->
<!--        SELECT DISTINCT TP.PROJECTID, TP.PROJECTCODE, TP.PRJOECTNAME, TA.ORGNAME AUDITORGNAME, NVL(TP.ORGIDNAMES, TE.REALNAME) ORGNAME,-->
<!--              TP.PLANYEAR, ( SELECT COUNT (*) FROM TBL_NBSJ_SHEET TS WHERE TS.PROJECTID = TP.PROJECTID AND TS.RISKLEVEL='是' ) wtzs,-->
<!--              ( SELECT COUNT (*) FROM TBL_NBSJ_SHEET TS LEFT JOIN TBL_NBSJ_QUESTION nq ON TS.SHEETID = nq.SHEETID-->
<!--                                               WHERE TS.PROJECTID = TP.PROJECTID AND NQ.RECSTATUS = 1 AND TS.RISKLEVEL='是' ) fqzgs,-->
<!--              ( SELECT COUNT (*) FROM TBL_NBSJ_SHEET sh LEFT JOIN TBL_NBSJ_QUESTION nq ON SH.SHEETID = nq.SHEETID-->
<!--              WHERE SH.PROJECTID = TP.PROJECTID AND SH.RISKLEVEL='是'  AND NQ.QUESTIONID in-->
<!--                   (SELECT DISTINCT TC.QUESTIONID from TBL_NBSJ_REFOPM TC  WHERE  TC.LASTREFORMSTATUS = 1 AND TC.STATUS = 3 ) ) yzg,-->
<!--            ( SELECT COUNT (*) FROM TBL_NBSJ_SHEET sh LEFT JOIN TBL_NBSJ_QUESTION nq ON SH.SHEETID = nq.SHEETID-->
<!--            WHERE SH.PROJECTID = TP.PROJECTID AND SH.RISKLEVEL='是' AND NQ.QUESTIONID in (SELECT DISTINCT TC.QUESTIONID-->
<!--                         from TBL_NBSJ_REFOPM TC  WHERE   TC.LASTREFORMSTATUS = 1 AND ( TC.STATUS &lt; 3 OR TC.STATUS IS NULL))) wzg-->

<!--         FROM TBL_NBSJ_PROJECT TP LEFT JOIN TBL_ORGANIZATION TA ON TP.ORGID = TA.ORGID-->
<!--             LEFT JOIN TBL_ORGANIZATION TD ON TP.AUDITORGID = TD.ORGID-->
<!--             LEFT JOIN TBL_STAFF TE ON TE.STAFFID = TP.AUDITSTAFFID-->
<!--        <where>-->
<!--            TP.ORGID IN ( ${strs} )-->
<!--            <if test="question.PROJECTCODE !=null and question.PROJECTCODE  != ''">-->
<!--                AND PROJECTCODE like concat(concat('%',#{question.PROJECTCODE}),'%')-->
<!--            </if>-->
<!--            <if test="question.PRJOECTNAME !=null and question.PRJOECTNAME != ''">-->
<!--                AND PRJOECTNAME like concat(concat('%',#{question.PRJOECTNAME}),'%')-->
<!--            </if>-->
<!--            <if test="question.AUDITORGNAME !=null and question.AUDITORGNAME != ''">-->
<!--                AND TA.AUDITORGNAME like concat(concat('%',#{question.AUDITORGNAME}),'%')-->
<!--            </if>-->
<!--            <if test="question.ORGNAME !=null and question.ORGNAME != ''">-->
<!--                AND TB.ORGNAME like concat(concat('%',#{question.ORGNAME}),'%') OR TE.REALNAME like concat(concat('%',#{question.ORGNAME}),'%')-->
<!--            </if>-->
<!--        </where>-->
<!--        ORDER BY TP.PROJECTID DESC-->
<!--    </select>-->

    <select id="getGkZgContentInfoListXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT DISTINCT TP.PROJECTID, TP.PROJECTCODE, TP.PRJOECTNAME, TA.ORGNAME AUDITORGNAME, NVL(TP.ORGIDNAMES, TE.REALNAME) ORGNAME,
        TP.PLANYEAR,TP.SECRECTLEVELID,TP.STAFFSCOPEIDS,TP.STAFFSCOPENAMES, ( SELECT COUNT (*) FROM TBL_NBSJ_SHEET TS WHERE TS.PROJECTID = TP.PROJECTID AND TS.RISKLEVEL='是' ) wtzs,
        ( SELECT COUNT (*) FROM TBL_NBSJ_SHEET TS LEFT JOIN TBL_NBSJ_QUESTION nq ON TS.SHEETID = nq.SHEETID
        WHERE TS.PROJECTID = TP.PROJECTID AND NQ.RECSTATUS = 1 AND TS.RISKLEVEL='是' ) fqzgs,
        ( SELECT COUNT (*) FROM TBL_NBSJ_SHEET sh LEFT JOIN TBL_NBSJ_QUESTION nq ON SH.SHEETID = nq.SHEETID
        WHERE SH.PROJECTID = TP.PROJECTID AND SH.RISKLEVEL='是'  AND NQ.QUESTIONID in
        (SELECT DISTINCT TC.QUESTIONID from TBL_NBSJ_REFOPM TC  WHERE  TC.LASTREFORMSTATUS = 1 AND TC.STATUS = 3 ) ) yzg,
        ( SELECT COUNT (*) FROM TBL_NBSJ_SHEET sh LEFT JOIN TBL_NBSJ_QUESTION nq ON SH.SHEETID = nq.SHEETID
        WHERE SH.PROJECTID = TP.PROJECTID AND SH.RISKLEVEL='是' AND NQ.QUESTIONID in (SELECT DISTINCT TC.QUESTIONID
        from TBL_NBSJ_REFOPM TC  WHERE   TC.LASTREFORMSTATUS = 1 AND ( TC.STATUS &lt; 3 OR TC.STATUS IS NULL))) wzg
        FROM TBL_NBSJ_PROJECT TP LEFT JOIN TBL_ORGANIZATION TA ON TP.ORGID = TA.ORGID
        LEFT JOIN TBL_ORGANIZATION TD ON TP.AUDITORGID = TD.ORGID
        LEFT JOIN TBL_STAFF TE ON TE.STAFFID = TP.AUDITSTAFFID
        <where>
            TP.ORGID IN ( ${strs} )
            
            ${mjsql}
            
            <if test="question.PROJECTCODE !=null and question.PROJECTCODE  != ''">
                AND PROJECTCODE like concat(concat('%',#{question.PROJECTCODE}),'%')
            </if>
            <if test="question.PRJOECTNAME !=null and question.PRJOECTNAME != ''">
                AND PRJOECTNAME like concat(concat('%',#{question.PRJOECTNAME}),'%')
            </if>
            <if test="question.AUDITORGNAME !=null and question.AUDITORGNAME != ''">
                AND TA.ORGNAME like concat(concat('%',#{question.AUDITORGNAME}),'%')
            </if>
            <if test="question.ORGNAME !=null and question.ORGNAME != ''">
                AND NVL(TP.ORGIDNAMES, TE.REALNAME) like concat(concat('%',#{question.ORGNAME}),'%')
            </if>

        </where>
        ORDER BY TP.PROJECTID DESC
    </select>


    <select id="selectListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT DISTINCT TNA.PRJOECTNAME,TNA.AUDITTYPE,TNA.CNTTYPE,TNA.STARTDATE,TNA.ENDDATE,TNA.PROJECTSOURCE,TNA.PLANYEAR,TNA.PROJECTID,
        CRESTAFF.REALNAME REALNAME,ORG.ORGNAME auditOrgName,NVL(TNA.orgidnames,TS.REALNAME) auditStaffName
        FROM TBL_NBSJ_PROJECT TNA
        left join TBL_NBSJ_AUDIT_PROJECDATA dd on TNA.PROJECTID = dd.OLDPROJECTID
        LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = TNA.PMID
        LEFT JOIN TBL_STAFF TS ON TS.STAFFID = TNA.AUDITSTAFFID
        LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = TNA.AUDITORGID
        <where>
            1=1
            ${sql}
            <if test="tblnbsjProjectVo.projectId !=null and tblnbsjProjectVo.projectId != ''">
                AND dd.PROJECTID = #{tblnbsjProjectVo.projectId}
                OR TNA.PROJECTID IN ( select OLDPROJECTID from tbl_NBSJ_AUDIT_PROJECDATA where projectId = #{tblnbsjProjectVo.projectId})
            </if>
            <if test="tblnbsjProjectVo.prjoectName !=null and tblnbsjProjectVo.prjoectName != ''">
                AND TNA.PRJOECTNAME like concat(concat('%',#{tblnbsjProjectVo.prjoectName}),'%')
            </if>
        </where>
        ORDER BY TNA.PROJECTID DESC
    </select>

    <select id="selectAuditPlanListByPageInfoXml" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT TNA.PRJOECTNAME,TNA.AUDITTYPE,TNA.CNTTYPE,TNA.STARTDATE,TNA.ENDDATE,TNA.PROJECTSOURCE,TNA.PLANYEAR,TNA.PROJECTID,
        CRESTAFF.REALNAME REALNAME,ORG.ORGNAME auditOrgName,NVL(TNA.orgidnames,TS.REALNAME) auditStaffName
        FROM TBL_NBSJ_PROJECT TNA
        LEFT JOIN TBL_STAFF CRESTAFF ON CRESTAFF.STAFFID = TNA.PMID
        LEFT JOIN TBL_STAFF TS ON TS.STAFFID = TNA.AUDITSTAFFID
        LEFT JOIN TBL_ORGANIZATION ORG ON ORG.ORGID = TNA.AUDITORGID
        <where>
            1=1
            AND TNA.STATUS=4 AND TNA.orgId=#{orgid}
            <if test="projectname !=null and projectname != ''">
                AND TNA.PRJOECTNAME like concat(concat('%',#{projectname}),'%')
            </if>
        </where>
        ORDER BY TNA.PROJECTID DESC
    </select>

    <!-- 大屏审计项目列表查询 -->
    <select id="findSjfxProjectList" resultType="com.huabo.audit.oracle.vo.SjfxProjectListVo">
        SELECT
            LISTAGG(o.ORGNAME, ',') WITHIN GROUP (ORDER BY o.ORGID) AS orgname,
            p.PPROJECTNAME AS pprojectname,
            p.PROJECTID AS projectid,
            p.STARTDATE AS startdate,
            p.AUDITTYPE AS audittype,
            s.REALNAME AS realname,
            p.PROJECTORGNAME AS projectorgname,
            p.STATUS AS STATUS,
            p.PROJECTSOURCE AS projectsource,
            p.ENDDATE AS enddate,
            COALESCE(sheet_count.cnt, 0) AS wtzs,
            COALESCE(zgsl.c, 0) AS zgsl
        FROM TBL_NBSJ_PROJECT p
        LEFT JOIN tbl_orgorg o ON FIND_IN_SET(o.ORGID, p.ORGIDS) > 0
        LEFT JOIN TBL_STAFF s ON s.STAFFID = p.PMID
        LEFT JOIN TBL_NBSJ_SHEET e ON e.PROJECTID = p.PROJECTID
        LEFT JOIN (
            SELECT p.PROJECTID, COUNT(0) AS cnt
            FROM TBL_NBSJ_SHEET s
            LEFT JOIN TBL_NBSJ_PROJECT p ON s.PROJECTID = p.PROJECTID
            WHERE IFSBG IS NULL OR IFSBG != 1
            GROUP BY p.PROJECTID
        ) sheet_count ON p.PROJECTID = sheet_count.PROJECTID
        LEFT JOIN (
            SELECT p.PROJECTID, COUNT(0) AS c
            FROM TBL_ZGZZ_ISSUESILIST i
            LEFT JOIN TBL_NBSJ_PROJECT p ON i.PROJECTID = p.PROJECTID
            GROUP BY p.PROJECTID
        ) zgsl ON p.PROJECTID = zgsl.PROJECTID
        <where>
            1=1
            <if test="year != null">
                AND TO_CHAR(p.CREATETIME, 'YYYY') = #{year}
            </if>
        </where>
        GROUP BY
            p.PPROJECTNAME,
            p.PROJECTID,
            p.STARTDATE,
            p.AUDITTYPE,
            s.REALNAME,
            p.PROJECTORGNAME,
            p.STATUS,
            p.PROJECTSOURCE,
            p.ENDDATE,
            sheet_count.cnt,
            zgsl.c
        ORDER BY p.CREATETIME DESC
    </select>

    <!-- 统计大屏审计项目列表总数 -->
    <select id="countSjfxProjectList" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM (
            SELECT
                p.PROJECTID
            FROM TBL_NBSJ_PROJECT p
            LEFT JOIN tbl_orgorg o ON FIND_IN_SET(o.ORGID, p.ORGIDS) > 0
            LEFT JOIN TBL_STAFF s ON s.STAFFID = p.PMID
            LEFT JOIN TBL_NBSJ_SHEET e ON e.PROJECTID = p.PROJECTID
            <where>
                1=1
                <if test="year != null">
                    AND TO_CHAR(p.CREATETIME, 'YYYY') = #{year}
                </if>
            </where>
            GROUP BY
                p.PPROJECTNAME,
                p.PROJECTID,
                p.STARTDATE,
                p.AUDITTYPE,
                s.REALNAME,
                p.PROJECTORGNAME,
                p.STATUS,
                p.PROJECTSOURCE,
                p.ENDDATE
        )
    </select>

    <!-- 项目数趋势变化查询（最近12个月） -->
    <select id="selectProjectTrend" resultType="java.util.HashMap">
        SELECT
            COUNT(1) AS c,
            CONCAT(YEAR(CREATETIME), '-', LPAD(MONTH(CREATETIME), 2, '0')) AS d
        FROM TBL_NBSJ_PROJECT
        WHERE
            TO_CHAR(PLANYEAR)=SUBSTR(CREATETIME,0,4) AND
            CREATETIME &gt;= ADD_MONTHS(CURRENT_DATE, -12)
          AND CREATETIME &lt; ADD_MONTHS(CURRENT_DATE, 0)
        GROUP BY YEAR(CREATETIME), MONTH(CREATETIME)
        ORDER BY YEAR(CREATETIME), MONTH(CREATETIME)
    </select>

    <!-- 整改问题状态统计查询 -->
    <select id="selectIssuesStatusStatistics" resultType="java.util.HashMap">
        SELECT
            SUM(CASE WHEN z.CONCLUSION IN ('已整改', '已整改到位') THEN 1 ELSE 0 END) AS yzg,
            COUNT(0) - SUM(CASE WHEN z.CONCLUSION IN ('已整改', '已整改到位') THEN 1 ELSE 0 END) AS wzg,
            SUM(CASE WHEN z.ISXH = '1' THEN 1 ELSE 0 END) AS yxh,
            SUM(CASE WHEN z.ISXH = '0' OR z.ISXH IS NULL THEN 1 ELSE 0 END) AS wxh
        FROM TBL_ZGZZ_ISSUESILIST i
        LEFT JOIN TBL_RECTIFICATION_ISSUES r ON i.ISSUESID = r.ISSUESID
        LEFT JOIN TBL_ZGZZ_RECTIFICATIONIMPL z ON r.RELAID = z.RELAID
        LEFT JOIN TBL_ORGANIZATION o ON o.ORGID = i.RESPONSIBLEDEPT
        WHERE i.AUDITOBJECTTYPE = 1 AND i.RESPONSIBLEDEPT IS NOT NULL
    </select>


</mapper>


