<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblNbsjProjectMapper">
    <select id="findList" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT DISTINCT
        P.PROJECTID,P.PRJOECTNAME,P.PROJECTCODE,P.PROJECTSOURCE,P.STATUS,
        P.STARTDATE,P.ENDDATE,P.COSTS,TS.STAFFID,TS.REALNAME,P.EXAMINETYPE,(ENDDATE-STARTDATE)+1 DAYS
        LEFT JOIN TBL_NBSJ_PRO_TEAM T ON P.PROJECTID = T.PROJECTID
        LEFT JOIN TBL_NBSJ_TEAMSTAFF TNS ON T.TEAMID = TNS.TEAMID
        LEFT JOIN TBL_STAFF TS ON P.PMID = TS.STAFFID
        <where>
            and P.STATUS != 4
            <!--字符串需要判断空字符串 精准查询-->
            <if test="re.orgId != null and re.orgId != ''">
                and P.orgId = #{re.orgId}
            </if>
            <!--字符串需要判断空字符串 精准查询-->
            <if test="re.staffId != null and re.staffId != ''">
                AND (TS.STAFFID = #{re.staffId} OR TS.STAFFID IS NULL)
            </if>
            <!--字符串需要判断空字符串 精准查询-->
            <if test="re.pmId != null and re.pmId != ''">
                AND P.PMID = #{re.pmId}
            </if>
            <!--字符串需要判断空字符串 精准查询-->
            <if test="re.prjoectName != null and re.prjoectName != ''">
                and P.PRJOECTNAME like concat(concat('%',#{re.prjoectName}),'%')
            </if>
            <!--字符串需要判断空字符串 模糊查询-->
            <if test="re.projectSource != null and re.projectSource != ''">
                and P.PROJECTSOURCE like concat(concat('%',#{re.projectSource}),'%')
            </if>
            <!--字符串需要判断空字符串 模糊查询-->
            <if test="projectStartDate != null and projectStartDate != ''">
                AND P.STARTDATE &gt;= #{projectStartDate}
            </if>
            <!--字符串需要判断空字符串 模糊查询-->
            <if test="projectEndDate != null and projectEndDate != ''">
                AND P.STARTDATE &lt;= #{projectEndDate}
            </if>
        </where>
        ORDER BY P.PROJECTID DESC
    </select>

    <select id="findZgList" resultType="com.huabo.audit.oracle.entity.TblNbsjProject">
        SELECT DISTINCT TNA.*,TS.REALNAME,TAS.REALNAME auditStaffName,TNA.orgIdNames auditOrgName FROM TBL_NBSJ_PROJECT TNA
        LEFT JOIN TBL_NBSJ_PRO_TEAM T ON TNA.PROJECTID = T.PROJECTID
        LEFT JOIN TBL_NBSJ_TEAMSTAFF TNS ON T.TEAMID = TNS.TEAMID
        LEFT JOIN TBL_STAFF TS ON TNA.PMID = TS.STAFFID
        LEFT JOIN TBL_STAFF TAS ON TNA.AUDITSTAFFID = TAS.STAFFID
        LEFT JOIN TBL_ORGANIZATION TD ON TNA.AUDITORGID = TD.ORGID
        <where>
            TNA.examineType= 6
            <choose>
                <when test="re.rolename !=null and re.rolename !='' and re.rolename == '审计部负责人' or re.rolename == '审计责任人' ">
                    AND TNA.ORGID = #{re.orgId} or (TNS.STAFFID = #{re.staffId} OR TNA.CREATESTAFFID = #{re.staffId} or OR TNA.PMID =#{re.staffId})
                </when>
                <otherwise>
                    AND (TNS.STAFFID = #{re.staffId} OR TNA.CREATESTAFFID = #{re.staffId} OR TNA.PMID = #{re.staffId})
                </otherwise>
            </choose>

            <!--字符串需要判断空字符串 精准查询-->
            <if test="re.status != null and re.status != ''">
                AND TNA.STATUS = #{re.status}
            </if>
            <!--字符串需要判断空字符串 精准查询-->
            <if test="re.pmId != null and re.pmId != ''">
                AND P.PMID = #{re.pmId}
            </if>
            <!--字符串需要判断空字符串 精准查询-->
            <if test="re.prjoectName != null and re.prjoectName != ''">
                and P.PRJOECTNAME like concat(concat('%',#{re.prjoectName}),'%')
            </if>
            <!--字符串需要判断空字符串 模糊查询-->
            <if test="re.projectSource != null and re.projectSource != ''">
                and P.PROJECTSOURCE like concat(concat('%',#{re.projectSource}),'%')
            </if>
            <!--字符串需要判断空字符串 模糊查询-->
            <if test="projectStartDate != null and projectStartDate != ''">
                AND P.STARTDATE &gt;= #{projectStartDate}
            </if>
            <!--字符串需要判断空字符串 模糊查询-->
            <if test="projectEndDate != null and projectEndDate != ''">
                AND P.STARTDATE &lt;= #{projectEndDate}
            </if>
        </where>
        ORDER BY P.PROJECTID DESC
    </select>
</mapper>
