<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblNbsjReformSolutionMapper">
    <select id="findNbsjReformSolution" resultType="com.huabo.audit.oracle.entity.TblNbsjReformSolution">
        SELECT SOLUTIONID,SOLUTIONCODE,SOLUTIONNAME,sta.REALNAME, sta.STAFFID,s.CREATEDATE,s.ENDDATE,ST.REALNAME
        zgname,ST.STAFFID zgstaffid,s.RUNSTATUS,s.ZGSTATUS
        FROM TBL_NBSJ_REFORM_SOLUTION s
        LEFT JOIN TBL_STAFF sta on s.STAFFID=STA.STAFFID
        LEFT JOIN TBL_STAFF st ON s.reformuserid = ST.STAFFID
        <where>
            <choose>
                <when test="type != null and type == '1'">
                    and s.reformuserid= #{orgId} and s.RUNSTATUS= #{type}
                </when>
                <when test="type != null and type == '2'">
                    and (s.SOLUTIONID in ( select DISTINCT SOLUTIONID from TBL_NBSJ_REFOPM where (status=1 or status=2)
                    and PERONINCHARGE= #{orgId}) or (s.reformuserid= #{orgId} and s.RUNSTATUS &lt; 6 and s.RUNSTATUS>1))
                </when>
                <when test="type != null and type == '3'">
                    and s.RUNSTATUS=6 and s.ORGID in (select DISTINCT ORGID from TBL_ORGANIZATION where
                    FATHERORGID=#{orgId} OR ORGID=#{orgId})
                </when>
                <otherwise>
                    and s.ORGID in (select DISTINCT ORGID from TBL_ORGANIZATION where FATHERORGID=#{orgId} OR
                    ORGID=#{orgId})
                </otherwise>
            </choose>
            <!--字符串需要判断空字符串 精准查询-->
            <if test="re.solutioncode != null and re.solutioncode != ''">
                and SOLUTIONCODE like concat(concat('%',#{re.solutioncode}),'%')
            </if>
            <!--字符串需要判断空字符串 精准查询-->
            <if test="re.solutionname != null and re.solutionname != ''">
                and SOLUTIONNAME like concat(concat('%',#{solutionname}),'%')
            </if>
            <!--字符串需要判断空字符串 模糊查询-->
            <if test="re.runstatus != null and re.runstatus != ''">
                and runstatus = #{re.runstatus}
            </if>
            <!--字符串需要判断空字符串 模糊查询-->
            <if test="re.createStaff != null and re.createStaff.staffid != null">
                and s.STAFFID = #{re.createStaff.staffid}
            </if>
        </where>
        ORDER BY SOLUTIONID DESC
    </select>
</mapper>
