<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblStaffMapper">


<resultMap type="com.huabo.audit.oracle.entity.TblStaff" id="staffResult" autoMapping="true">
<result column="REALNAME"  property="realname"/>
<result column="FIXEDPHONE"  property="fixedphone"/>
<result column="ADDRESS"  property="address"/>
<result column="EMAIL"  property="email"/>
<result column="MIBLEPHONE"  property="miblephone"/>
<result column="MEMO"  property="memo"/>
<result column="ORGID"  property="orgid"/>
<result column="USERNAME"  property="username"/>
<result column="PASSWORD"  property="password"/>
<result column="STATUS"  property="status"/>
<result column="STAFFID"  property="staffid"/>


</resultMap>

</mapper>
