<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huabo.system.mapper.BasicUserInfoMapper">

    <!-- 查询基础用户信息 -->
    <select id="queryBasicUserInfo" resultType="java.util.Map">
        SELECT
            s.REALNAME,
            o.ORGNAME,
            j.RNAME,
            ROUND(MONTHS_BETWEEN(SYSDATE, s.CREATETIME) / 12, 2) AS GL
        FROM
            TBL_STAFF s
            LEFT JOIN TBL_ORGANIZATION o ON s.ORGID = o.ORGID
            LEFT JOIN (
                SELECT
                    s.USERNAME,
                    REGEXP_SUBSTR(s.ROLEIDSTRS, '[^,]+', 1, LEVEL) AS rid
                FROM TBL_STAFF s
                WHERE s.ROLEIDSTRS IS NOT NULL
                CONNECT BY
                    LEVEL &lt;= REGEXP_COUNT(s.ROLEIDSTRS, ',') + 1
                    AND s.USERNAME = PRIOR s.USERNAME
                    AND PRIOR DBMS_RANDOM.VALUE IS NOT NULL
            ) split_roles ON s.USERNAME = split_roles.USERNAME
            LEFT JOIN TBL_ROLE j ON split_roles.rid = j.RID
        WHERE
            s.CREATETIME IS NOT NULL
    </select>

</mapper>

