<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.system.mapper.TblSystemLoginPageOracleMapper">
  <resultMap id="BaseResultMap" type="com.huabo.system.entity.TblSystemLoginPageOracle">
    <!--@mbg.generated generated on Sun Feb 26 19:05:22 CST 2023.-->
    <!--@Table REDACTED.TBL_SYSTEM_LOGIN_PAGE-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="LOGINNAME" jdbcType="VARCHAR" property="loginName" />
    <result column="SALESHOTLINE" jdbcType="VARCHAR" property="salesHotline" />
    <result column="ACCESSPATH" jdbcType="VARCHAR" property="accessPath" />
    <result column="TECHNICALSUPPORTHOTLINE" jdbcType="VARCHAR" property="technicalSupportHotline" />
    <result column="LOGINTEXTONE" jdbcType="VARCHAR" property="loginTextOne" />
    <result column="LOGINTEXTTWO" jdbcType="VARCHAR" property="loginTextTwo" />
    <result column="LOGINTEXTTHIRD" jdbcType="VARCHAR" property="loginTextThird" />
    <result column="LEFTUPPERPICTURE" jdbcType="VARCHAR" property="leftUpperPicture" />
    <result column="HOMETEXT" jdbcType="VARCHAR" property="homeText" />
    <result column="HOMEPICTURE" jdbcType="VARCHAR" property="homePicture" />
    <result column="MODULETEXT" jdbcType="VARCHAR" property="moduleText" />
    <result column="LOGOPICTURE" jdbcType="VARCHAR" property="logoPicture" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="CREATOR" jdbcType="INTEGER" property="creator" />
    <result column="WORKUNIT" jdbcType="INTEGER" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="INTEGER" property="belongGroup" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>

  <select id="selectAll" resultType="com.huabo.system.entity.TblSystemLoginPageOracle">
    select * from TBL_SYSTEM_LOGIN_PAGE
    <where>
      <if test="param.loginName != null and param.loginName != ''">
        AND LOGINNAME LIKE CONCAT('%', #{param.loginName}, '%')
      </if>
      <if test="param.state != null">
        AND state = #{param.state}
      </if>
      <if test="param.belongGroup != null and param.belongGroup != ''">
        AND belongGroup = #{param.belongGroup}
      </if>
    </where>
  </select>
</mapper>