<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.system.mapper.TblSystemCustomizeShowExtMapper">


  <select id="getCustomizeShowExtPreview" resultType="com.huabo.system.vo.result.TblSystemCustomizeShowExtResult">
    select decode(a.STATE, 1, NVL2(a.CHANGENAME, a.CHANGENAME, a.ORLNAME), b.ORLNAME) name,
           decode(a.STATE, 1, a.FIELD, b.FIELD) FIELD,
           decode(a.STATE, 1, a.ISREQUIRED, b.ISREQUIRED) ISREQUIRED,
           decode(a.STATE, 1, a.ISSYSTEMREQUIRED, b.ISSYSTEMREQUIRED) ISSYSTEMREQUIRED,
           decode(a.STATE, 1, a.COMPONENTTYPE, b.COMPONENTTYPE) COMPONENTTYPE,
           decode(a.STATE, 1, a.COMPONENTWIDTH, b.COMPONENTWIDTH) COMPONENTWIDTH,
           decode(a.STATE, 1, a.GROUPNAME, b.GROUPNAME) GROUPNAME,
           decode(a.STATE, 1, a.SCENEID, b.SCENEID) SCENEID,
           decode(a.STATE, 1, a.ATTACHEDFIELD, b.ATTACHEDFIELD) ATTACHEDFIELD,
           decode(a.STATE, 1, a.EXTJSON, b.EXTJSON) EXTJSON,
           decode(a.STATE, 1, a.ISEDIT, b.ISEDIT) ISEDIT,
           decode(a.STATE, 1, a.ISASSOCIATE, b.ISASSOCIATE) ISASSOCIATE,
           decode(a.STATE, 1, a.ASSOCIATEINFOJSON, b.ASSOCIATEINFOJSON) ASSOCIATEINFOJSON,
           decode(a.STATE, 1, a.ISDETAILS, b.ISDETAILS) ISDETAILS,
           decode(a.STATE, 1, a.ISLIST, b.ISLIST) ISLIST,
           a.LISTSORT,
           a.STATE,
           a.SORT
    from TBL_SYSTEM_CUSTOMIZE_SHOW_EXT a
    inner join TBL_SYSTEM_CUSTOMIZE_SHOW b on a.id = b.SHOWEXTID
    where 1=1 AND a.STATE=1
    <if test="param.sceneId != null">
        and a.SCENEID=#{param.sceneId}
    </if>
    <if test="param.sceneCode != null and param.sceneCode != ''">
        and a.sceneCode=#{param.sceneCode}
    </if>
    order by a.SORT,a.id desc
  </select>
</mapper>