<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.system.mapper.TblSystemCustomizeTableMapper">
  <resultMap id="BaseResultMap" type="com.huabo.system.entity.TblSystemCustomizeTable">
    <!--@mbg.generated generated on Mon Dec 05 00:02:34 CST 2022.-->
    <!--@Table REDACTED.TBL_SYSTEM_CUSTOMIZE_TABLE-->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MODULETYPE" jdbcType="VARCHAR" property="moduleType" />
    <result column="PARENTCATALOGUEID" jdbcType="DECIMAL" property="parentCatalogueId" />
    <result column="CATALOGUEID" jdbcType="DECIMAL" property="catalogueId" />
    <result column="TABLENAME" jdbcType="VARCHAR" property="tableName" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATOR" jdbcType="DECIMAL" property="creator" />
    <result column="WORKUNIT" jdbcType="DECIMAL" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="DECIMAL" property="belongGroup" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Dec 05 00:02:34 CST 2022.-->
    ID, MODULETYPE, PARENTCATALOGUEID, CATALOGUEID, TABLENAME, "STATE", CREATOR, WORKUNIT, 
    BELONGGROUP, CREATEDTIME, UPDATEDTIME
  </sql>
</mapper>