<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.audit.oracle.mapper.TblRectificationIssuesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.audit.oracle.entity.TblRectificationIssues">
        <id column="RELAID" property="relaid" />
        <result column="ISSUESID" property="issuesid" />
        <result column="PLANID" property="planid" />
        <result column="HANDLERID" property="handlerid" />
        <result column="RECTIFICATIONPLAN" property="rectificationplan" />
        <result column="RECTIFICATIONMEASURES" property="rectificationmeasures" />
        <result column="RESULTMEMO" property="resultmemo" />
        <result column="DEADLINE" property="deadline" />
        <result column="IMPLEMENTER" property="implementer" />
        <result column="VERSION" property="version" />
        <result column="RESPONSIBLEPERSON" property="responsibleperson" />
        <result column="RESPONSIBLEDEPT" property="responsibledept" />
        <result column="STATUS" property="status" />
    </resultMap>

</mapper>
