<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regulatory.penetration.oracle.mapper.TblCeaConferenceMgtOracleMapper">

    <select id="getList" resultType="com.regulatory.penetration.oracle.entity.TblCeaConferenceMgtOracle">
        select * from TBL_CEA_CONFERENCE_MGT
    </select>

</mapper>