<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.system.mapper.TblStaffSignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.system.entity.TblStaffSign">
        <id column="SIGNID" property="signid" />
        <result column="SIGNSTAFF" property="signstaff" />
        <result column="SIGNSTAFFNAME" property="signstaffname" />
        <result column="SIGNATURE" property="signature" />
        <result column="CREATEDATE" property="createdate" />
        <result column="CREATESTAFF" property="createstaff" />
        <result column="CREATESTAFFNAME" property="createstaffname" />
        <result column="UPDATEDATE" property="updatedate" />
        <result column="UPDATESTAFF" property="updatestaff" />
        <result column="UPDATESTAFFNAME" property="updatestaffname" />
    </resultMap>

</mapper>
