<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.cybermonitor.mapper.OperationPlanMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.huabo.cybermonitor.entity.OperationPlan">
        <id column="PLAN_ID" property="planId" />
        <result column="ENTERPRISE_ID" property="enterpriseId" />
        <result column="ENTERPRISE_NAME" property="enterpriseName" />
        <result column="PLAN_TYPE" property="planType" />
        <result column="PLAN_NAME" property="planName" />
        <result column="PLAN_DESCRIPTION" property="planDescription" />
        <result column="PLAN_YEAR" property="planYear" />
        <result column="PLAN_PERIOD" property="planPeriod" />
        <result column="PLAN_START_DATE" property="planStartDate" />
        <result column="PLAN_END_DATE" property="planEndDate" />
        <result column="PLAN_STATUS" property="planStatus" />
        <result column="PLAN_VERSION" property="planVersion" />
        <result column="STRATEGIC_OBJECTIVES" property="strategicObjectives" />
        <result column="OPERATIONAL_OBJECTIVES" property="operationalObjectives" />
        <result column="FINANCIAL_OBJECTIVES" property="financialObjectives" />
        <result column="MANAGEMENT_OBJECTIVES" property="managementObjectives" />
        <result column="REVENUE_PLAN" property="revenuePlan" />
        <result column="COST_PLAN" property="costPlan" />
        <result column="PROFIT_PLAN" property="profitPlan" />
        <result column="INVESTMENT_PLAN" property="investmentPlan" />
        <result column="FUNDING_PLAN" property="fundingPlan" />
        <result column="MARKET_TARGETS" property="marketTargets" />
        <result column="PRODUCT_TARGETS" property="productTargets" />
        <result column="CUSTOMER_TARGETS" property="customerTargets" />
        <result column="QUALITY_TARGETS" property="qualityTargets" />
        <result column="INNOVATION_TARGETS" property="innovationTargets" />
        <result column="HR_TARGETS" property="hrTargets" />
        <result column="TECHNOLOGY_TARGETS" property="technologyTargets" />
        <result column="SUSTAINABILITY_TARGETS" property="sustainabilityTargets" />
        <result column="PLAN_MANAGER" property="planManager" />
        <result column="PLAN_DEPARTMENT" property="planDepartment" />
        <result column="PLAN_PARTICIPANTS" property="planParticipants" />
        <result column="FORMULATION_START_TIME" property="formulationStartTime" />
        <result column="FORMULATION_END_TIME" property="formulationEndTime" />
        <result column="FORMULATION_METHOD" property="formulationMethod" />
        <result column="FORMULATION_BASIS" property="formulationBasis" />
        <result column="FORMULATION_PRINCIPLES" property="formulationPrinciples" />
        <result column="FORMULATION_PROGRESS" property="formulationProgress" />
        <result column="APPROVAL_STATUS" property="approvalStatus" />
        <result column="FIRST_APPROVER" property="firstApprover" />
        <result column="FIRST_APPROVAL_TIME" property="firstApprovalTime" />
        <result column="FIRST_APPROVAL_OPINION" property="firstApprovalOpinion" />
        <result column="INTERNAL_APPROVAL" property="internalApproval" />
        <result column="EXTERNAL_APPROVAL" property="externalApproval" />
        <result column="COMPLIANCE_REVIEW" property="complianceReview" />
        <result column="RISK_ASSESSMENT" property="riskAssessment" />
        <result column="APPROVER" property="approver" />
        <result column="APPROVAL_TIME" property="approvalTime" />
        <result column="APPROVAL_OPINION" property="approvalOpinion" />
        <result column="PUBLICATION_STATUS" property="publicationStatus" />
        <result column="PUBLICATION_TIME" property="publicationTime" />
        <result column="TASK_BREAKDOWN" property="taskBreakdown" />
        <result column="RESPONSIBILITY_ASSIGNMENT" property="responsibilityAssignment" />
        <result column="EXECUTION_START_TIME" property="executionStartTime" />
        <result column="EXECUTION_STATUS" property="executionStatus" />
        <result column="EXECUTION_PROGRESS" property="executionProgress" />
        <result column="COMPLETION_STATUS" property="completionStatus" />
        <result column="KEY_INDICATOR_ACHIEVEMENT" property="keyIndicatorAchievement" />
        <result column="EXECUTION_DEVIATION" property="executionDeviation" />
        <result column="DEVIATION_ANALYSIS" property="deviationAnalysis" />
        <result column="EXECUTION_QUALITY" property="executionQuality" />
        <result column="EXECUTION_EFFICIENCY" property="executionEfficiency" />
        <result column="EXECUTION_EFFECTIVENESS" property="executionEffectiveness" />
        <result column="EXECUTION_INNOVATION" property="executionInnovation" />
        <result column="PROBLEM_IDENTIFICATION" property="problemIdentification" />
        <result column="CAUSE_ANALYSIS" property="causeAnalysis" />
        <result column="SOLUTIONS" property="solutions" />
        <result column="EFFECTIVENESS_VERIFICATION" property="effectivenessVerification" />
        <result column="SUCCESS_EXPERIENCES" property="successExperiences" />
        <result column="FAILURE_LESSONS" property="failureLessons" />
        <result column="IMPROVEMENT_SUGGESTIONS" property="improvementSuggestions" />
        <result column="CAPABILITY_ENHANCEMENT" property="capabilityEnhancement" />
        <result column="EFFECTIVENESS_EVALUATION" property="effectivenessEvaluation" />
        <result column="ADJUSTMENT_REQUIREMENTS" property="adjustmentRequirements" />
        <result column="INTERNAL_REQUIREMENTS" property="internalRequirements" />
        <result column="EXTERNAL_REQUIREMENTS" property="externalRequirements" />
        <result column="POLICY_CHANGES" property="policyChanges" />
        <result column="MARKET_CHANGES" property="marketChanges" />
        <result column="ADJUSTMENT_OBJECTIVES" property="adjustmentObjectives" />
        <result column="ADJUSTMENT_CONTENT" property="adjustmentContent" />
        <result column="ADJUSTMENT_MEASURES" property="adjustmentMeasures" />
        <result column="ADJUSTMENT_TIME" property="adjustmentTime" />
        <result column="ADJUSTMENT_APPROVAL" property="adjustmentApproval" />
        <result column="ADJUSTMENT_IMPLEMENTATION" property="adjustmentImplementation" />
        <result column="ADJUSTMENT_MONITORING" property="adjustmentMonitoring" />
        <result column="ADJUSTMENT_EVALUATION" property="adjustmentEvaluation" />
        <result column="ADJUSTMENT_RATIONALITY" property="adjustmentRationality" />
        <result column="ADJUSTMENT_TIMELINESS" property="adjustmentTimeliness" />
        <result column="ADJUSTMENT_EFFECTIVENESS" property="adjustmentEffectiveness" />
        <result column="ADJUSTMENT_INNOVATION" property="adjustmentInnovation" />
        <result column="MONITORING_FREQUENCY" property="monitoringFrequency" />
        <result column="LAST_MONITORING_TIME" property="lastMonitoringTime" />
        <result column="NEXT_MONITORING_TIME" property="nextMonitoringTime" />
        <result column="MONITORING_MANAGER" property="monitoringManager" />
        <result column="RELATED_ATTACHMENTS" property="relatedAttachments" />
        <result column="REMARKS" property="remarks" />
        <result column="EXT_FIELD1" property="extField1" />
        <result column="EXT_FIELD2" property="extField2" />
        <result column="EXT_FIELD3" property="extField3" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 分页查询经营计划 -->
    <select id="selectOperationPlanPage" resultMap="BaseResultMap">
        SELECT *
        FROM OPERATION_PLAN
        <where>
            DEL_FLAG = '0'
            <if test="queryVo.enterpriseId != null and queryVo.enterpriseId != ''">
                AND ENTERPRISE_ID = #{queryVo.enterpriseId}
            </if>
            <if test="queryVo.planType != null and queryVo.planType != ''">
                AND PLAN_TYPE = #{queryVo.planType}
            </if>
            <if test="queryVo.planName != null and queryVo.planName != ''">
                AND PLAN_NAME LIKE CONCAT('%', #{queryVo.planName}, '%')
            </if>
            <if test="queryVo.planYear != null">
                AND PLAN_YEAR = #{queryVo.planYear}
            </if>
            <if test="queryVo.planStatus != null and queryVo.planStatus != ''">
                AND PLAN_STATUS = #{queryVo.planStatus}
            </if>
            <if test="queryVo.approvalStatus != null and queryVo.approvalStatus != ''">
                AND APPROVAL_STATUS = #{queryVo.approvalStatus}
            </if>
            <if test="queryVo.executionStatus != null and queryVo.executionStatus != ''">
                AND EXECUTION_STATUS = #{queryVo.executionStatus}
            </if>
            <if test="queryVo.planManager != null and queryVo.planManager != ''">
                AND PLAN_MANAGER LIKE CONCAT('%', #{queryVo.planManager}, '%')
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <!-- 根据企业ID获取统计 -->
    <select id="selectStatisticsByEnterpriseId" resultType="map">
        SELECT
            COUNT(*) AS TOTAL_PLANS,
            SUM(CASE WHEN PLAN_STATUS = '制定中' THEN 1 ELSE 0 END) AS FORMULATION_PLANS,
            SUM(CASE WHEN EXECUTION_STATUS = '执行中' THEN 1 ELSE 0 END) AS EXECUTION_PLANS,
            SUM(CASE WHEN EXECUTION_STATUS = '已完成' THEN 1 ELSE 0 END) AS COMPLETED_PLANS
        FROM OPERATION_PLAN
        WHERE DEL_FLAG = '0'
        <if test="enterpriseId != null and enterpriseId != ''">
            AND ENTERPRISE_ID = #{enterpriseId}
        </if>
    </select>

</mapper>
