<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.accountant.oracle.mapper.integration.BudgetFileIntegrationMapper">
    <resultMap id="BaseResultMap" type="com.management.accountant.oracle.entity.integration.BudgetFileIntegration">
        <id column="FILE_ID" property="fileId"/>
        <result column="FILE_CODE" property="fileCode"/>
        <result column="FILE_NAME" property="fileName"/>
        <result column="FILE_TYPE" property="fileType"/>
        <result column="FILE_PATH" property="filePath"/>
        <result column="FILE_FORMAT" property="fileFormat"/>
        <result column="FILE_STATUS" property="fileStatus"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>
    <update id="batchDelete">
        UPDATE TBL_BUDGET_FILE_INTEGRATION SET DEL_FLAG = 1, UPDATE_TIME = SYSDATE
        WHERE FILE_ID IN <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>

