<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.accountant.oracle.mapper.integration.BudgetIntegrationMonitorSettingsMapper">
    <resultMap id="BaseResultMap" type="com.management.accountant.oracle.entity.integration.BudgetIntegrationMonitorSettings">
        <id column="SETTINGS_ID" property="settingsId"/>
        <result column="SETTINGS_KEY" property="settingsKey"/>
        <result column="SETTINGS_VALUE" property="settingsValue"/>
        <result column="SETTINGS_DESC" property="settingsDesc"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
    </resultMap>
</mapper>
