<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.accountant.oracle.mapper.integration.BudgetIntegrationMonitorMapper">
    <resultMap id="BaseResultMap" type="com.management.accountant.oracle.entity.integration.BudgetIntegrationMonitor">
        <id column="MONITOR_ID" property="monitorId"/>
        <result column="MONITOR_CODE" property="monitorCode"/>
        <result column="MONITOR_NAME" property="monitorName"/>
        <result column="MONITOR_TYPE" property="monitorType"/>
        <result column="INTEGRATION_ID" property="integrationId"/>
        <result column="MONITOR_STATUS" property="monitorStatus"/>
        <result column="LAST_CHECK_TIME" property="lastCheckTime"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>
    <update id="batchDelete">
        UPDATE TBL_BUDGET_INTEGRATION_MONITOR SET DEL_FLAG = 1, UPDATE_TIME = SYSDATE
        WHERE MONITOR_ID IN <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>

