<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.accountant.oracle.mapper.integration.BudgetApiIntegrationMapper">
    <resultMap id="BaseResultMap" type="com.management.accountant.oracle.entity.integration.BudgetApiIntegration">
        <id column="API_ID" property="apiId"/>
        <result column="API_CODE" property="apiCode"/>
        <result column="API_NAME" property="apiName"/>
        <result column="API_TYPE" property="apiType"/>
        <result column="API_URL" property="apiUrl"/>
        <result column="API_METHOD" property="apiMethod"/>
        <result column="AUTH_TYPE" property="authType"/>
        <result column="API_STATUS" property="apiStatus"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>
    <update id="batchDelete">
        UPDATE TBL_BUDGET_API_INTEGRATION SET DEL_FLAG = 1, UPDATE_TIME = SYSDATE
        WHERE API_ID IN <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>

