<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.treasurer.mapper.BankReconDetailUnmatchedMapper">

    <resultMap id="BaseResultMap" type="com.global.treasurer.entity.BankReconDetailUnmatched">
        <id column="DETAIL_ID" property="detailId" />
        <result column="RECONCILIATION_ID" property="reconciliationId" />
        <result column="SOURCE" property="source" />
        <result column="TRANSACTION_DATE" property="transactionDate" />
        <result column="DESCRIPTION" property="description" />
        <result column="AMOUNT" property="amount" />
        <result column="MATCHED" property="matched" />
        <result column="DELETE_FLAG" property="deleteFlag" />
        <result column="CREATED_TIME" property="createdTime" />
    </resultMap>

    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM TBL_BANK_RECON_DETAIL_UNMATCHED
        <where>
            DELETE_FLAG = 0
            <if test="param.reconciliationId != null">
                AND RECONCILIATION_ID = #{param.reconciliationId}
            </if>
        </where>
        ORDER BY CREATED_TIME DESC
    </select>

    <update id="batchDelete">
        UPDATE TBL_BANK_RECON_DETAIL_UNMATCHED
        SET DELETE_FLAG = 1
        WHERE DETAIL_ID IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
