<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.treasurer.mapper.ComplianceRuleMapper">

    <resultMap id="BaseResultMap" type="com.global.treasurer.entity.TblComplianceRule">
        <id column="RULE_ID" property="ruleId"/>
        <result column="RULE_CODE" property="ruleCode"/>
        <result column="RULE_NAME" property="ruleName"/>
        <result column="RULE_TYPE" property="ruleType"/>
        <result column="AUTHORITY_ID" property="authorityId"/>
        <result column="RULE_EXPRESSION" property="ruleExpression"/>
        <result column="SEVERITY_LEVEL" property="severityLevel"/>
        <result column="IS_ENABLED" property="isEnabled"/>
        <result column="EFFECTIVE_DATE" property="effectiveDate"/>
        <result column="EXPIRY_DATE" property="expiryDate"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="DELETE_FLAG" property="deleteFlag"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="REMARK" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        RULE_ID, RULE_CODE, RULE_NAME, RULE_TYPE, AUTHORITY_ID, RULE_EXPRESSION, SEVERITY_LEVEL,
        IS_ENABLED, EFFECTIVE_DATE, EXPIRY_DATE, DESCRIPTION, COMPANY_ID, DELETE_FLAG,
        CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, REMARK
    </sql>

    <select id="selectRuleList" resultMap="BaseResultMap" parameterType="map">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_COMPLIANCE_RULE
        WHERE DELETE_FLAG = 0
        <if test="ruleCode != null and ruleCode != ''">
            AND RULE_CODE LIKE CONCAT('%', #{ruleCode}, '%')
        </if>
        <if test="ruleName != null and ruleName != ''">
            AND RULE_NAME LIKE CONCAT('%', #{ruleName}, '%')
        </if>
        <if test="ruleType != null and ruleType != ''">
            AND RULE_TYPE = #{ruleType}
        </if>
        <if test="authorityId != null and authorityId != ''">
            AND AUTHORITY_ID = #{authorityId}
        </if>
        <if test="severityLevel != null and severityLevel != ''">
            AND SEVERITY_LEVEL = #{severityLevel}
        </if>
        <if test="isEnabled != null">
            AND IS_ENABLED = #{isEnabled}
        </if>
        <if test="companyId != null and companyId != ''">
            AND COMPANY_ID = #{companyId}
        </if>
        ORDER BY CREATED_TIME DESC
    </select>

    <select id="selectRuleById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_COMPLIANCE_RULE
        WHERE RULE_ID = #{ruleId} AND DELETE_FLAG = 0
    </select>

    <select id="selectByRuleCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_COMPLIANCE_RULE
        WHERE RULE_CODE = #{ruleCode} AND DELETE_FLAG = 0
    </select>

    <select id="selectExecutableRules" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_COMPLIANCE_RULE
        WHERE DELETE_FLAG = 0 AND IS_ENABLED = 1
          AND (EFFECTIVE_DATE IS NULL OR EFFECTIVE_DATE &lt;= SYSDATE)
          AND (EXPIRY_DATE IS NULL OR EXPIRY_DATE &gt;= SYSDATE)
        ORDER BY SEVERITY_LEVEL DESC, CREATED_TIME DESC
    </select>

    <update id="batchDeleteByIds">
        UPDATE TBL_COMPLIANCE_RULE
        SET DELETE_FLAG = 1, UPDATED_TIME = SYSDATE
        WHERE RULE_ID IN
        <foreach collection="ruleIds" item="ruleId" open="(" separator="," close=")">
            #{ruleId}
        </foreach>
    </update>

    <update id="updateRuleStatus">
        UPDATE TBL_COMPLIANCE_RULE
        SET IS_ENABLED = #{isEnabled}, UPDATED_TIME = SYSDATE
        WHERE RULE_ID = #{ruleId}
    </update>

</mapper>

