<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.treasurer.mapper.CreditApplicationMapper">

    <resultMap id="BaseResultMap" type="com.global.treasurer.entity.TblCreditApplication">
        <id column="APPLICATION_ID" property="applicationId"/>
        <result column="APPLICATION_NO" property="applicationNo"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="COMPANY_NAME" property="companyName"/>
        <result column="BANK_ID" property="bankId"/>
        <result column="BANK_NAME" property="bankName"/>
        <result column="CREDIT_TYPE" property="creditType"/>
        <result column="APPLY_AMOUNT" property="applyAmount"/>
        <result column="APPROVED_AMOUNT" property="approvedAmount"/>
        <result column="CURRENCY_CODE" property="currencyCode"/>
        <result column="APPLY_DATE" property="applyDate"/>
        <result column="EXPECTED_START_DATE" property="expectedStartDate"/>
        <result column="EXPECTED_END_DATE" property="expectedEndDate"/>
        <result column="APPLICATION_STATUS" property="applicationStatus"/>
        <result column="DELETE_FLAG" property="deleteFlag"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        APPLICATION_ID, APPLICATION_NO, COMPANY_ID, COMPANY_NAME, BANK_ID, BANK_NAME, CREDIT_TYPE,
        APPLY_AMOUNT, APPROVED_AMOUNT, CURRENCY_CODE, APPLY_DATE, EXPECTED_START_DATE, EXPECTED_END_DATE,
        APPLICATION_STATUS, DELETE_FLAG, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME
    </sql>

    <select id="selectApplicationList" resultMap="BaseResultMap" parameterType="map">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_CREDIT_APPLICATION
        WHERE DELETE_FLAG = 0
        <if test="creditType != null and creditType != ''">
            AND CREDIT_TYPE = #{creditType}
        </if>
        <if test="applicationStatus != null and applicationStatus != ''">
            AND APPLICATION_STATUS = #{applicationStatus}
        </if>
        <if test="companyId != null">
            AND COMPANY_ID = #{companyId}
        </if>
        <if test="bankId != null">
            AND BANK_ID = #{bankId}
        </if>
        ORDER BY APPLY_DATE DESC
    </select>

    <select id="selectApplicationById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_CREDIT_APPLICATION
        WHERE APPLICATION_ID = #{applicationId} AND DELETE_FLAG = 0
    </select>

    <select id="selectByApplicationNo" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_CREDIT_APPLICATION
        WHERE APPLICATION_NO = #{applicationNo} AND DELETE_FLAG = 0
    </select>

    <select id="selectApplicationSummary" resultType="map">
        SELECT
            COUNT(*) AS totalCount,
            SUM(APPLY_AMOUNT) AS totalApplyAmount,
            SUM(APPROVED_AMOUNT) AS totalApprovedAmount
        FROM TBL_CREDIT_APPLICATION
        WHERE DELETE_FLAG = 0
        <if test="companyId != null">
            AND COMPANY_ID = #{companyId}
        </if>
    </select>

    <update id="updateApplicationStatus">
        UPDATE TBL_CREDIT_APPLICATION
        SET APPLICATION_STATUS = #{status}, UPDATED_TIME = SYSDATE
        WHERE APPLICATION_ID = #{applicationId}
    </update>

    <update id="batchDeleteByIds">
        UPDATE TBL_CREDIT_APPLICATION
        SET DELETE_FLAG = 1, UPDATED_TIME = SYSDATE
        WHERE APPLICATION_ID IN
        <foreach collection="applicationIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>

