<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.treasurer.mapper.FinancingCostMapper">

    <resultMap id="BaseResultMap" type="com.global.treasurer.entity.TblFinancingCostAnalysis">
        <id column="ANALYSIS_ID" property="analysisId"/>
        <result column="FINANCING_ID" property="financingId"/>
        <result column="FINANCING_TYPE" property="financingType"/>
        <result column="PRINCIPAL_AMOUNT" property="principalAmount"/>
        <result column="INTEREST_EXPENSE" property="interestExpense"/>
        <result column="FEE_COST" property="feeCost"/>
        <result column="GUARANTEE_COST" property="guaranteeCost"/>
        <result column="OTHER_COST" property="otherCost"/>
        <result column="TOTAL_COST" property="totalCost"/>
        <result column="COST_RATE" property="costRate"/>
        <result column="CURRENCY_CODE" property="currencyCode"/>
        <result column="ANALYSIS_DATE" property="analysisDate"/>
        <result column="PERIOD_TYPE" property="periodType"/>
        <result column="PERIOD_VALUE" property="periodValue"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="COMPANY_NAME" property="companyName"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_BY_NAME" property="createdByName"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="REMARK" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        ANALYSIS_ID, FINANCING_ID, FINANCING_TYPE, PRINCIPAL_AMOUNT, INTEREST_EXPENSE,
        FEE_COST, GUARANTEE_COST, OTHER_COST, TOTAL_COST, COST_RATE, CURRENCY_CODE,
        ANALYSIS_DATE, PERIOD_TYPE, PERIOD_VALUE, COMPANY_ID, COMPANY_NAME,
        CREATED_BY, CREATED_BY_NAME, CREATED_TIME, REMARK
    </sql>

    <select id="selectCostList" resultMap="BaseResultMap" parameterType="map">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_FINANCING_COST_ANALYSIS
        WHERE 1=1
        <if test="financingId != null">
            AND FINANCING_ID = #{financingId}
        </if>
        <if test="financingType != null and financingType != ''">
            AND FINANCING_TYPE = #{financingType}
        </if>
        <if test="currencyCode != null and currencyCode != ''">
            AND CURRENCY_CODE = #{currencyCode}
        </if>
        <if test="companyId != null">
            AND COMPANY_ID = #{companyId}
        </if>
        <if test="periodType != null and periodType != ''">
            AND PERIOD_TYPE = #{periodType}
        </if>
        <if test="periodValue != null and periodValue != ''">
            AND PERIOD_VALUE = #{periodValue}
        </if>
        <if test="startDate != null">
            AND ANALYSIS_DATE &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            AND ANALYSIS_DATE &lt;= #{endDate}
        </if>
        <if test="minCostRate != null">
            AND COST_RATE &gt;= #{minCostRate}
        </if>
        <if test="maxCostRate != null">
            AND COST_RATE &lt;= #{maxCostRate}
        </if>
        ORDER BY ANALYSIS_DATE DESC
    </select>

    <select id="selectCostById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_FINANCING_COST_ANALYSIS
        WHERE ANALYSIS_ID = #{analysisId}
    </select>

    <select id="countCostList" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM TBL_FINANCING_COST_ANALYSIS
        WHERE 1=1
        <if test="financingId != null">
            AND FINANCING_ID = #{financingId}
        </if>
        <if test="financingType != null and financingType != ''">
            AND FINANCING_TYPE = #{financingType}
        </if>
        <if test="currencyCode != null and currencyCode != ''">
            AND CURRENCY_CODE = #{currencyCode}
        </if>
        <if test="companyId != null">
            AND COMPANY_ID = #{companyId}
        </if>
        <if test="periodType != null and periodType != ''">
            AND PERIOD_TYPE = #{periodType}
        </if>
        <if test="periodValue != null and periodValue != ''">
            AND PERIOD_VALUE = #{periodValue}
        </if>
        <if test="startDate != null">
            AND ANALYSIS_DATE &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            AND ANALYSIS_DATE &lt;= #{endDate}
        </if>
        <if test="minCostRate != null">
            AND COST_RATE &gt;= #{minCostRate}
        </if>
        <if test="maxCostRate != null">
            AND COST_RATE &lt;= #{maxCostRate}
        </if>
    </select>

    <select id="selectCostStatistics" resultType="map">
        SELECT
            COUNT(*) AS "totalCount",
            NVL(SUM(PRINCIPAL_AMOUNT), 0) AS "totalPrincipal",
            NVL(SUM(INTEREST_EXPENSE), 0) AS "totalInterest",
            NVL(SUM(FEE_COST), 0) AS "totalFee",
            NVL(SUM(GUARANTEE_COST), 0) AS "totalGuarantee",
            NVL(SUM(OTHER_COST), 0) AS "totalOther",
            NVL(SUM(TOTAL_COST), 0) AS "totalCost",
            NVL(ROUND(AVG(COST_RATE), 2), 0) AS "avgCostRate",
            NVL(MAX(COST_RATE), 0) AS "maxCostRate",
            NVL(MIN(COST_RATE), 0) AS "minCostRate"
        FROM TBL_FINANCING_COST_ANALYSIS
        WHERE 1=1
        <if test="companyId != null">
            AND COMPANY_ID = #{companyId}
        </if>
        <if test="periodType != null and periodType != ''">
            AND PERIOD_TYPE = #{periodType}
        </if>
        <if test="periodValue != null and periodValue != ''">
            AND PERIOD_VALUE = #{periodValue}
        </if>
    </select>

    <select id="selectCostComparison" resultType="map">
        SELECT
            FINANCING_TYPE,
            CURRENCY_CODE,
            COUNT(*) AS count,
            SUM(PRINCIPAL_AMOUNT) AS totalPrincipal,
            SUM(TOTAL_COST) AS totalCost,
            AVG(COST_RATE) AS avgCostRate
        FROM TBL_FINANCING_COST_ANALYSIS
        WHERE 1=1
        <if test="companyId != null">
            AND COMPANY_ID = #{companyId}
        </if>
        <if test="periodType != null and periodType != ''">
            AND PERIOD_TYPE = #{periodType}
        </if>
        <if test="periodValue != null and periodValue != ''">
            AND PERIOD_VALUE = #{periodValue}
        </if>
        GROUP BY FINANCING_TYPE, CURRENCY_CODE
        ORDER BY FINANCING_TYPE
    </select>

    <select id="selectCostTrend" resultType="map">
        SELECT
            PERIOD_VALUE,
            PERIOD_TYPE,
            SUM(TOTAL_COST) AS totalCost,
            AVG(COST_RATE) AS avgCostRate,
            SUM(PRINCIPAL_AMOUNT) AS totalPrincipal
        FROM TBL_FINANCING_COST_ANALYSIS
        WHERE 1=1
        <if test="companyId != null">
            AND COMPANY_ID = #{companyId}
        </if>
        <if test="startDate != null and startDate != ''">
            AND ANALYSIS_DATE &gt;= TO_DATE(#{startDate}, 'YYYY-MM-DD')
        </if>
        <if test="endDate != null and endDate != ''">
            AND ANALYSIS_DATE &lt;= TO_DATE(#{endDate}, 'YYYY-MM-DD')
        </if>
        GROUP BY PERIOD_VALUE, PERIOD_TYPE
        ORDER BY PERIOD_TYPE, PERIOD_VALUE
    </select>

</mapper>
