<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.treasurer.mapper.FundPlanExecutionMapper">

    <resultMap id="BaseResultMap" type="com.global.treasurer.entity.TblFundPlanExecution">
        <id column="EXECUTION_ID" property="executionId"/>
        <result column="EXECUTION_NO" property="executionNo"/>
        <result column="PLAN_ID" property="planId"/>
        <result column="DETAIL_ID" property="detailId"/>
        <result column="EXECUTION_TYPE" property="executionType"/>
        <result column="EXECUTION_STATUS" property="executionStatus"/>
        <result column="PLANNED_AMOUNT" property="plannedAmount"/>
        <result column="EXECUTED_AMOUNT" property="executedAmount"/>
        <result column="EXECUTION_RATE" property="executionRate"/>
        <result column="PLANNED_DATE" property="plannedDate"/>
        <result column="ACTUAL_DATE" property="actualDate"/>
        <result column="DELAY_DAYS" property="delayDays"/>
        <result column="EXECUTION_EFFICIENCY" property="executionEfficiency"/>
        <result column="RISK_LEVEL" property="riskLevel"/>
        <result column="EXECUTION_NOTES" property="executionNotes"/>
        <result column="DELETE_FLAG" property="deleteFlag"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_BY_NAME" property="createdByName"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_BY_NAME" property="updatedByName"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="ORG_ID" property="orgId"/>
    </resultMap>

    <sql id="Base_Column_List">
        EXECUTION_ID, EXECUTION_NO, PLAN_ID, DETAIL_ID, EXECUTION_TYPE, EXECUTION_STATUS,
        PLANNED_AMOUNT, EXECUTED_AMOUNT, EXECUTION_RATE, PLANNED_DATE, ACTUAL_DATE, DELAY_DAYS,
        EXECUTION_EFFICIENCY, RISK_LEVEL, EXECUTION_NOTES, DELETE_FLAG, CREATED_BY, CREATED_BY_NAME,
        CREATED_TIME, UPDATED_BY, UPDATED_BY_NAME, UPDATED_TIME, ORG_ID
    </sql>

    <select id="selectExecutionPage" resultMap="BaseResultMap" parameterType="map">
        SELECT <include refid="Base_Column_List"/>
        FROM TBL_FUND_PLAN_EXECUTION
        WHERE DELETE_FLAG = 0
        <if test="planId != null">
            AND PLAN_ID = #{planId}
        </if>
        <if test="executionType != null and executionType != ''">
            AND EXECUTION_TYPE = #{executionType}
        </if>
        <if test="executionStatus != null and executionStatus != ''">
            AND EXECUTION_STATUS = #{executionStatus}
        </if>
        ORDER BY CREATED_TIME DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="countExecutionList" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM TBL_FUND_PLAN_EXECUTION
        WHERE DELETE_FLAG = 0
        <if test="planId != null">
            AND PLAN_ID = #{planId}
        </if>
        <if test="executionType != null and executionType != ''">
            AND EXECUTION_TYPE = #{executionType}
        </if>
        <if test="executionStatus != null and executionStatus != ''">
            AND EXECUTION_STATUS = #{executionStatus}
        </if>
    </select>

    <select id="selectExecutionSummary" resultType="map" parameterType="map">
        SELECT
            COUNT(*) AS totalCount,
            SUM(PLANNED_AMOUNT) AS totalPlannedAmount,
            SUM(EXECUTED_AMOUNT) AS totalExecutedAmount,
            AVG(EXECUTION_RATE) AS avgExecutionRate,
            AVG(DELAY_DAYS) AS avgDelayDays
        FROM TBL_FUND_PLAN_EXECUTION
        WHERE DELETE_FLAG = 0
        <if test="planId != null">
            AND PLAN_ID = #{planId}
        </if>
    </select>

</mapper>
