<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.treasurer.mapper.TblGtAccountChangeMapper">

    <!-- 分页查询账户变更列表 -->
    <select id="selectPageList" resultType="com.global.treasurer.entity.TblGtAccountChange">
        SELECT * FROM TBL_GT_ACCOUNT_CHANGE
        WHERE 1=1
        <if test="accountName != null and accountName != ''">
            AND ACCOUNT_NAME LIKE '%' || #{accountName} || '%'
        </if>
        <if test="changeType != null and changeType != ''">
            AND CHANGE_TYPE = #{changeType}
        </if>
        <if test="applicationStatus != null and applicationStatus != ''">
            AND APPLICATION_STATUS = #{applicationStatus}
        </if>
        <if test="orgId != null">
            AND ORG_ID = #{orgId}
        </if>
        ORDER BY CREATE_TIME DESC
    </select>

</mapper>
