<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.monitor.mapper.TblAssessStaffMapper">

	<select id="staffResult"
		resultType="com.huabo.monitor.entity.TblAssessStaffVo">
		select * from TBL_ASSESS_STAFF where 1=1 and assmarkid=#{assmarkid}

	</select>
</mapper>
