<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.huabo.monitor.mapper.TblEvaluationInterviewMapper">



	<select id="getHomepage_List"
		resultType="com.huabo.monitor.entity.TblEvaluationInterview">
		select e.*,s.realname as staffname,o.orgname as deptname from
		TBL_EVALUATIONINTERVIEW e left join tbl_staff s on s.staffid=e.staffid
		left join tbl_organization o on o.orgid=e.dept
		where 1=1
		<if test="param.module!=null and param.module!=''">
			and e.module LIKE concat(concat('%',#{param.module}),'%')
		</if>
		<if test="param.content!=null and param.content!=''">
			and e.content LIKE concat(concat('%',#{param.content}),'%')
		</if>
		<if test="param.unit!=null and param.unit!=''">
			and e.unit=#{param.unit}
		</if>
		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		order by id desc
	</select>

</mapper>
