<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.huabo.monitor.mapper.TblOrganizationMapper">

	<resultMap type="com.huabo.monitor.entity.TblOrganization"
		id="orgResult">
		<result column="`AUDITTYPE`" property="audittype" />
		<result column="BYWX" property="bywx" />
		<result column="DATASOURCE" property="datasource" />
		<result column="DUTIES" property="duties" />
		<result column="FATHERORGID" property="fatherorgid" />
		<result column="HISTORYCODE" property="historycode" />
		<result column="HISTORYDEPARTMENTID"
			property="historydepartmentid" />
		<result column="HYZSKTYPE" property="hyzsktype" />
		<result column="ICODE" property="icode" />
		<result column="INDUSTRYID" property="industryid" />
		<result column="ISAUTONUMBER" property="isautonumber" />
		<result column="ISINITIALIZATION" property="isinitialization" />
		<result column="ISZY" property="iszy" />
		<result column="MEMO" property="memo" />
		<result column="ORDERID" property="orderid" />
		<result column="ORGCREATE" property="orgcreate" />
		<result column="ORGID" property="orgid" />
		<result column="ORGMENO" property="orgmeno" />
		<result column="ORGNAME" property="orgname" />
		<result column="ORGTYPE" property="orgtype" />
		<result column="OUTSIDEID" property="outsideid" />
		<result column="OUTSIDEOPENDID" property="outsideopendid" />
		<result column="PKYMORGID" property="pkymorgid" />
		<result column="STATUS" property="status" />
		<result column="WRITTENBYDEPT" property="writtenbydept" />
	</resultMap>


	<select id="getOrgByassIdNew" resultMap="orgResult">
		select * from tbl_organization o where 1=1
		<if
			test="queryParam.getMaxAssorgidList!=null and queryParam.getMaxAssorgidList.size()>0">
			and orgid in
			<foreach collection="queryParam.getMaxAssorgidList"
				item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		and status = 0
	</select>

	<select id="getOrgidAutoNumber" resultMap="orgResult">
		select * from Tbl_Organization where ORGTYPE &gt;= 100
	</select>

	<select id="selectAllCompanyList" resultMap="orgResult">
		select * from Tbl_Organization where ORGTYPE != 0 AND ORGTYPE &lt; 100
	</select>


	<select id="selectCompanyListParentId" resultMap="orgResult">
		select * from Tbl_Organization where FATHERORGID = #{parentId} AND ORGTYPE
		!= 0 AND ORGTYPE &lt; 100
	</select>

	<select id="getOrgNameByOrgids"
		resultType="com.huabo.monitor.entity.TblOrganization">
		select orgname from TBL_ORGANIZATION where 1=1

		<if test="ids!=null and ids.length>0">
			and orgid IN
			<foreach collection="ids" open="(" close=")" item="item"
				separator=",">
				#{item}
			</foreach>
		</if>
	</select>

</mapper>
