<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.monitor.mapper.TblReportMapper">
	<select id="findList"
		resultType="com.huabo.monitor.entity.TblReport">
		select * from TBL_REPORT where 1=1
		<if test="queryParam.type!= null and queryParam.type != ''">
			and type= #{queryParam.type}
		</if>
		<if test="queryParam.orgid!= null and queryParam.orgid != ''">
			and orgid= #{queryParam.orgid}
		</if>
		<if
			test="queryParam.reportname != null and queryParam.reportname != ''">
			and reportname like concat(concat('%',#{queryParam.reportname}),'%')
		</if>
		<if
			test="queryParam.reporttype != null and queryParam.reporttype != ''">
			and reporttype like concat(concat('%',#{queryParam.reporttype}),'%')
		</if>
		<if test="queryParam.startDate != null">
			and reporttime &gt;=#{queryParam.startDate}
		</if>
		<if test="queryParam.endDate != null">
			and reporttime &lt;=#{queryParam.endDate}
		</if>
		
		<if test="queryParam.startDateYear != null">
			and reporttime &gt;=#{queryParam.startDateYear}
		</if>
		<if test="queryParam.endDateYear != null">
			and reporttime &lt;=#{queryParam.endDateYear}
		</if>
		
		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		order by REPORTID DESC
	</select>

</mapper>
