<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.monitor.mapper.TblTestplanMapper">

	<resultMap type="com.huabo.monitor.entity.TblTestplan"
		id="tblTestPlanMap" autoMapping="true">
		<id column="testplanid" property="testplanid" />
		<result property="assid" column="assid" />
		<collection property="assidtem" column="assid"
			select="getOneAssessPlan"
			ofType="com.huabo.monitor.entity.TblAssessPlan">
			<id column="assid" property="assid" />
			<result column="assessid" property="assessid" />
			<result column="assessname" property="assessname" />
		</collection>
	</resultMap>
	<select id="getOneAssessPlan"
		resultType="com.huabo.monitor.entity.TblAssessPlan">
		select * from TBL_ASSESS_PLAN where assid=#{assid}
	</select>

	<resultMap
		type="com.huabo.monitor.vo.result.TestTrackingStatisticsResult"
		id="testResult" autoMapping="true">
		<result column="planstatus" property="planstatus" />
		<result column="num" property="num" />
	</resultMap>

	<select id="findAllNew" resultMap="tblTestPlanMap">
		select * from TBL_TESTPLAN where 1=1
		<if test="queryParam.planname!=null and queryParam.planname!= ''">
			AND planname LIKE concat(concat('%',#{queryParam.planname}),'%')
		</if>
		<if
			test="queryParam.plannumber!=null and queryParam.plannumber!= ''">
			AND plannumber LIKE concat(concat('%',#{queryParam.plannumber}),'%')
		</if>
		<if test="queryParam.planyear!=null and queryParam.planyear!= ''">
			AND planyear LIKE concat(concat('%',#{queryParam.planyear}),'%')
		</if>
		<if
			test="queryParam.planstatus!=null and queryParam.planstatus!= ''">
			AND planstatus LIKE concat(concat('%',#{queryParam.planstatus}),'%')
		</if>
		<if test="queryParam.starttime != null">
			and starttime &gt;=#{queryParam.starttime}
		</if>
		<if test="queryParam.endtime != null">
			and endtime &lt;=#{queryParam.endtime}
		</if>
		<!-- <if test="queryParam.creatid!=null and queryParam.creatid!='' and 
			queryParam.authorityType == 0 "> AND creatid=#{queryParam.creatid} </if> -->
		<if test="queryParam.orgList!=null and queryParam.orgList.size()>0">
			and orgid IN
			<foreach collection="queryParam.orgList" open="(" close=")"
				item="item" separator=",">
				#{item}
			</foreach>
		</if>

		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		order by testplanid desc
	</select>



	<select id="findAllnoSjNew" resultMap="tblTestPlanMap">
		select * from TBL_TESTPLAN where 1=1
		<if test="queryParam.planname!=null and queryParam.planname!= ''">
			AND planname LIKE concat(concat('%',#{queryParam.planname}),'%')
		</if>
		<if
			test="queryParam.plannumber!=null and queryParam.plannumber!= ''">
			AND plannumber LIKE concat(concat('%',#{queryParam.plannumber}),'%')
		</if>
		<if test="queryParam.planyear!=null and queryParam.planyear!= ''">
			AND planyear LIKE concat(concat('%',#{queryParam.planyear}),'%')
		</if>
		<if
			test="queryParam.planstatus!=null and queryParam.planstatus!= ''">
			AND planstatus LIKE concat(concat('%',#{queryParam.planstatus}),'%')
		</if>
		<if test="queryParam.starttime != null">
			and starttime &gt;=#{queryParam.starttime}
		</if>
		<if test="queryParam.endtime != null">
			and endtime &lt;=#{queryParam.endtime}
		</if>
		<!-- <if test="queryParam.creatid!=null and queryParam.creatid!='' "> AND 
			( creatid=#{queryParam.creatid} or staffid=#{queryParam.creatid}) </if> <if 
			test="queryParam.creatid!=null and queryParam.creatid!='' and queryParam.authorityType 
			== 0 "> AND ( creatid=#{queryParam.creatid} or staffid=#{queryParam.creatid}) 
			</if> -->
		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		order by testplanid desc
	</select>


	<select id="getCsrwFindAllRwToOrgNew"
		resultType="com.huabo.monitor.entity.TblTestplan">
		SELECT DISTINCT pl.* from TBL_TESTPLAN pl LEFT JOIN TBL_TESTTASK task
		on PL.TESTPLANID=TASK.PLANID
		where PL.PLANSTATUS!='未启动' AND
		TASK.COMPLETESTAUS &lt;&gt;1 and
		TASK.CPUSERID=#{queryParam.creatid}
		<if test="queryParam.orgids!=null and queryParam.orgids.size()>0">
			and (pl.ORGID in
			<foreach collection="queryParam.orgids" close=")" open="("
				item="item" separator=",">
				#{item}
			</foreach>
			OR pl.ORGID =#{queryParam.orgid}
			)

		</if>
		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		order by pl.TESTPLANID
	</select>


	<select id="findAllTrackNew"
		resultType="com.huabo.monitor.entity.TblTestplan">
		SELECT DISTINCT * from TBL_TESTPLAN te WHERE TE.PLANSTATUS!='已完成' and
		TE.PLANSTATUS!='未启动'
		<if test="queryParam.orgid!=null ">
			and TE.ORGID in ( select ORGID from TBL_ORGANIZATION where
			(FATHERORGID=#{queryParam.orgid} AND ORGTYPE=0 or
			ORGID=#{queryParam.orgid}))
		</if>

		<if test="queryParam.planname!=null and queryParam.planname!= ''">
			AND planname LIKE concat(concat('%',#{queryParam.planname}),'%')
		</if>
		<if
			test="queryParam.plannumber!=null and queryParam.plannumber!= ''">
			AND plannumber LIKE concat(concat('%',#{queryParam.plannumber}),'%')
		</if>
		<if test="queryParam.planyear!=null and queryParam.planyear!= ''">
			AND planyear LIKE concat(concat('%',#{queryParam.planyear}),'%')
		</if>
		<if
			test="queryParam.planstatus!=null and queryParam.planstatus!= ''">
			AND planstatus LIKE concat(concat('%',#{queryParam.planstatus}),'%')
		</if>
		<if test="queryParam.endtime != null">
			and endtime &lt;=#{queryParam.endtime}
		</if>
		<if test="queryParam.starttime != null">
			and starttime &gt;=#{queryParam.starttime}
		</if>
		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		ORDER BY TESTPLANID desc
	</select>


	<select id="findAllnoSjTrackNew"
		resultType="com.huabo.monitor.entity.TblTestplan">
		SELECT * FROM TBL_TESTPLAN pl WHERE PL.PLANSTATUS!='已完成' and
		PL.PLANSTATUS!='未启动'
		<!-- <if test="queryParam.creatid!=null "> and (PL.CREATID =#{queryParam.creatid} 
			or PL.STAFFID= #{queryParam.creatid}) </if> -->
		<if test="queryParam.planname!=null and queryParam.planname!= ''">
			AND planname LIKE concat(concat('%',#{queryParam.planname}),'%')
		</if>
		<if
			test="queryParam.plannumber!=null and queryParam.plannumber!= ''">
			AND plannumber LIKE concat(concat('%',#{queryParam.plannumber}),'%')
		</if>
		<if test="queryParam.planyear!=null and queryParam.planyear!= ''">
			AND planyear LIKE concat(concat('%',#{queryParam.planyear}),'%')
		</if>
		<if
			test="queryParam.planstatus!=null and queryParam.planstatus!= ''">
			AND planstatus LIKE concat(concat('%',#{queryParam.planstatus}),'%')
		</if>
		<if test="queryParam.starttime != null">
			and starttime &gt;=#{queryParam.starttime}
		</if>
		<if test="queryParam.endtime != null">
			and endtime &lt;=#{queryParam.endtime}
		</if>
		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		ORDER BY TESTPLANID desc
	</select>

	<select id="findAllCSHZNew" resultType="java.util.Map">
		select lin.*,(select count(*) from TBL_TESTTASK where
		PLANID=lin.TESTPLANID ) allcount,
		(select count(*) from TBL_TESTTASK where TESTPOINTVALIDITY=1 and
		COMPLETESTAUS=1 and PLANID=lin.TESTPLANID ) ycount,
		(select count(*) from TBL_TESTTASK where TESTPOINTVALIDITY=2 and
		COMPLETESTAUS=1 and PLANID=lin.TESTPLANID ) wcount,
		(select count(*) from TBL_TESTTASK where TESTPOINTVALIDITY=3 and
		COMPLETESTAUS=1 and PLANID=lin.TESTPLANID ) bcount
		from( SELECT distinct
		te.TESTPLANID,te.planname,te.TESTEDORGS,te.PLANSTATUS,te.PLANYEAR,g.PLANNAME as groupPlanName from
		TBL_TESTPLAN te left join TBL_GROUP_TESTPLAN g on te.GROUPID=g.ID  WHERE 1=1
		<if test="queryParam.orgids!=null and queryParam.orgids.size()>0">
			AND TE.ORGID IN
			<foreach collection="queryParam.orgids" open="(" close=")"
				item="item" separator=",">
				#{item}
			</foreach>
		</if>
		and TESTPLANID in ( SELECT DISTINCT PLANID from TBL_TESTTASK WHERE
		COMPLETESTAUS=1)
		<if test="queryParam.planname!=null and queryParam.planname!= ''">
			AND pl.planname LIKE concat(concat('%',#{queryParam.planname}),'%')
		</if>
		<if test="queryParam.planyear!=null and queryParam.planyear!= ''">
			AND pl.planyear LIKE concat(concat('%',#{queryParam.planyear}),'%')
		</if>
		<if
			test="queryParam.staffid!=null and queryParam.staffid!='' and queryParam.authorityType == 0 ">
			AND creatid=#{queryParam.staffid}
		</if>
			<if test="queryParam.groupPlanName!=null and queryParam.groupPlanName!= ''">
			AND g.PLANNAME LIKE concat(concat('%',#{queryParam.groupPlanName}),'%')
		</if>
				<if test="queryParam.testedorgs!=null and queryParam.testedorgs!= ''">
			AND te.TESTEDORGS LIKE concat(concat('%',#{queryParam.testedorgs}),'%')
		</if>
		
		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		ORDER BY TESTPLANID desc
		) lin
	</select>

	<select id="findAll" resultType="java.util.Map">
		select lin.*,(select count(*) from TBL_TESTTASK where
		PLANID=lin.TESTPLANID ) allcount,
		(select count(*) from TBL_TESTTASK where TESTPOINTVALIDITY=1 and
		COMPLETESTAUS=1 and PLANID=lin.TESTPLANID ) ycount,
		(select count(*) from TBL_TESTTASK where TESTPOINTVALIDITY=2 and
		COMPLETESTAUS=1 and PLANID=lin.TESTPLANID ) wcount,
		(select count(*) from TBL_TESTTASK where TESTPOINTVALIDITY=3 and
		COMPLETESTAUS=1 and PLANID=lin.TESTPLANID ) bcount
		from( SELECT distinct
		te.TESTPLANID,te.planname,te.TESTEDORGS,te.PLANSTATUS,te.PLANYEAR from
		TBL_TESTPLAN te WHERE 1=1

		<if test="queryParam.planname!=null and queryParam.planname!= ''">
			AND planname LIKE concat(concat('%',#{queryParam.planname}),'%')
		</if>
		<if test="queryParam.planyear!=null and queryParam.planyear!= ''">
			AND planyear LIKE concat(concat('%',#{queryParam.planyear}),'%')
		</if>
		<if test="queryParam.groupid!=null and queryParam.groupid!= ''">
			AND groupid=#{queryParam.groupid}
		</if>
		ORDER BY TESTPLANID desc
		) lin
	</select>

	<select id="findAllWCSjCSHZNew" resultType="java.util.Map">
		select lin.*,(select count(*) from TBL_TESTTASK where
		PLANID=lin.TESTPLANID ) allcount,
		(select count(*) from TBL_TESTTASK where TESTPOINTVALIDITY=1 and
		COMPLETESTAUS=1 and PLANID=lin.TESTPLANID ) ycount,
		(select count(*) from TBL_TESTTASK where TESTPOINTVALIDITY=2 and
		COMPLETESTAUS=1 and PLANID=lin.TESTPLANID ) wcount,
		(select count(*) from TBL_TESTTASK where TESTPOINTVALIDITY=3 and
		COMPLETESTAUS=1 and PLANID=lin.TESTPLANID ) bcount
		from( SELECT
		pl.TESTPLANID,pl.planname,pl.TESTEDORGS,pl.PLANSTATUS,pl.PLANYEAR,g.PLANNAME as groupPlanName FROM
		TBL_TESTPLAN pl left join TBL_GROUP_TESTPLAN g on pl.GROUPID=g.ID WHERE 1=1
		and TESTPLANID in ( SELECT DISTINCT PLANID from TBL_TESTTASK WHERE
		COMPLETESTAUS=1)
		<if test="queryParam.planname!=null and queryParam.planname!= ''">
			AND pl.planname LIKE concat(concat('%',#{queryParam.planname}),'%')
		</if>
		<if test="queryParam.planyear!=null and queryParam.planyear!= ''">
			AND pl.planyear LIKE concat(concat('%',#{queryParam.planyear}),'%')
		</if>
				<if test="queryParam.groupPlanName!=null and queryParam.groupPlanName!= ''">
			AND g.PLANNAME LIKE concat(concat('%',#{queryParam.groupPlanName}),'%')
		</if>
				<if test="queryParam.testedorgs!=null and queryParam.testedorgs!= ''">
			AND pl.TESTEDORGS LIKE concat(concat('%',#{queryParam.testedorgs}),'%')
		</if>
		<!-- <if test="queryParam.staffid!=null and queryParam.staffid!=''"> AND 
			(PL.CREATID =#{queryParam.staffid} or PL.STAFFID= #{queryParam.staffid}) 
			</if> <if test="queryParam.staffid!=null and queryParam.staffid!='' and queryParam.authorityType 
			== 0 "> AND creatid=#{queryParam.staffid} </if> -->
		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		ORDER BY TESTPLANID desc
		) lin
	</select>

	<select id="findTestTrackingStatisticsNew"
		resultMap="testResult">
		select PLANSTATUS, count(*) as num from TBL_TESTPLAN where 1=1
		<if test="queryParam.orgIds!=null and queryParam.orgIds.size()>0">
			and orgid in
			<foreach collection="queryParam.orgIds" item="item" open="("
				close=")" separator=",">
				#{item}
			</foreach>
		</if>
		or orgid =#{queryParam.orgid} group by PLANSTATUS
	</select>



</mapper>
