<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.huabo.monitor.mapper.TblTesttaskProblemFindMapper">
	<resultMap
		type="com.huabo.monitor.entity.TblTesttaskProblemFind"
		id="problemFindList"></resultMap>

	<select id="findALLProblemLedgerListNew"
		resultMap="problemFindList">
		SELECT
		TTP.*,TS.REALNAME,TORG.ORGNAME,TASK.PLANID,PL.plannumber,PL.planname,RS.RISKNUMBER
		from TBL_TESTTASK_PROBLEMFIND TTP
		LEFT JOIN TBL_TESTTASK task on
		TTP.TESTTASKID=TASK.TESTTASKID
		LEFT JOIN TBL_RISK rs on
		TTP.RISKNUMBERID=RS.RISKID
		LEFT JOIN TBL_TESTPLAN pl on
		task.planid=pl.testplanid
		LEFT JOIN TBL_STAFF TS ON
		TS.STAFFID=TTP.REFORMSTAFFID
		LEFT JOIN TBL_ORGANIZATION TORG ON
		TORG.ORGID=TTP.MAINORG
		where 1=1 and TTP.status in (6)
		<if
			test="queryParam.defectlevel!=null and queryParam.defectlevel!= ''">
			AND TTP.DEFECTLEVEL LIKE
			concat(concat('%',#{queryParam.defectlevel}),'%')
		</if>
		<if
			test="queryParam.problemtype!=null and queryParam.problemtype!=''">
			AND TTP.problemtype LIKE
			concat(concat('%',#{queryParam.problemtype}),'%')
		</if>
		<if
			test="queryParam.oneprocess!=null and queryParam.oneprocess!= ''">
			and TTP.ONEPROCESS LIKE
			concat(concat('%',#{queryParam.oneprocess}),'%')
		</if>
		<if test="queryParam.testYear!=null and queryParam.testYear !=0">
			and year(TTP.createtime) = #{queryParam.testYear}
		</if>
		<if test="queryParam.zgstatus!=null ">
			and TTP.ZGSTATUS = #{queryParam.zgstatus}
		</if>
		<!-- 
		<if test="queryParam.createstaffid!=null and queryParam.createstaffid!=''  and queryParam.authorityType == 0 "> 
		AND TTP.CREATESTAFFID=#{queryParam.createstaffid} or TTP.ISSUEDSTAFFID=#{queryParam.createstaffid}
			</if> -->
		<if test="sql!=null and sql!=''">
			${sql}
		</if>
		ORDER BY TTP.FINDID desc
	</select>



	<select id="findYearStatisticsNew"
		resultType="com.huabo.monitor.vo.result.YearStatisticsResult">
		select TESTYEAR,count(*) as num from TBL_TESTTASK_PROBLEMFIND where
		1=1
		<if test="queryParam.orgIds!=null and queryParam.orgIds.size()>0">
			and mainorg in
			<foreach collection="queryParam.orgIds" item="item" open="("
				close=")" separator=",">
				#{item}
			</foreach>
		</if>
		or mainorg =#{queryParam.orgid} group by TESTYEAR
	</select>



	<select id="findDefectGradeStatisticsNew"
		resultType="com.huabo.monitor.vo.result.DefectGradeStatisticsResult">
		select DEFECTTYPE,count(*) as num from TBL_TESTTASK_PROBLEMFIND where
		1=1
		<if test="queryParam.orgIds!=null and queryParam.orgIds.size()>0">
			and mainorg in
			<foreach collection="queryParam.orgIds" item="item" open="("
				close=")" separator=",">
				#{item}
			</foreach>
		</if>
		or mainorg =#{queryParam.orgid} group by DEFECTTYPE
	</select>



	<select id="findOneLevelProcessStatisticsNew"
		resultType="com.huabo.monitor.vo.result.OneLevelProcessStatisticsResult">
		select ONEPROCESS,count(*) as num from TBL_TESTTASK_PROBLEMFIND where
		1=1 and year(createtime)=#{queryParam.year} and  status in (6) 
		and linkorg=#{queryParam.orgid}   group by ONEPROCESS
	</select>


	<select id="getDefectProjectsYearAnalysis"
		resultType="java.util.Map">
		select #{year}||'-01' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p 
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='01' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-02' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p  
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='02' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-03' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p 
  where p.linkorg=#{orgId} and TO_CHAR(createtime,'MM')='03' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-04' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p 
  where p.linkorg=#{orgId} and TO_CHAR(createtime,'MM')='04' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-05' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p 
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='05' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-06' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p  
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='06' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-07' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p  
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='07' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-08' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p  
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='08' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-09' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p  
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='09' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-10' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p  
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='10' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-11' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p  
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='11' and year(createtime)=#{year} and p.status in (6)
union select #{year}||'-12' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND p  
  where p.linkorg=#{orgId} and TO_CHAR(createtime, 'MM')='12' and year(createtime)=#{year} and p.status in (6)

	</select>
	<select id="getDistributionDefectTypes"
		resultType="java.util.Map">
		select '一般' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND where
		year(createtime) =#{year} and linkorg=#{orgId} and status in (6) and defecttype=#{qx}
		and
		defectlevel='一般'
		union
		select '重要' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND where
		year(createtime)
		=#{year} and linkorg=#{orgId} and status in (6) and defecttype=#{qx} and defectlevel='重要'
		union
		select '重大' as name,count(1) as value from TBL_TESTTASK_PROBLEMFIND where
		year(createtime)
		=#{year} and linkorg=#{orgId} and status in (6) and defecttype=#{qx} and defectlevel='重大'
	</select>



</mapper>
