<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.monitor.mapper.TblTesttaskMapper">
	<select id="findAllnoSjResultNew" resultType="java.util.Map">
		SELECT COUNT (*) ZS,PLANID,CPUSERID,STA.REALNAME,PL.PLANNAME,PL.PLANNUMBER
		FROM TBL_TESTTASK task
		LEFT JOIN TBL_STAFF sta ON TASK.CPUSERID = STA.STAFFID
		LEFT JOIN TBL_TESTPLAN pl ON TASK.PLANID = PL.TESTPLANID
		WHERE PLANID =#{planid} and TASK.COMPLETESTAUS=1
		GROUP BY TASK.CPUSERID, PLANID, STA.REALNAME, PL.PLANNAME, PL.PLANNUMBER
	</select>
	<select id="findAllnoSjTrack2New" resultType="java.util.Map">
		select AA.PLANNUMBER, aa.PLANNAME, AA.REALNAME,CASE WHEN AA.ZS=AA.wc then
		'已完成' else '未完成' END as zt,
		CASE WHEN AA.ZS = AA.tj THEN '是' ELSE '否' END AS sftj from ( SELECT COUNT
		(*) zs, PLANID, CPUSERID, STA.REALNAME, PL.PLANNAME, PL.PLANNUMBER,
		(select count(*) from TBL_TESTTASK t1 WHERE T1.CPUSERID=TASK.CPUSERID
		and TASK.PLANID=T1.PLANID and T1.TESTSTATUS='已完成') as wc ,
		( SELECT COUNT (*) FROM TBL_TESTTASK t1 WHERE T1.CPUSERID =
		TASK.CPUSERID AND TASK.PLANID = T1.PLANID AND T1.COMPLETESTAUS = 1 )
		AS tj
		FROM TBL_TESTTASK task LEFT JOIN TBL_STAFF sta on
		TASK.CPUSERID=STA.STAFFID
		LEFT JOIN TBL_TESTPLAN pl on TASK.PLANID=PL.TESTPLANID WHERE PLANID
		=#{selectProjectid}
		GROUP BY TASK.CPUSERID, PLANID,STA.REALNAME,PL.PLANNAME, PL.PLANNUMBER ) aa
	</select>


</mapper>
