<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.huabo.compliance.oracle.mapper.TblComplianceManualMgtOracleMapper">
	<resultMap id="BaseResultMap"
		type="com.huabo.compliance.oracle.entity.TblComplianceManualMgtOracle">
		<!--@mbg.generated generated on Sun Mar 12 12:13:59 CST 2023. -->
		<!--@Table REDACTED.TBL_COMPLIANCE_MANUAL_MGT -->
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="MANUALNAME" jdbcType="VARCHAR"
			property="manualName" />
		<result column="VERSIONNUMBER" jdbcType="VARCHAR"
			property="versionNumber" />
		<result column="TRANSACTOR" jdbcType="INTEGER"
			property="transactor" />
		<result column="DEPARTMENTHEAD" jdbcType="INTEGER"
			property="departmentHead" />
		<result column="STATE" jdbcType="INTEGER" property="state" />
		<result column="CREATOR" jdbcType="INTEGER" property="creator" />
		<result column="WORKUNIT" jdbcType="INTEGER"
			property="workUnit" />
		<result column="BELONGGROUP" jdbcType="INTEGER"
			property="belongGroup" />
		<result column="CREATEDTIME" jdbcType="TIMESTAMP"
			property="createdTime" />
		<result column="UPDATEDTIME" jdbcType="TIMESTAMP"
			property="updatedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		<!--@mbg.generated generated on Sun Mar 12 12:13:59 CST 2023. -->
		ID, MANUALNAME, VERSIONNUMBER, TRANSACTOR, DEPARTMENTHEAD, "STATE",
		CREATOR, WORKUNIT,
		BELONGGROUP, CREATEDTIME, UPDATEDTIME
	</sql>
</mapper>