<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.central.enterprises.audit.oracle.mapper.TblCeaWeeklyExtMapper">
  <resultMap id="BaseResultMap" type="com.huabo.central.enterprises.audit.oracle.entity.TblCeaWeeklyExt">
    <!--@mbg.generated generated on Sun Sep 22 20:27:41 CST 2024.-->
    <!--@Table REDACTED.TBL_CEA_WEEKLY_EXT-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="WEEKLYID" jdbcType="INTEGER" property="weeklyId" />
    <result column="RELATIONWEEKLYID" jdbcType="INTEGER" property="relationWeeklyId" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="CREATOR" jdbcType="INTEGER" property="creator" />
    <result column="WORKUNIT" jdbcType="INTEGER" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="INTEGER" property="belongGroup" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Sep 22 20:27:41 CST 2024.-->
    ID, WEEKLYID, RELATIONWEEKLYID, "STATE", CREATOR, WORKUNIT, BELONGGROUP, CREATEDTIME, 
    UPDATEDTIME
  </sql>
</mapper>