<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.central.enterprises.audit.oracle.mapper.TblCeaIpInventoryMapper">

    <select id="getList" resultType="com.huabo.central.enterprises.audit.oracle.entity.TblCeaIpInventory">
        select t1.* from TBL_CEA_IP_INVENTORY t1
        left join TBL_STAFF t2 on t2.STAFFID = t1.USEPEOPLEID
        where (t1.creator = #{param.creator}
        <if test="param.deptIds != null and param.deptIds != ''">
           or t1.creator in (SELECT DISTINCT STAFFID FROM TBL_USER_ORGRELATION WHERE DEPTID IN (${param.getDeptIds}))
        </if>)
        <if test="param.ids != null and param.ids.size() > 0">
            and t1.id in
            <foreach collection="param.ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="param.usePeopleName != null and param.usePeopleName != ''">
            and t2.REALNAME like concat('%',concat(#{param.usePeopleName},'%'))
        </if>
        <if test="param.flagUsePeople != null and param.flagUsePeople == 1">
            and t1.USEPEOPLEID is not null
        </if>
        <if test="param.flagUsePeople != null and param.flagUsePeople == 0">
            and t1.USEPEOPLEID is null
        </if>
        order by t1.id desc
    </select>

</mapper>