<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.central.enterprises.audit.oracle.mapper.TblCeaPeopleLeaveOracleMapper">

    <select id="getList" resultType="com.huabo.central.enterprises.audit.oracle.entity.TblCeaPeopleLeaveOracle">
        select t1.* from TBL_CEA_PEOPLE_LEAVE t1
        left join TBL_STAFF t2 on t2.STAFFID = t1.STAFFID
        where 1=1
        and (t1.creator = #{param.creator}
        <if test="param.deptIds != null and param.deptIds != ''">
           or t1.creator in (SELECT DISTINCT STAFFID FROM TBL_USER_ORGRELATION WHERE DEPTID IN (${param.getDeptIds}))
        </if>)
        <if test="param.staffId != null">
            and t1.STAFFID = #{param.staffId}
        </if>
        <if test="param.staffName != null and param.staffName != ''">
            and t2.REALNAME like concat('%',concat(#{param.staffName},'%'))
        </if>
        <if test="param.staffNumber != null and param.staffNumber != ''">
            and t1.STAFFNUMBER like concat('%',concat(#{param.staffNumber},'%'))
        </if>
        <if test="param.startTime != null and param.endTime != null">
            and t1.CREATEDTIME &gt;= #{param.startTime} and t1.CREATEDTIME &lt; #{param.endTime}
        </if>
        order by t1.id desc
    </select>

    <select id="getTblCeaPeopleLeaveAllList" resultType="com.huabo.central.enterprises.audit.oracle.entity.TblCeaPeopleLeaveOracle">
        select t1.*,t3.ORGNAME
        from TBL_CEA_PEOPLE_LEAVE t1
        left join TBL_STAFF t2 on t1.staffId=t2.STAFFID
        left join TBL_ORGANIZATION t3 on t3.ORGID = t2.ORGID
        where not exists(select * from TBL_CEA_CANCEL_HOLIDAY t2 where t2.RELATIONID = t1.ID and t2.STATE = 6)
        and t1.STATE = 6
        <if test="param.staffId != null">
            and t1.STAFFID = #{param.staffId}
        </if>
        <if test="param.staffName != null and param.staffName != ''">
            and t2.REALNAME like concat('%',concat(#{param.staffName},'%'))
        </if>
        <if test="param.staffNumber != null and param.staffNumber != ''">
            and t1.STAFFNUMBER like concat('%',concat(#{param.staffNumber},'%'))
        </if>
        <if test="param.orgname != null and param.orgname != ''">
            and t3.ORGNAME like concat('%',concat(#{param.orgname},'%'))
        </if>
        <if test="param.ids != null and param.ids.size() > 0">
            and t1.ID in
            <foreach collection="param.ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by t1.ID desc
    </select>

</mapper>