<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.central.enterprises.audit.oracle.mapper.TblCeaOfficeExpensesOracleMapper">

    <select id="getList" resultType="com.huabo.central.enterprises.audit.oracle.entity.TblCeaOfficeExpensesOracle">
        select t1.*
        from TBL_CEA_OFFICE_EXPENSES t1
        where 1=1 and (t1.creator = #{param.creator}
        <if test="param.deptIds != null and param.deptIds != ''">
           or t1.creator in (SELECT DISTINCT STAFFID FROM TBL_USER_ORGRELATION WHERE DEPTID IN (${param.getDeptIds}))
        </if>)
        <if test="param.supplyBelongGroupName != null and param.supplyBelongGroupName != ''">
            and t1.SUPPLYBELONGGROUPNAME like concat('%',concat(#{param.supplyBelongGroupName},'%'))
        </if>
        <if test="param.officeExpensesTimeStart != null">
            and t1.OFFICEEXPENSESTIME &gt;= #{param.officeExpensesTimeStart}
        </if>
        <if test="param.officeExpensesTimeEnd != null">
            and t1.OFFICEEXPENSESTIME &lt; #{param.officeExpensesTimeEnd}
        </if>
        order by t1.id desc
    </select>

</mapper>