<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.central.enterprises.audit.oracle.mapper.TblCeaInsideReportedOracleMapper">
  <resultMap id="BaseResultMap" type="com.huabo.central.enterprises.audit.oracle.entity.TblCeaInsideReportedOracle">
    <!--@mbg.generated generated on Sat Oct 07 23:45:32 CST 2023.-->
    <!--@Table HBGRCTEST.TBL_CEA_INSIDE_REPORTED-->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SYMBOL" jdbcType="VARCHAR" property="symbol" />
    <result column="INSIDEREPORTEDNAME" jdbcType="VARCHAR" property="insideReportedName" />
    <result column="FILEIDS" jdbcType="VARCHAR" property="fileIds" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATOR" jdbcType="DECIMAL" property="creator" />
    <result column="WORKUNIT" jdbcType="DECIMAL" property="workUnit" />
    <result column="BELONGGROUP" jdbcType="DECIMAL" property="belongGroup" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Oct 07 23:45:32 CST 2023.-->
    ID, SYMBOL, INSIDEREPORTEDNAME, FILEIDS, "STATE", CREATOR, WORKUNIT, BELONGGROUP, 
    CREATEDTIME, UPDATEDTIME
  </sql>
</mapper>