<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.central.enterprises.audit.oracle.mapper.TblStaffOracleMapper">

    <select id="findBelongGroupIdUserInfo" resultType="com.huabo.central.enterprises.audit.vo.result.StaffResult">
        select ORGNAME as belongGroupName from TBL_ORGANIZATION where ORGID=#{orgid}
    </select>

    <select id="findWorkUnitIdUserInfo" resultType="com.huabo.central.enterprises.audit.vo.result.StaffResult">
        select ORGNAME as workUnitName from TBL_ORGANIZATION where ORGID=#{orgid}
    </select>

    <select id="findUserInfo" resultType="com.huabo.central.enterprises.audit.vo.result.StaffResult">
        select REALNAME as realName,ENTRYTIME as entryTime from TBL_STAFF where STAFFID=#{staffId}
    </select>

    <select id="findCreatorUserInfo" resultType="com.huabo.central.enterprises.audit.vo.result.StaffResult">
        select REALNAME as realName from TBL_STAFF where STAFFID=#{staffId}
    </select>

    <select id="findCreatorUserInfos" resultType="com.huabo.central.enterprises.audit.vo.result.UserInfo">
        select STAFFID as staffId,REALNAME as realName from TBL_STAFF where STAFFID in (${staffId})
    </select>

    <select id="findWorkUnitIdUserInfos" resultType="com.huabo.central.enterprises.audit.vo.result.UserInfo">
        select ORGID as workUnitId,ORGNAME as workUnitName from TBL_ORGANIZATION where ORGID in (${orgid})
    </select>

    <select id="findBelongGroupIdUserInfos" resultType="com.huabo.central.enterprises.audit.vo.result.UserInfo">
        select ORGID as belongGroupId,ORGNAME as belongGroupName from TBL_ORGANIZATION where ORGID in (${orgid})
    </select>

    <select id="findBelongGroupIdUserInfoOrgmeno" resultType="com.huabo.central.enterprises.audit.vo.result.UserInfo">
        select ORGID as belongGroupId,orgmeno as belongGroupName from TBL_ORGANIZATION where ORGID in (${orgid})
    </select>

    <select id="findUserInfoExam" resultType="com.huabo.central.enterprises.audit.vo.result.StaffResult">
        select * from TBL_STAFF where ROLEIDSTRS like '%${rid}%' and STAFFID=#{staffId}
    </select>

    <select id="findLikeUser" resultType="java.lang.Integer">
        SELECT RID from TBL_ROLE where rname = #{type} and COMPANYID =#{orgid}
    </select>
    
    <select id="getUserInfoForId" resultType="com.huabo.central.enterprises.audit.oracle.entity.TblStaffOracle">
        SELECT t1.*,t2.ORGNAME as workUnitName
        from TBL_STAFF t1
        left join TBL_ORGANIZATION t2 on t2.orgId=t1.ORGID
        where t1.STAFFID=#{staffId}
    </select>

    <select id="getUserInfoForIdMap" resultType="com.huabo.central.enterprises.audit.oracle.entity.TblStaffOracle">
        SELECT t1.*,t2.ORGNAME as workUnitName
        from TBL_STAFF t1
        left join TBL_ORGANIZATION t2 on t2.orgId=t1.ORGID
        where  t1.STAFFID in
        <foreach collection="staffIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="findUserInfoForName" resultType="com.huabo.central.enterprises.audit.oracle.entity.TblStaffOracle">
        select * from TBL_STAFF where REALNAME = #{staffName}
        <if test="orgid != null">
            and ORGID in (SELECT ORGID from TBL_ORGANIZATION where FATHERORGID=#{orgid} OR ORGID=#{orgid})
        </if>
        and ROWNUM=1 order by STAFFID desc
    </select>

    <select id="findUserInfoForWorkUnitName" resultType="com.huabo.central.enterprises.audit.vo.result.StaffResult">
        select ORGID as workUnitId,ORGNAME as workUnitName from TBL_ORGANIZATION where ORGNAME = #{workUnitName} and ORGTYPE = 0 and ROWNUM=1 order by ORGID desc
    </select>

    <select id="findUserInfoForBelongGroupName" resultType="com.huabo.central.enterprises.audit.vo.result.StaffResult">
        select ORGID as belongGroupId,ORGNAME as belongGroupName from TBL_ORGANIZATION where ORGNAME = #{belongGroupName} and ROWNUM=1 order by ORGID desc
    </select>

    <select id="findAllList" resultType="com.huabo.central.enterprises.audit.oracle.entity.TblOrganization">
        select * from TBL_ORGANIZATION where ORGTYPE &lt; 100 and ORGTYPE!=0
    </select>

    <select id="findUserAllList" resultType="com.huabo.central.enterprises.audit.vo.result.UserAllResult">
        select a.STAFFID as staffId,a.USERNAME as userName,a.realName as REALNAME,a.MIBLEPHONE as miblePhone,a.FIXEDPHONE as fixedPhone,a.EMAIL,a.MEMO,
        b.ORGNAME as orgname,a.ONDUTYSTATUS as onDutyStatus
        from TBL_STAFF a
        left join TBL_ORGANIZATION b on a.ORGID = b.ORGID
        where 1=1
        <if test="param.onDutyStatus != null">
            and a.ONDUTYSTATUS = #{param.onDutyStatus}
        </if>
        <if test="param.realName != null and param.realName != ''">
            and a.REALNAME like concat('%',concat(#{param.realName},'%'))
        </if>
        <if test="param.ids != null and param.ids.size() > 0">
            and a.STAFFID in
            <foreach collection="param.ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by a.orgid desc
    </select>

    <select id="findIdUserInfos" resultType="com.huabo.central.enterprises.audit.vo.result.UserInfo">
        select ORGID as orgid,ORGNAME as name from TBL_ORGANIZATION where ORGID in (${orgid})
    </select>

    <select id="findIdUserInfo" resultType="com.huabo.central.enterprises.audit.vo.result.StaffResult">
        select ORGNAME as name from TBL_ORGANIZATION where ORGID=#{orgid}
    </select>

    <select id="findUserJobProjectCount" resultType="java.lang.Integer">
        select count(*) from TBL_YQNS_IMPLEMENT_PLAN_TEAM where TEAM_LEADER_ID = #{userId} or FZZSTAFFID = #{userId} or ${st1}
        union all
        select count(*) from TBL_YQNS_IMPLEMENT_PLAN where PROJECT_ORDER_ID =#{userId}
    </select>

</mapper>
