<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabo.know.mapper.TblZsgxTermsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huabo.know.entity.TblZsgxTerms">
        <result column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="ISSUE_DATE" property="issueDate" />
        <result column="ISSUE_YEAR" property="issueYear" />
        <result column="SOURCE_CONTRACT_NAME" property="sourceContractName" />
        <result column="SOURCE_CONTRACT_URL" property="sourceContractUrl" />
        <result column="RELATION_RULE" property="relationRule" />
        <result column="CONTENT" property="content" />
        <result column="RISK_TIPS" property="riskTips" />
        <result column="RISK_LEVEL_CODE" property="riskLevelCode" />
        <result column="RISK_LEVEL_NAME" property="riskLevelName" />
        <result column="CONTRACT_TYPE_CODE" property="contractTypeCode" />
        <result column="CONTRACT_TYPE_NAME" property="contractTypeName" />
        <result column="INTEREST_PARTY_CODE" property="interestPartyCode" />
        <result column="INTEREST_PARTY_NAME" property="interestPartyName" />
        <result column="INDUSTRY_TYPE_CODE" property="industryTypeCode" />
        <result column="INDUSTRY_TYPE_NAME" property="industryTypeName" />
        <result column="TERMS_TYPE_CODE" property="termsTypeCode" />
        <result column="TERMS_TYPE_NAME" property="termsTypeName" />
        <result column="CREATE_COMPANY" property="createCompany" />
        <result column="CREATE_DEPT" property="createDept" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TITLE, ISSUE_DATE, ISSUE_YEAR, SOURCE_CONTRACT_NAME, SOURCE_CONTRACT_URL, RELATION_RULE, CONTENT, RISK_TIPS, RISK_LEVEL_CODE, RISK_LEVEL_NAME, CONTRACT_TYPE_CODE, CONTRACT_TYPE_NAME, INTEREST_PARTY_CODE, INTEREST_PARTY_NAME, INDUSTRY_TYPE_CODE, INDUSTRY_TYPE_NAME, TERMS_TYPE_CODE, TERMS_TYPE_NAME, CREATE_COMPANY, CREATE_DEPT, CREATE_BY, CREATE_TIME, UPDATE_TIME, UPDATE_BY, DELETED
    </sql>

</mapper>
